[2021-10-03 17:38] berry120 commented on #420
@ashaheed00 - please don't take issues assigned to others - we won't accept PRs unless you've been assigned a specific issue.

[2021-10-03 18:10] #414 closed

[2021-10-03 18:20] berry120 commented on #436
@ashaheed00 Once again, please **do not** open pull requests for issues you haven't been assigned, *especially* those labelled as good first issues. If you want to take one of these on, please comment on an unassigned or available issue and say so, and then wait to be assigned.

I realise not everyone may be familiar with the process or etiquette, but this is now the second time we've had to ask a

[2021-10-03 18:22] berry120 commented on #409
@ramisha-anwer Thanks, please go ahead!

[2021-10-03 18:29] #396 closed

[2021-10-03 18:31] #438 closed

[2021-10-03 19:13] thevibhu commented on #445
@berry120 could you please review this PR https://github.com/quelea-projection/Quelea/pull/455 ?

[2021-10-03 19:24] #445 closed

[2021-10-03 20:40] berry120 opened #457 "Enable desktop open file handler in Main"
In Main.java, we left some code in place to register the open file handler - but this is commented out as it was Java 9+ only, and we were using Java 8 at the time. Now we're using Java 11 it should be uncommented and left in place (the relevant lines are 287-302.)

As well as uncommenting this code:
 - The "Only supported in Java 9+" comment should be removed
 - The relevant imports should be add

[2021-10-03 20:41] berry120 opened #458 "Remove redundant private modifier for enum constructors"
The `private` visibility is implicit for enum constructors, so we don't need to specify it. It should be removed from the following places:

 - NoticeDrawer, line 53
 - DisplayCanvas, line 82
 - VersionType, line 16

[2021-10-03 20:43] berry120 opened #459 "Remove redundant public modifier for interface members"
All members (inner classes, methods) of an interface are implicitly public, there's no need for us to specify the `public` visibility modifier. It should thus be removed from:

 - SearchIndex, line 33
 - ScheduleThemeNode, line 62

[2021-10-03 20:44] berry120 opened #460 "Clear up duplicate "throws" statements"
We have instances of a method declaring throwing a more specific subtype of a more general exception that's already thrown. These more specific exceptions are therefore redundant and can be removed:

 - RCHandler, line 288
 - OpenLyricsWriter, line 107
 - OOPresentation, line 403

[2021-10-03 20:47] berry120 opened #461 "Replace object check with requireNonNullElseGet"
In SurvivorSongbookParser, lines 70-75, we're doing a manual null check, and then returning an empty list if null.

Instead, we should be using the `Objects.requireNonNullElseGet()` method to achieve the same thing in a single line.

[2021-10-03 20:49] berry120 opened #462 "Use `Map.of()` in ProPresenterParser constructor"
At present, in the `ProPresenterParser` constructor (lines 64-69) we're creating a map manually, putting the required key value pairs in it, and then assigning the field to be an unmodifiable version of that map.

In Java 9+, this can all be collapsed into a single statement using `Map.of()`, which is what we should do here. (In terms of formatting, can each map entry please be on a separate line

[2021-10-03 22:07] Alpha-Knight-Zero commented on #461
I have done this and sent a pull request.

[2021-10-03 22:17] #461 closed

[2021-10-04 01:15] izzy-el commented on #459
Hey! I'd like to contribute! Can I take this issue?

[2021-10-04 01:20] Caresle commented on #458
Hi, I think i can do this, can i take this issue?

[2021-10-04 02:09] subhamgcon commented on #460
@berry120 Please assign me this issue.

[2021-10-04 04:26] gajeet11000 commented on #457
May I work on this one?

[2021-10-04 05:58] ashaheed00 commented on #436
@berry120  I apologize for the inconvenience. I was not aware of the process. Thanks.

[2021-10-04 06:16] Monica-Chhabria commented on #462
can you please assign this to me

[2021-10-04 06:17] berry120 commented on #462
All yours!

[2021-10-04 06:19] berry120 commented on #457
@gajeet11000 Sorry, we're limiting the good first issues to one per contributor at present.

[2021-10-04 06:21] berry120 commented on #458
All good this time as no-one else grabbed it, but in general best to wait until we've confirmed you're assigned to the issue before raising the PR 👍

[2021-10-04 06:23] #458 closed

[2021-10-04 06:24] berry120 commented on #460
@subhamgcon Afraid we're limiting these good first issues to one per contributor at the moment because of popularity.

[2021-10-04 06:25] berry120 commented on #459
@izzy-el all yours!

[2021-10-04 06:31] subhamgcon commented on #460
Okay. Thank you.

[2021-10-04 06:51] #436 closed

[2021-10-04 08:01] developer-ishan commented on #460
@berry120 assign this issue to me

[2021-10-04 08:22] berry120 commented on #460
All yours!

You need to remove any exceptions thrown which are subclasses of other exceptions thrown. So in this case, you need to remove `TransformerConfigurationException`, as that's a subclass of `TransformerException`.

[2021-10-04 08:37] developer-ishan commented on #460
Understood

[2021-10-04 12:53] #459 closed

[2021-10-04 12:59] ramisha-anwer commented on #409
@berry120 I have made the changes kindly check my PR #466

[2021-10-04 13:47] Qiwen-Yu commented on #393
@berry120 I will be working on the following files then:
Clock.java
ColourBackground.java
CreateTimerPanel.java
DesktopApi.java
Dialog.java
EditThemeDialog.java
EditThemeScheduleActionHandler.java
ExitActionHandler.java
ExportMenu.java
FileMenu.java
FontSelectionDialog.java

[2021-10-04 13:48] berry120 commented on #393
@Qiwen-Yu That's great, thanks!

[2021-10-04 15:05] ashaheed00 commented on #457
Hi, can I take this one up?

[2021-10-04 15:10] saketmundra commented on #393
Can I work on this for rest of the files...?

[2021-10-04 16:33] berry120 commented on #393
@saketmundra Not all of them I'm afraid just to give others the chance too, pick around 10 or so and list them here 👍

[2021-10-04 16:38] neog5 commented on #393
Can I work on the following files?
PPTPresentation.java
PreferencesDialog.java
QuickEditDialog.java
Schedule.java
SchedulePanel.java
ScheduleThemeNode.java
SelectSongsDialog.java
SlideThumbnail.java
SongEntryWindow.java
SpellingDialog.java

[2021-10-04 18:03] berry120 commented on #457
@ashaheed00 all yours!

[2021-10-04 19:46] #420 closed

[2021-10-05 11:25] berry120 commented on #395
@kanumalivad Can you confirm you're still planning to work on this? (Otherwise we'll clear it for someone else to take.) Thanks!

[2021-10-05 15:52] #457 closed

[2021-10-05 18:07] Monica-Chhabria commented on #462
Working on it .Will submit PR tomorrow

[2021-10-06 12:45] ArvidNy commented on #380
Sure, we can close this. I just tried the CI release and that worked as expected (though the 2021.0 release still doesn't work without the previously mentioned workaround). Just noticed though that we have two Mac files in the CI where only one worked for me. Perhaps we should remove the file `quelea-2022.0-mac.zip`?

[2021-10-06 12:45] #380 closed

[2021-10-06 12:59] berry120 commented on #36
@ArvidNy Very good point, didn't consider that. We'll need to have a play with the colours or background since it wouldn't be very visible otherwise, but I definitely think that's better than using an English letter that might be meaningless to some users.

[2021-10-06 13:02] berry120 commented on #377
@perfectsoundandvideo Thanks for confirming!

[2021-10-06 16:32] Monica-Chhabria commented on #462
submitted pr

[2021-10-06 17:17] #462 closed

[2021-10-07 08:47] kanumalivad commented on #395
@berry120 Apologies for the delayed response.

[2021-10-07 08:50] berry120 commented on #417
@mhechavarria Are you still planning on working on this one?

[2021-10-07 11:02] rushikeshadhav commented on #446
@berry120  Hey, I am unable to find location of SofParser.
I have to replace substring with charAt().
I have done changes in SequenceSelectionDialog at lines 340, 343

[2021-10-07 16:29] rushikeshadhav commented on #446
Created Pr.
Kindly review.
Thanks

[2021-10-08 00:07] berry120 commented on #402
@avikkundu Could you confirm you're still planning to work on this? If we don't receive a PR in the next couple of days I'm afraid we'll need to open the issue up to others again.

[2021-10-08 00:11] berry120 commented on #435
@vishal675 Are you still planning to work on this? If we could have a PR in the next couple of days that'd be great, otherwise we'll need to open it back up in the interest of fairness. If you need any help just shout 👍

[2021-10-08 03:40] rushikeshadhav commented on #417
Can I take this up if @mhechavarria  is not working ?

[2021-10-08 08:03] berry120 commented on #417
@rushikeshadhav We're limiting contributions to one per contributor at the moment I'm afraid.

[2021-10-08 12:14] tulikavijay commented on #397
@berry120 thanks for informing I will keep this in mind.

[2021-10-08 14:59] avikkundu commented on #402
has made a pull request.

[2021-10-09 10:33] berry120 opened #477 "ProPresenterParser - use method references"
In ProPresenterParser, lines 65-67, we can replace the `(s, n) -> getSectionTextLegacy(s, n)` parts with lambda method references.

[2021-10-09 10:36] berry120 opened #478 "Implicit uses of `toString()` on array should be replaced with `Arrays.toString()`"
ImageGroupDisplayable, line 56
Schedule, line 225

...both have implicit calls to `toString()` on an array, which returns a meaningless string. Instead, we should call `Arrays.toString(array)` to return meaningful logs / exception messages.

[2021-10-09 10:38] berry120 opened #479 "Replace magic constant on CreateTimerPanel"
CreateTimerPanel, line 318 uses `0` as a magic constant instead of referencing `Calendar.AM`, which is much less readable and more error prone. Should change to using `Calendar.AM` instead.

[2021-10-09 10:39] berry120 opened #480 "Use Font.PLAIN instead of magic constant"
PresentationSlide, lines 123 & 126

...uses `0` to represent a plain font style - we should use `Font.PLAIN` instead.

[2021-10-09 10:46] rushikeshadhav commented on #477
CAN i work ?

[2021-10-09 12:29] berry120 commented on #480
@saurabh042 all yours!

[2021-10-09 12:53] berry120 commented on #477
@umair-fayaz All yours!

[2021-10-09 13:58] saurabh042 commented on #479
Sure, no problem.

Cheers

[2021-10-09 14:12] akulagrawal commented on #478
Please let me pick this one. Thanks

[2021-10-09 14:48] #478 closed

[2021-10-09 17:31] #480 closed

[2021-10-09 17:37] berry120 opened #483 "Remove unused names set from ExportPDFScheduleSongsActionHandler"
ExportPDFScheduleSongsActionHandlerhas a field, names, which isn't used (it's cleared at some point, but that's it.) We should thus remove this field and any references to it.

[2021-10-09 17:41] berry120 opened #484 "Remove NoticesChangedListener collection from NoticeDrawer"
The NoticeDrawer maintains a list of NoticesChangedListener objects, but nothing actually happens with these. The field, any references to it, the `addNoticeChangedListener()` method, and any references to that should all be removed to tidy up the codebase.

[2021-10-09 17:45] berry120 opened #485 "compareTo should check less than 0, not ==-1"
The result of the `compareTo()` method should always use `<0` `0` or `>0` to check the result - it shouldn't match any other value exactly (like `-1`.)

In UpdateCheck, line 54, that's exactly what we're doing though - it should instead check for `<0`.

[2021-10-09 19:43] JohnLennox commented on #485
I would like to do this,
Please assign to me

[2021-10-09 20:55] #485 closed

[2021-10-09 21:57] jthuynh commented on #479
Can I work on this?

[2021-10-09 22:00] berry120 commented on #479
@jthuynh Sure!

[2021-10-09 22:03] DuebelWalter opened #487 "The Songs in Database View dont scroll automatic"
Hello,
when I display a song live, at some point I can no longer see where I am in the song. because the database view does not scroll automatically.
I always have to scroll manually.
If the View is scrolled automatic i can get a preview what comes after the actual slide.

I have added images to better explain my problem

1. Everything is ok
![InkedFirst Half of Song_LI](https://user-images.github

[2021-10-09 22:12] DuebelWalter opened #488 "Standard translation dont work with New Song: Add to schedule"
When I made a new Song with a translation, and check "Add to Schedule" the translation isn't activated.
I activated the Standard translations in the options

Workaraund
Save the song
Put it to the Schedule from the Database.

It is no big Problem for me, i just found this behaviour.

[2021-10-09 22:25] #479 closed, assigned to jthuynh

[2021-10-10 07:46] #477 closed

[2021-10-10 07:48] berry120 commented on #487
Thanks - happy to have this functionality in place, but we should also add it as an option in case not everyone wants this behaviour 👍

[2021-10-10 13:08] DeeTigIT opened #492 "Content display update issue"
Preview pane doesn't refresh after previewing some database songs and returning tot order of service song.

Reference : https://quelea.discourse.group/t/content-display-update-issue/710

I have version 2021.0 installed on Windows 10 pro.
I don’t quit know what to call this so I will attempt to describe it.
Here is the problem.
-     Load something(Item 1) in order of service.
-     click on one of

[2021-10-10 14:27] mhechavarria commented on #417
Hey @berry120, I’m sorry for the delay. I have the changes ready in my fork, to which branch do you want me to make de PR?

[2021-10-10 14:37] berry120 commented on #417
@mhechavarria please target it at master 👍

[2021-10-10 15:16] mhechavarria commented on #417
Done, please review it! https://github.com/quelea-projection/Quelea/pull/493

[2021-10-10 19:45] berry120 commented on #393
@saketmundra There's 9 of these left now - so you (or anyone else!) can take all that are left in a single PR  👍

[2021-10-10 19:52] berry120 commented on #460
@developer-ishan Are you still planning to work on this? Afraid unless we receive a PR for this in the next day or two, we'll need to clear it for some else to have a go. Thanks!

[2021-10-12 20:12] #428 closed

[2021-10-13 17:24] Bahukhandi93 commented on #460
@berry120 Yes! Thank you! :)

[2021-10-13 17:25] berry120 commented on #460
@Bahukhandi93 All yours!

[2021-10-13 18:44] Bahukhandi93 commented on #393
Hey! Please assign this issue to me if there are still some files left. Thank you!

[2021-10-15 14:52] JessyJP opened #499 "Notes or images on for preview for musicians in the remote app during live performance"
Are there any features or any way to have Notes or images on for preview for musicians in the remote app during live performance?
I might want to write a sentence such as a tempo some variations or extra cords.
Or is there a way to put comments in the song that do not show up on the main screen but are visible for the musicians?
Comments that behave like chords but not cords.

[2021-10-16 03:22] micahlt opened #500 "Updated splash screens for 2022.0?"
The current splash screens for Quelea [(default)](https://github.com/quelea-projection/Quelea/blob/master/Quelea/icons/splash-bare.png?raw=true) are a little bit outdated and could at very least be polished up to look more modern and fit Quelea's interface better.  @berry120 and @ArvidNy, would you guys be interested if I submitted a new (but similar) concept for the splash screens?

[2021-10-17 11:21] dsfb commented on #273
Thanks, @berry120!
And I am sorry for this!

[2021-10-17 12:14] Bahukhandi93 commented on #460
@berry120 Just wanted to ask by when will the pull request be accepted. Thank you :)

[2021-10-18 07:04] prakhar-198 commented on #460
Is something left to be fixed ...please asign me if it is.

[2021-10-19 15:16] shuddhi-jain opened #504 "display anonymous scroll without database"

[2021-10-19 15:17] shuddhi-jain opened #505 "database problem"
@santteegt

[2021-10-19 22:10] douglaskorgut commented on #409
if any left, I'll be happy to do it :)

[2021-10-20 12:13] berry120 commented on #393
@prakhar-198 thanks!

[2021-10-21 21:14] #504 closed

[2021-10-22 17:02] DuebelWalter opened #507 "Idea for Theme Manager: Specify Title of Translation Font menu"
In the theme manager, in the menu where you can set the font for the translation, the menu title is: "Font". I would suggest to make the title more unique.

I had thought of something like: "Translation Font" or "Font of Translation".

I can change the title in the English and the German translation.
Could someone else tell me how to properly forum the title in English. Since I am not sure if my s

[2021-10-24 16:30] #507 closed, assigned to nobody

[2021-10-25 07:56] tulikavijay opened #509 "project generates .xml files"
@berry120 While creating a PR, I saw that .idea/*.xml files are getting created and they are not ignored in the .gitignore file

[2021-10-31 09:42] #509 closed

[2021-10-31 12:47] Reghill commented on #393
@berry120 Is there any additional files left to be worked on? I would like to take them if there are any left..

[2021-10-31 13:07] Reghill commented on #409
Could you please assign this to me? I would like to take up some of the remaining files.

[2021-10-31 14:14] berry120 commented on #409
@Reghill Sure, post the ones you want to take 🙂

[2021-10-31 16:33] Reghill commented on #409
I would like to take

ImageGroupPreview
ImageListPanel
IntegerTextField
LineTypeChecker
LivePanel

Thanks!

[2021-10-31 17:33] Reghill commented on #393
I would like to pick up the following files:
SlideThumbnail.java
SpellingDialog.java
SelectSongsDialog.java
SchedulePanel.java
ScheduleThemeNode.java

[2021-11-01 06:26] Guannan-Shen commented on #393
Can I work on the following files:

PreferencesDialog.java
QuickEditDialog.java
Schedule.java
SongEntryWindow.java

Thank you!

[2021-11-01 06:54] berry120 commented on #393
@Guannan-Shen All yours!

[2021-11-02 19:51] micahlt commented on #500
All right, here are those more radical concepts I was talking about.  I'm honestly not a giant fan of all of them, but I think some are pretty decent.  Any positive or negative feedback is appreciated 😊

![Quelea-concept-1](https://user-images.githubusercontent.com/28816297/139940076-d11c0ca8-28d7-4050-95ea-f019826fc712.png)
![Quelea-concept-3](https://user-images.githubusercontent.com/28816297/13

[2021-11-03 11:41] berry120 commented on #500
Very nice! I think either the first or third one is my favourite - not sure if that lines up with your opinions or not?

[2021-11-03 12:23] micahlt commented on #500
The first one is definitely my favorite - it maintains the Quelea identity with the feather but is a lot more modern.  The third is also high on my list, but it's a little too generic in my opinion.

[2021-11-03 21:13] berry120 commented on #500
Yup, I think that's my reaction too. Nice to have the feather there as a bit of a Quelea-esque touch :)

[2021-11-04 12:20] micahlt commented on #500
Sure!  Always good to have that brand differentiation, even in a FOSS project 🙂  So do you think it's worth me making a PR at this point?

[2021-11-04 12:44] berry120 commented on #500
Sure, sounds good - could you produce similar beta / nightly splash screens as well based on that first design so we have them all in sync?

[2021-11-04 12:52] micahlt commented on #500
Definitely!  I'm currently at a cabin where I have no WiFi, but I'll have a PR ready by next week.

[2021-11-05 13:25] syspir commented on #220
Import function with overwriting would be very useful, I work on several computers and it's hard to have a consistent base now, and manually deleting it's hard when over 200 songs are duplicated.

[2021-11-06 21:58] Dazmed707 commented on #500
interesting, it would be good a new presentation and support for macOS monterrey and the new windows 11 with icons that adapt to the new systems to read 2022.0

[2021-11-07 09:15] DeeTigIT opened #513 "Error message loading bible still refers to quelea googlegroups"
Error message loading bible still refers to quelea googlegroups (instead of https://quelea.discourse.group/).

![S1](https://user-images.githubusercontent.com/39883796/140639217-4ebe912c-d922-4fed-bdd5-1efe7af9b335.JPG)

[2021-11-07 13:31] berry120 commented on #513
Hey, is this the same in the CI release as well? I feel like this is sorted as we removed the functionality to upload files for analysis (and so fixed that at the same time) but I could be mistaken.

[2021-11-07 17:07] DeeTigIT commented on #513
In the latest CI as well : the literal "quelea-discuss@googlegroups.com".

![S1](https://user-images.githubusercontent.com/39883796/140654307-c38abb17-b5cf-4a7e-93f2-7e63e587f476.JPG)

[2021-11-07 19:14] #393 closed

[2021-11-07 19:14] #409 closed

[2021-11-07 19:45] berry120 commented on #513
Hmm, are you sure it's definitely this release that you're using? (https://github.com/quelea-projection/Quelea/releases/tag/CI-RELEASE) - I've just grabbed it but don't see that message at all.

[2021-11-07 19:46] berry120 commented on #273
@DeeTigIT This should now work in the latest CI release.

[2021-11-07 19:46] #273 closed

[2021-11-07 20:04] #36 closed

[2021-11-08 06:52] illkid26 opened #515 "Zionworx 導入中文歌詞出現亂碼"
Zionworx database-Import 會顯示亂碼。
導入文本歌詞入數據庫時，歌詞標題顯示未知，歌詞內容為亂碼
![QUELEA](https://user-images.githubusercontent.com/93903049/140696778-8283d13b-ab31-4734-b285-10e24d92df64.jpg)
。

[2021-11-08 06:54] illkid26 commented on #515
![QUELEA1](https://user-images.githubusercontent.com/93903049/140697126-61944390-42bc-47e3-aba9-34b4dbc11d9c.jpg)

[2021-11-08 07:39] berry120 commented on #515
Hey, am I correct in assuming that Quelea doesn't import Chinese characters
from Zionworx correctly?

On Mon, 8 Nov 2021, 06:54 illkid26, ***@***.***> wrote:

[2021-11-08 11:40] Dazmed707 opened #516 "Support for windows 11?"
quelea 2022 works fine on windows 11?

[2021-11-08 19:46] DeeTigIT commented on #513
You are right here, I did the test with the wrong Quelea runtime.

With the latest CI cross-platform version:
- importing an erronious bible-xml file:
-- no error message pop-up is given
-- the bible is added to the c:\Users\<account>\.quelea\bibles\
-- the command box reports a fatal error: see Appendix 1)
-- The erronious bible can't be selected in Quelea.
- closing Quelea and restart:
-- no err

[2021-11-09 18:39] DeeTigIT commented on #273
Indeed, thanks!

[2021-11-10 07:47] berry120 commented on #516
Should do, but not something we've tested. Are you having an issue with Windows 11?

[2021-11-13 02:34] Dazmed707 commented on #516
In options, the ok button does not appear to save changes

the menu must be maximized to full screen for the button to appear

sometime i will try 2022.0

That problem is in 2021.0

[2021-11-15 07:20] illkid26 commented on #515
Zionworx 2.6 database Garbled characters when importing Chinese lyrics

[2021-11-21 10:23] Youngwily opened #517 "Schedule with Revelations won't reopen"
If a schedule is created and saved, and it contains any verses from Revelation, then the Schedule wont reopen. Does not seem to affect any other Bible books
using version 2021.0

[2021-11-21 16:58] DeeTigIT commented on #517
Here's a sample schedule (packed in  a zip) with a song followed by a revelation verse.
Upon opening the schedule nothing is shown in Quelea.

![schedule content](https://user-images.githubusercontent.com/39883796/142771541-0be65d88-4bcc-49df-b0ff-8d491449a2b5.JPG)

[NIV test.zip](https://github.com/quelea-projection/Quelea/files/7576674/NIV.test.zip)

[2021-11-24 12:46] Youngwily commented on #367
Update - the problem with song sequence corruption appears to happen when copying the song to the schedule, rather than adding it. If added the song is the same as in the database.
If copied then the corruption appears as set out above (no translation involved)
It also seems that songs exported and imported on another computer are also corrupted if they have a sequence.
I think I may have to go th

[2021-11-26 23:55] berry120 commented on #513
Should now be fixed in the CI release - thanks for reporting!

[2021-11-26 23:55] berry120 commented on #516
Can you attach the debug log? That may help us to work out what's failing.

[2021-11-27 00:05] berry120 commented on #517
Sorry, mixed the messages up but should now be fixed in https://github.com/quelea-projection/Quelea/commit/ce2003fc88171fb6f79a01a56a64bebc6a85c1ff

[2021-11-27 00:05] #517 closed

[2021-11-27 00:05] berry120 commented on #513
Sorry, mixed up the messages - ignore me!

[2021-11-27 00:12] berry120 commented on #513
Ok, so this should now be fixed (properly this time.)

I think the only bit of the behaviour there that I don't agree with is the silent failure when an invalid bible is added - we should display a message saying it's invalid and *not* copy it across to the bibles directory which should now happen.

Corrupt files already in the folder will throw an exception silently when Quelea tries to load them

[2021-11-27 00:12] #513 closed

[2021-11-27 00:29] #367 closed

[2021-11-27 00:30] berry120 commented on #367
Should now be fixed in the latest PR - sorry for the delay in this one, was (hopefully) a simple fix after you guys pointed out it was about copying the song to the schedule.

@Youngwily You shouldn't need to remove the song sequences as this was just a display issue rather than anything that should have corrupted the database - hopefully in the CI release it should all now work ok.

[2021-11-27 00:35] #346 closed

[2021-11-27 00:35] berry120 commented on #346
I think I must have been in paranoid mode when looking at adding this as an option before - I really don't see any security implications with enabling it, so we'll just enable it across the board from 2022.0 (and in the current CI.)

[2021-11-27 00:37] berry120 commented on #500
@micahlt Hey, just checking you're still ok to get these splash screens to us at some point? No rush, but I'm planning on hopefully rolling out a beta release of 2022.0 reasonably soon, so if we could get them in there for that it'd be fantastic!

[2021-11-27 00:40] micahlt commented on #500
Yes!  The reason for the delay is that the source file is on my work PC and I keep forgetting to transfer it to my personal PC.  I should be able to do so on Tuesday and have a PR in very soon!

[2021-11-27 00:44] berry120 commented on #500
@micahlt No worries, thanks very much for the heads up! 👍

[2021-11-27 01:04] #374 closed

[2021-11-27 01:18] #492 closed

[2021-11-27 01:18] berry120 commented on #492
Should now be fixed 👍

[2021-11-27 01:19] #372 closed

[2021-11-27 01:36] berry120 commented on #515
I've had a look at this, but unfortunately the tool that we're using to extract the data from the TurboDB database doesn't seem to support UTF-8 characters properly. This isn't a Java library, it's a proprietary windows program and, AFAIK, there's no open source implementation available that we can use instead.

As such it's a dependency bug where there's nothing much we can do about it I'm afraid

[2021-11-27 05:47] DeeTigIT commented on #513
Thanks for solving!

- Loading a new, invalid xml-bible:

![S1](https://user-images.githubusercontent.com/39883796/143669513-0a323b55-2c15-4529-8d56-7fe482600cc9.JPG)

The erroneuous xml-bible is not copied to the .quelea\bibles folder.

- An invalid xml-bible (manually placed) .quelea\bibles folder

Throws an exception silently when Quelea tries to load it.

[Fatal Error] :1314:5: The element typ

[2021-11-27 23:43] DuebelWalter commented on #367
In my test of the newest CI-Release the song sequence works perfect, even with translations.
Thank you a lot for fixing this issue, this makes my work on new songs much easier.

[2021-11-28 17:35] DeeTigIT commented on #116
Was this solved in Quelea 2021 release? In that case this issue can be closed.  :-)
(I can reproduce it in Q 2020, but not in Q 2021)

[2021-11-28 17:38] berry120 commented on #116
@DeeTigIT I think so, but not entirely sure as my memory isn't great! We'll close it off but can reopen if it's still a problem.

[2021-11-28 17:38] #116 closed

[2021-11-28 17:47] PaulD987 commented on #116
Not sure it was completely fixed.... I delivered a fix under PR #332 which I think made things a lot better. I made a comment in the PR that it made things better, but wasn't a complete fix (but I can't remember now what I thought was still missing!). In any case, I think it is considerably better now, so maybe worth keeping closed unless someone can come up with an exact use case where it doesn't

[2021-11-28 18:18] berry120 commented on #116
@PaulD987 Yup, I think that sounds like a plan 👍

[2021-11-29 20:40] micahlt commented on #500
@berry120 The PR has been made (#518) 🎉

[2021-11-29 22:42] #500 closed

[2021-12-01 15:58] Youngwily commented on #367
I have also downloaded and tested the latest CI and the song sequence is good when copying the song to the schedule.

[2021-12-05 05:06] micahlt commented on #392
@berry120 Kind of the same issue in #369 - it might be helpful to establish a boundary line of exactly how much compatibility you want to strive for and for how long.

[2021-12-05 06:48] berry120 commented on #392
@micahlt Going to be much more strict about backwards compatibility in this issue than the other one I'm afraid. The other issue I'm reasonably flexible on as it only involves old browser compatibility. This involves old *app* compatibility (unless we run two servers, which I'm not keen on) and ideally I really don't want older versions of the Quelea app to just stop functioning after an upgrade w

[2021-12-05 14:01] ricardomvalverde opened #520 "Planning Centre integration is not working properly"
I don’t know whether the issue occurs when there are specific parameters filled up in planning centre or when the API tries to retrieve a great amount of data.

I tried on 2021 as well on latest 2010 versions and it didn’t work. I capture some data in quelea-debug.log that probably may help to find what is causing that error:
Nov 03, 2021 8:50:32 PM org.quelea.services.importexport.PlanningCenterO

[2021-12-05 14:06] ricardomvalverde opened #521 "Easyworship 2009 database import is runnning with unicode issues"
I´m trying to import a Easyworship 2009 database with Brazilian Portuguese songs (with accents) and some characters weren't recognised.
You can realise that the strange characters are present on this screen capture due to unicode  issue. I don't know if that is an option on the software I haven't enabled or if is wasn't encoded.
![import_unicode_issues](https://user-images.githubusercontent.com/95

[2021-12-05 17:21] VelocityDesign commented on #119
+1

[2021-12-05 18:02] berry120 commented on #119
@VelocityDesign If you could 👍 the original post rather than comment +1, that'd help with measuring popularity. Thanks!

[2021-12-05 18:15] VelocityDesign commented on #119
Got it :)

[2021-12-05 23:43] berry120 commented on #520
Had a go at fixing this - I think I've narrowed down the issue in any case. Could you try again with the latest CI and let me know if there's any improvement, or if not any difference in the error message?

[2021-12-06 22:58] ricardomvalverde commented on #520
Hi Berry! Thanks for you effort to fix this issue.
I've downloded the 2022 CI version (https://github.com/quelea-projection/Quelea/releases/download/CI-RELEASE/quelea-CI-UNSTABLE-x64-windows-install.exe) and tested the Planning Center integration.
It didn't work, but the error is different, as you can see below.
As I mentioned, if you want to test with my Planning Center account, I can share it wi

[2021-12-06 22:59] ricardomvalverde commented on #521
Just to inform I tested in 2022 CI version and it has the same problem.

![image](https://user-images.githubusercontent.com/95576218/144936341-7689ac48-b98a-4cd6-b681-43d9e54a4b1f.png)

[2021-12-06 23:30] berry120 commented on #520
@ricardomvalverde Let's stick with this for now and if it takes too long or I get stuck, we can fall back to grabbing credentials and going from there :-)

Made another change - could you give the CI release another try?

[2021-12-06 23:36] ricardomvalverde commented on #520
Of course. I'm downloading and I'll report soon.

[2021-12-06 23:37] berry120 commented on #520
@berry120 Ah sorry, you're too fast - new CI release isn't actually built yet! I'll ping you here when it's up.

[2021-12-06 23:50] berry120 commented on #520
@ricardomvalverde Up now 👍

[2021-12-06 23:53] ricardomvalverde commented on #520
I tested and the error now is on "ItemNote".

Dec 06, 2021 8:50:36 PM org.quelea.windows.main.MainPanel <init>
INFO: Creating split panels

Dec 06, 2021 8:50:36 PM org.quelea.windows.main.MainPanel <init>
INFO: Created main panel

Dec 06, 2021 8:51:10 PM org.quelea.services.importexport.PlanningCenterOnlineImportDialog$UpdatePlanTask call
WARNING: Exception with parser
java.lang.IllegalArgumentExc

[2021-12-07 00:08] ricardomvalverde commented on #520
"Ah sorry, you're too fast - new CI release isn't actually built yet! I'll ping you here when it's up."
No problem! I realised the version was 1059 when I tried to downloaded and I waited till it changed to 1060. :-)

[2021-12-07 00:29] ricardomvalverde commented on #520
On build 1061, "ItemNote" exception as well.

Dec 06, 2021 9:26:24 PM org.quelea.windows.main.MainPanel <init>
INFO: Creating split panels

Dec 06, 2021 9:26:24 PM org.quelea.windows.main.MainPanel <init>
INFO: Created main panel

Dec 06, 2021 9:27:10 PM org.quelea.services.importexport.PlanningCenterOnlineImportDialog$UpdatePlanTask call
WARNING: Exception with parser
java.lang.IllegalArgumentExc

[2021-12-07 09:31] berry120 commented on #520
@ricardomvalverde Is the error any different with build 1062? If there's no change, then ping me at berry120@gmail.com and we can sort out getting access to your planning centre account to try and hopefully fix this a bit quicker :-)

[2021-12-07 16:12] ricardomvalverde commented on #520
The same error with build 1062. I'll send my Planning Center credentials to your mail.

Dec 07, 2021 1:08:03 PM org.quelea.windows.main.MainPanel <init>
INFO: Created main panel

Dec 07, 2021 1:08:53 PM org.quelea.services.importexport.PlanningCenterOnlineImportDialog$UpdatePlanTask call
WARNING: Exception with parser
java.lang.IllegalArgumentException: Included section contains unknown resource t

[2021-12-08 21:30] DuebelWalter opened #522 "Quelea songpack multiplies verses & etc. when Song sequence is used"
I exported songs on my PC to Quelea Song Pack and reimported them on our Church PC.
After the Reimport The verses and Chorus, etc. was in the song sequence (as it should be). and also as real Text in the Song Field.
I made picture of a song before and one after the export.
I worked with Quelea 2022 Beta 1

The Song before the export:
![Screenshot 2021-12-08 222141](https://user-images.githubuserco

[2021-12-11 10:46] Dazmed707 opened #523 "Resize presetations .pptx and .pdf"
Quelea Could you improve the presentation part?
that power point slides can be previewed in a larger size... please and thank

[2021-12-12 09:27] DeeTigIT commented on #520
I've tested with the latest CI-release.
When trying to import: nothing is shown
**Is that by design?**

![S1](https://user-images.githubusercontent.com/39883796/145706987-99590532-e785-4f00-940d-6f544519b2a1.JPG)

With the previous CI's this was different:

![S2](https://user-images.githubusercontent.com/39883796/145707014-184c3ce7-ae00-4d34-8d63-5c2b16d6feda.JPG)

The following post describes my

[2021-12-12 09:41] berry120 commented on #520
@DeeTigIT The issue that @ricardomvalverde was having (once we fixed the initial import exceptions at least!) was that it was importing all the old services, but none of the newer ones (since it's capped at 25 or so by default, and bringing in all the old services would take ages and wouldn't be much use.)

As a result, I decided that, by default, the best behaviour might be to bring in all the se

[2021-12-12 09:43] berry120 commented on #89
@joncojonathan Yes, that should be the correct behaviour.

[2021-12-12 09:48] berry120 commented on #315
Closing this one off now as the newer Macs won't ship with touchbars, so I'm not sure this is something that's worth supporting any longer.

[2021-12-12 09:48] #315 closed

[2021-12-12 10:02] DeeTigIT commented on #520
An idea that pops up: perhaps add an import/export property for Planning Center "**max schedule days back**" (default: 30) . For Elevanto there is already an import/export property.

![afbeelding](https://user-images.githubusercontent.com/39883796/145708060-af3964a5-2025-446b-b622-5ec9650a75e2.png)

[2021-12-12 11:26] ricardomvalverde commented on #520
Hi DeegTigIT! I explained to Berry that in my case, the integration is used to prepare the schedule exactly with the same lyrics adopted by music minister in Planning Centre. So, particularly, it has no benefit to view only old dates than current day, since I couldn't import the lyrics, forcing to input this data manually in Quelea.

This functionality I suggested is based on software projection P

[2021-12-12 11:49] DeeTigIT commented on #520
Hello Ricardo, Berry,
Such a case could be: suppose the worship team starts preparing the schedule in Planning Center at the beginning of the week. And the projection team imports the PC schedule in Quelea at saturday evening, the day before the service. Looking for PC schedules with exact the current day then results in no hits. In other words: Q has to look back a number of days in time to selec

[2021-12-12 12:05] ricardomvalverde commented on #520
Hi @DeeTigIT. I couldn't comprehend your specific case. Imagine worship team starts preparing the schedule in Planning Centre at the beginning of the week, as you said. When they do that, they create all the service plan in the correspondent service date of the week it will happens. For example, it they create at the beginning of the week, they will do that on next Sunday date. So, even projection

[2021-12-12 13:48] ricardomvalverde commented on #520
Berry and DeeTigIT, I forgot to say excuse for eventually some text may be misundertoood and offend someone.
As a non native language (I'm Brazilian), my vocabulary is scarce and my English is not so good. Be sure my intention is the best possible.
God bless all that dedicate time for this precious tool, in special Berry.

Regards,
Ricardo

[2021-12-13 00:03] berry120 commented on #520
@ricardomvalverde @DeeTigIT That option should now be added. It's defaulted to 31 days in the past but can be adjusted up to 2 years.

[2021-12-13 21:58] DuebelWalter commented on #520
@berry120
Did you build a version with the actual fix?
I can only see the build 1066 (which is 2 days old).

[2021-12-13 22:07] berry120 commented on #520
@DuebelWalter Sorry, my bad - we'd run out of build credits. That should now be sorted and a new CI version should appear in the next 20 minutes or so.

[2021-12-13 22:43] DuebelWalter commented on #520
The Fix with the 2 years works perfect for me.
I have found another problem. We use three different services in Planning Center in our church.

But in Quelea only one type of service is displayed.("Gottesdienste").

If you need my Planning Center Account for fixing this issue please tell me.

![Screenshot 2021-12-13 233348](https://user-images.githubusercontent.com/86735212/145900169-1a2cdbc6-4d8d

[2021-12-14 00:28] ricardomvalverde commented on #520
Tested build 1067 and the slider bar is working fine.

[2021-12-14 01:09] ricardomvalverde opened #524 "Checkbox to show song tags on stage monitor"
Checkbox to show/hide song tags (verse1, chorus, bridge, verse2, ...) at top of the verse on stage monitor.

Something like that:
![image](https://user-images.githubusercontent.com/95576218/145914162-d3c8f192-f3e9-4a43-a67b-816f89d56530.png)

[2021-12-14 01:34] ricardomvalverde opened #525 "Option to allow import all items from Planning Center, not only songs and media"
In order to gain time on slides production, this feature allows you to have the whole service plan imported from Planning Centre, with zero effort to replicate remnant items (not imported) from Planning Centre.

To do that, it should import item title and description (even blank). These are some examples of other item types besides song and media: bible verses, pray moments, prelude, poslude, welc

[2021-12-15 17:13] berry120 commented on #520
@DuebelWalter Hmm, that's odd as it should loop through all the available service types. If you're able to contact me at berry120@gmail.com to pass over login details for planning centre then I'll take a look.

[2021-12-15 18:56] DuebelWalter commented on #520
@berry120
I send you an Email with my Login Data.
My Emailadress is metaler@gmx.net
Thank you for your Help

[2021-12-16 00:08] ricardomvalverde opened #526 "Adjust font size and auto line break on stage monitor"
Nowadays, is not possible to set a different font size on stage mointor. Besides it, I tried to choose a bigger font, but the text was cutted at the edges (it seems it didn't auto breaked line to fit the limit).
Is that possible to implement those features?

[2021-12-18 09:24] berry120 commented on #520
@DuebelWalter That'd be great, thanks! (Still haven't received it, not sure if you've sent it yet?)

[2021-12-18 09:52] DuebelWalter commented on #520
Ok ,
I try it a second time, maybe the first time something went wrong

[2021-12-19 00:47] HeyITGuyFixIt commented on #221
Had the same issue today while running Quelea 2021.0 on Linux Mint 20 and Cinnamon.

[2021-12-20 00:37] berry120 commented on #520
@DuebelWalter Still no email I'm afraid. Definitely sending it to berry120@gmail.com?

[2021-12-20 16:50] DuebelWalter commented on #520
@berry120
I tried today from my smartphone, i copied your emailadress.
I hope it works this time. But I just cant say what I'm doing wrong

[2021-12-21 01:56] ricardomvalverde opened #527 "Improving preview on stage monitor"
It is a complement to issue #354.

Issue 354 mentions the preview of the first line of the next verse, which matches with my enhancement idea, but besides that, I suggested to preview the next item title, when there is no text after line break. It's my experience with Easyworship and it is very useful to who is at stage conducting the service. Looking at the confident monitor he knows exactly what

[2022-01-01 08:58] dtpartridge opened #528 "Disable preview pane?"
Is it possible to disable the preview pane and just have the order of service/database pane, and the live pane?

This is possible in some other systems (e.g. OpenLP) and makes things simple for basic users.  By using the preview pane there is an extra step required to make something live - select the song in the order of service, press Go Live in the preview pane, then change the screen from black

[2022-01-01 22:46] lipe123 opened #529 "Corrupt song in DB causes crash"
We have one(maybe more) song in the list that instantly causes the program to close.

Even just searching for the name causes the crash to happen, how we can delete that one?
Or is there some kind of utility to cleanup/fix the database?
currently on ver 2021.0

[2022-01-01 22:58] berry120 commented on #529
Hmm, that certainly shouldn't happen! After the crash occurs, could you
locate & attach the debug log?
https://quelea-projection.github.io/docs/Debug_log.html

On Sat, 1 Jan 2022 at 22:46, lipe123 ***@***.***> wrote:

--
Thanks,

Michael

[2022-01-01 23:03] lipe123 commented on #529
Sure thing, here you go, I also found crash logs
[quelea-debuglog.txt](https://github.com/quelea-projection/Quelea/files/7798330/quelea-debuglog.txt)
[hs_err_pid9116.log](https://github.com/quelea-projection/Quelea/files/7798331/hs_err_pid9116.log)
[hs_err_pid11200.log](https://github.com/quelea-projection/Quelea/files/7798332/hs_err_pid11200.log)
.

[2022-01-01 23:10] berry120 commented on #529
Hmm, so this doesn't seem related to a corrupt database, but instead a font
issue in JavaFX that's causing a hard crash. Could you try with the beta of
2022.0 and let us know if that helps at all?

On Sat, 1 Jan 2022 at 23:04, lipe123 ***@***.***> wrote:

--
Thanks,

Michael

[2022-01-01 23:59] lipe123 commented on #529
Thanks for the super fast responses! I'll try the beta and see if that helps.
Is it not possible to install the missing font somehow?

[2022-01-02 00:05] lipe123 commented on #529
Tried 2021.beta 2 and the same thing still happens, as soon as I search for the song it crashes.

[2022-01-02 00:11] berry120 commented on #529
It's 2022.0 beta 1 you want to try rather than 2021 beta 2 - this one:
https://github.com/quelea-projection/Quelea/releases/tag/v2022.0-beta-1

On Sun, 2 Jan 2022 at 00:06, lipe123 ***@***.***> wrote:

--
Thanks,

Michael

[2022-01-02 01:01] lipe123 commented on #529
Lil confusing with the numbers...

Ok I tried beta 1, same result.

[2022-01-02 18:24] lipe123 commented on #529
Would it help if I uploaded the database we have to test it on the dev version to catch exactly where the problem occurs?

[2022-01-02 21:35] berry120 commented on #529
Sure, feel free to upload the database and I'll see if I can reproduce it
this end.

On Sun, 2 Jan 2022 at 18:24, lipe123 ***@***.***> wrote:

--
Thanks,

Michael

[2022-01-02 22:20] lipe123 commented on #529
I uploaded the whole folder, hope this is right : https://drive.google.com/drive/folders/1NunNY6DsEYWgNGWzHHlpQdWU5JPCbbwi?usp=sharing
The song is more pure than silver.

Just searching for "silver" will produce the undesired result.

[2022-01-03 12:11] DeeTigIT commented on #529
Could you scroll down in the song pane to this particular song and then delete it manually?

![S1](https://user-images.githubusercontent.com/39883796/147928678-5385e359-effb-417b-aef4-5d72462e989f.JPG)

How did you import or enter this song in your database?

[2022-01-03 12:15] DeeTigIT commented on #529
Could you scroll down in the song pane to this particular song and then delete it manually?

![S1](https://user-images.githubusercontent.com/39883796/147928678-5385e359-effb-417b-aef4-5d72462e989f.JPG)

How did you import or enter this song in your database?

[2022-01-03 12:18] DeeTigIT commented on #529
Also problematic:
- Arise, Shine
- By His Grace
- Easter 2018 Prayer 2
- Easter Call to Worship
- ???  (I did not check any further)

[2022-01-03 15:00] lipe123 commented on #529
Don't know how you got to even show it.
We've had this in the database for ages. Originally we imported everything from an older version of easyworship.
I cannot so much as right click on it and the program instantly closes.

The Arise, Shine one we recently added by copy pasting from song select :(
I've noticed a few times that some songs just ended up being blank that I was sure we had working b

[2022-01-03 17:03] DeeTigIT commented on #529
Here's the list:

- Arise, Shine
- By His Grace
- Easter 2018 Prayer 2
- Easter Call to Worship
- Father, Make Us One
- happy birthday
- Jesus said  (at the end of the song)
- Lift up your heads
- Lord, Now Let Your Servant Hymn 343
- Play 2011
- Revelation 7:12b
- Sending and Blessing 29 07 2012 (at the end of the song)
- Thanks be to God
- The Steadfast Love of the Lord (at the end of the song)

[2022-01-03 17:56] lipe123 commented on #529
I did try that, when I manually scroll to it and right click the song to delete it the program crashes immediately. No error popup, no warning, it just closes like when you do alt-f4.

I think it's because it's trying to display the preview whenever the song is touched by either mouse button. I don't know how you made your version just show the ascii chars and my version crashes.
I was originally

[2022-01-03 19:28] berry120 commented on #529
@lipe123 Try this database - I've removed the songs that @DeeTigIT highlighted above. The behaviour I saw was the same as @DeeTigIT - the songs appeared corrupted but I could select and remove them (I could also search for them and saw an exception or two, but no crash.)

[database_new.zip](https://github.com/quelea-projection/Quelea/files/7803685/database_new.zip)

I can't say what's caused this

[2022-01-03 19:29] berry120 commented on #529
@DeeTigIT Yup, more than happy to write a songselect `sng` importer for a later release, that's something we should add.

[2022-01-03 19:31] berry120 commented on #528
Afraid this isn't something that's possible at the moment - we might consider it in the future but afraid it's not likely to be a high priority. The space key can be used as a shortcut to go live if that's any help - saves a couple of seconds, but it obviously won't remove the preview pane entirely.

[2022-01-03 19:32] berry120 commented on #525
@ricardomvalverde Definitely something we should look at - won't be in 2022.0, but we'll take a look for a later release.

[2022-01-03 20:04] dtpartridge commented on #528
Ok, thanks for letting me know!

[2022-01-03 20:04] #528 closed

[2022-01-04 01:52] ricardomvalverde commented on #525
Thanks, Berry! I'll be looking forward to this new feature! This will aid
us a lot to automatise the slide production.
By the way, I have a doubt. In all projection softwares I have tested, none
of them had an option to replicate videos and images in the stage monitor.
The best feature I realised was a countdown in the stage monitor while a
video was running on the main monitor. Is this too compli

[2022-01-04 18:41] DeeTigIT commented on #529
On more **correction** for the list:

- Arise, Shine
- By His Grace
- Easter 2018 Prayer 2
- Easter Call to Worship
- Father, Make Us One
- happy birthday
- Jesus said (at the end of the song)
- Lift up your heads
- Lord, Now Let Your Servant Hymn 343
- **More Precious than Silver**
- Play 2011
- Revelation 7:12b
- Sending and Blessing 29 07 2012 (at the end of the song)
- Thanks be to God
- The S

[2022-01-04 18:46] lipe123 commented on #529
@DeeTigIT @berry120 Thanks SO MUCH for your help with this!
I got the DB loaded/replaced and its working great again, no more crashes :D

I have no idea how the corruptions happened, we switched to quelea probably 2 years or 3 years ago and its been working great the whole time. sometimes we noticed a song would just show up completely blank/empty and we would edit it and paste in the words again.

[2022-01-05 03:39] JessyJP commented on #528
I haven't look at the relevant parts of the code but could we have a simple binary switch in the properties file that will effectively unidirectionally sync the live panel to the previewpanel effectively calling go live upon after every callback to the preview.
I assume that would be quite easy.
Then later we could add a hide visibility switch for the preview pannel. Effectively operates as normal

[2022-01-05 03:51] JessyJP commented on #105
I would like to bring back the issue about MIDI control again. Not only midi but OSC messages.
Could we define a set of actions like:
Next Slide, Previous Slide, Next Song Previous Song, Go to Song #, and the 3 screen buttons, go live.
In a simple pannel, the user inputs a MIDI or OCS IP device. Then the list of actions where he can custom type the(having predefined would be good too)  the midi mi

[2022-01-05 04:08] JessyJP commented on #234
Well softlinks can help with that. Also, you can sync just the database and nothing else. I actually use it to sync with 3 computers using MEGA and there are no problems.
MEGA has annoying popups that will let you kno if somone is doing something on the sync folder and this what you know not to add anything to the database at this moment but you can just read form if. With Dropbox I would often ge

[2022-01-05 04:11] JessyJP commented on #499
If someone wants power point notes the can use PowerPoint of course but in this case.

[2022-01-05 21:01] berry120 commented on #529
@lipe123 That is odd, it's not something I've seen elsewhere. I think we'll close this for now as there's not a lot else we can do, but feel free to reopen or create a new issue if you can reliably reproduce steps that result in a corrupted DB.

[2022-01-05 21:01] #529 closed

[2022-01-06 20:59] DeeTigIT commented on #522
@berry120, @ArvidNy
I did some investigation into this with 2 songs: identical in lyrics, one without song sequence, the other with song sequence.

![S1](https://user-images.githubusercontent.com/39883796/148446935-34e8f58b-cedb-43f9-820f-d0c560c1f223.JPG)

Exporting them to a Quelea Songpack (testsong.qsp) and inspecting the contents:

![S2](https://user-images.githubusercontent.com/39883796/1484

[2022-01-06 21:12] DeeTigIT commented on #301
See also:
 Quelea songpack multiplies verses & etc. when Song sequence is used #522

[2022-01-06 21:12] DeeTigIT commented on #522
See also:
 Quelea Song Pack format seem lossy #301

[2022-01-08 22:23] DeeTigIT commented on #322
When a new song is added to the database and the schedule (as demonstrated in the clip by pbcmatthew), Quelea shows the copy icon of the song. But I wonder if this is the correct icon. The following example illustrates this:

![S1](https://user-images.githubusercontent.com/39883796/148660239-f3fc512f-86f0-4970-b046-150d8b5e38ae.JPG)

![S2](https://user-images.githubusercontent.com/39883796/1486602

[2022-01-09 16:25] MistaWizard commented on #392
I built a Node server to connect to Quelea’s built in webserver. I use server sent events instead of websockets to send to the front end. It’s at least an option in the interim that has worked well for us.

https://github.com/MistaWizard/Quelea-On-The-Web

[2022-01-09 16:27] MistaWizard commented on #356
Built this to do just that. Run it on a Raspberry Pi 4.

https://github.com/MistaWizard/Quelea-On-The-Web

[2022-01-23 12:59] ricardomvalverde opened #532 "Option to black only main display"
I couldn't find an option to black main display without affecting stage display.
It is important aon several situations where you would like to display information about the liturgy to worship members that aren't relevant to others members in the church.
I suggest to create an option at general -> user options to make independant the black function. On my scenario, stage display can never be black

[2022-02-10 18:41] enomis97 opened #533 "Error adding Bible passage to the schedule with Mobile Remote via browser"
When trying to add a two-digit chapter number it reads only the first one.
For example: Genesis 12 but in the schedule  Genesis 1 is added.

[2022-02-26 11:53] chris-j-major opened #534 "Database Export - select used songs"
In the song database export dialog, it would be useful to be able to export songs uses in the current schedule.

This would make it easy for me to package up changes made on one computer ready for use elsewhere.

[2022-02-27 14:22] DeeTigIT commented on #534
For your information. In the following Q community item JessyJP describes a method to synchronize the Q database between different computers using MEGA cloud.

https://quelea.discourse.group/t/schedule-updating-library/771

[2022-03-20 21:16] c-exe commented on #29
Implementing this would remove the need for the [Hack](https://quelea-projection.github.io/docs/Minister_Response_Hack) for call-and-response, as then it would be simple to copy in the liturgy as-is and then apply the second formatting style to just the required lines.  Using the hack is a lot of work if there is a lot of liturgy to put in (such as for communion or a baptism).

[2022-03-27 19:51] chris-j-major opened #535 "OpenLyrics importer ignores song sequence/verseOrder"
The OpenLyrics xml standard includes support for an optional `verseOrder` element, yet it's ignored in the OpenLyricsParser.

I think this should be easy enough to add in: https://github.com/quelea-projection/Quelea/blob/aed1f1d6c3956bb1ad98cca9981e6490d05175ab/Quelea/src/main/java/org/quelea/services/importexport/OpenLyricsParser.java#L60-L65

[2022-03-29 13:12] Youngwily commented on #522
This is still an issue in version 2022 beta2

When **importing** a songpack into quelea, the song sequences in the imported songs are corrupted, the preview screen shows multiple instances of choruses or verses, depending on the sequence.

If a song sequence is added to a song in the database manually, or a new song added, then the song sequence works fine - so it would appear it is the importing

[2022-03-29 23:56] berry120 commented on #522
An attempted fix has been pushed for this and so it should be in the CI release shortly (https://github.com/quelea-projection/Quelea/releases/tag/CI-RELEASE) - any tests would be much appreciated 👍

[2022-03-29 23:57] berry120 commented on #520
Clearing this from 2022.0 as it's a lot better than it was, and I'm unable to reproduce any of the other issues at the moment. Certainly not against fixing it if we can, just don't want to hold 2022.0 up as it has a number of other bugfixes and features we'd like to get out there.

[2022-03-30 00:00] berry120 commented on #535
Yup, happy to add this in at some point - the verse order in Quelea came well after the verse order being available in OpenLyrics, so this just wasn't available when we first wrote the importer.

[2022-03-30 17:52] DuebelWalter commented on #520
I agree with you, the problem with Planning Center can probably be easily solved internally because as far as I can understand, the problem appeared only from the moment we created 3 services. The services before that are displayed correctly.
So I delete the two unused services and then everything should be fine for us again.

[2022-03-31 12:57] Youngwily commented on #522
[testsongpack.zip](https://github.com/quelea-projection/Quelea/files/8389493/testsongpack.zip)

HI

I have downloaded and installed the latest CI release, but the import still changes the song sequence when I import songpack file attached.
The file has only one song (10,000 reasons) and it has the sequence C1 V1 C1 V2 C1 V3 C1, but when imported the song is displayed as C1 C1 C1 C1 V1 C1 C1 C1 C1

[2022-03-31 13:19] Youngwily commented on #522
attached are screenshots of the 'edit song' of the original song before export (originalsong.jpg) and the 'edit song' view of the imported song (importedsong.png)
I guess it could be the export that is changing the song, rather than the import?

Is there a way I can open the songpack.qsp file to see the file contents?

The song was exported from 2021 stable release and imported into the latest CI

[2022-03-31 13:46] berry120 commented on #522
It is - unfortunately there's nothing we can do about song packs exported from older versions already, but if you export / import both on 2022.0 CI release then you shouldn't have an issue.

The qsp file is just a zip file, and the songs in it are just XML files, so easy enough to take a look in a text editor if you're curious :-)

[2022-04-01 10:42] Youngwily commented on #522
Hi Michael

Thank you so much for your help with this, it really is appreciated. I have tested the export and import in the CI release and it looks to be fixed! Thanks once again.I will do some more testing just to be sure.

However, when I tried manually adding a new song it didn’t appear in the song list until I shutdown Quelea and restarted it.

This works ok in 2021 so is it a new bug? I can l

[2022-04-01 22:03] chris-j-major commented on #155
Hi @ond1 I was recently looking at the Open Lyrics importer, and so tested this on the latest version - and it successfully imported that xml file even when loaded via a zip file.

[2022-04-02 08:21] ond1 commented on #155
Thanks @chris-j-major for looking into this. I have now converted all songs from the openLyrics XML format. Happy for you to close this bug issue.

[2022-04-02 08:34] chris-j-major opened #537 "Web page display doesn't allow any no "file" urls"
Most web browsers accept local content using the [file URI scheme](https://en.wikipedia.org/wiki/File_URI_scheme), which
can be useful for showing local content as if it were web content.

In a church content this could be used to create a local HTML file for a welcome screen, that uses javascript to reflect the current date (and avoids the need of setting up and maintain a local web server. Furth

[2022-04-03 00:05] #535 closed

[2022-04-03 00:08] berry120 commented on #537
Yup, definitely happy with this in principle, the current limitation was likely just a quick approach without considering file URIs 👍

[2022-04-03 12:21] chris-j-major commented on #537
I've opened a PR - lmk what you think

[2022-04-07 12:16] Youngwily commented on #522
Hi Michael

I unistalled and reinstalled Quelea (2022beta CI release) and adding a new song manually works fine

thank you
Brian

[2022-04-07 13:18] Youngwily opened #541 "Attempt auto translation not working"
Auto translation option is checked in Options but does not work, the database log shows this info:

Apr 07, 2022 2:13:26 PM org.quelea.windows.lyrics.TranslatePanel getTranslatedLyrics
INFO: Error translating
java.lang.Exception: [microsoft-translator-api] Error retrieving translation : datamarket.accesscontrol.windows.net
	at com.memetix.mst.MicrosoftTranslatorAPI.retrieveString(MicrosoftTranslat

[2022-04-07 13:44] Youngwily opened #542 "Export order of service to pdf - only songs listed"
'Export order of service to pdf' does not include Bible verse, etc but only lists the songs in the Order of Service

[2022-04-07 18:47] Youngwily opened #543 "Printing"
Nothing happens when I select Print Song or Print Schedule, There is nothing in the database log or the Windows Event log. My printer is working fine from this PC (HP Envy 4524 wireless printer).
This problem has been seen in 2021 stable on windows 10 and 11, and 2022beta on Windows 10

[2022-04-09 00:53] Dazmed707 opened #544 "Bug when using -pptx presentations"
When using presentations it hangs for a few seconds to go from slide
the error has given me since the 2022 betas

[2022-04-10 09:13] tallbacksmannen opened #545 "Slow database update"
I have a quick computer but when i try to edit multiple songs in a quick pase this happens.

![Untitled drawing (6)](https://user-images.githubusercontent.com/89482190/162610951-9441cf87-58ca-40ed-9cb3-60c969cfc464.png)

I waited for more than 30 minutes without any of the updates to finnish.

Here is the debug log:
[quelea-debuglog.txt](https://github.com/quelea-projection/Quelea/files/8458628/qu

[2022-04-26 18:34] mr-aleks opened #546 "Database import from EasySlides"
Doesn't import our databases from EasySlides. I see an error in the debug file.

WARNING: Something went wrong importing easyslides songs
org.xml.sax.SAXParseException; lineNumber: 6; columnNumber: 20; Character reference "&#
	at com.sun.org.apache.xerces.internal.parsers.DOMParser.parse(Unknown Source)
	at com.sun.org.apache.xerces.internal.jaxp.DocumentBuilderImpl.parse(Unknown Source)
	at org.q

[2022-04-30 14:56] DeeTigIT commented on #546
Is your xml-export ok? If I open Export_2022-04-23_Наши-Песни.xml in Notepad++ v7.8.7 (with XMLTools 3.1.1.13 plugin) and perform a xml syntax check an error is given.

Importing this Export_2022-04-23_Наши-Песни.xml in an empty Quelea database with the just released Quelea 2022.0 cross-paltform fails.

After brute-force manually editing this file (until it's error free in Notepad) it can be impor

[2022-04-30 16:12] mr-aleks commented on #546
Thank you very much for the information, I deleted the first 11 songs with incorrect characters, but the plugin still shows that the xml needs to be corrected, I don’t understand the meaning of the rest of the errors that it shows me. I have no experience with this plugin. Perhaps you could share the edited xml file?
![image](https://user-images.githubusercontent.com/23143866/166113461-29260c25-49

[2022-04-30 19:21] mr-aleks commented on #546
I got it. In another program, I realized what the problem was. There were strange characters in the entire database. Something like "&#x1F;" and other.
Once again, thank you very much!!
![image](https://user-images.githubusercontent.com/23143866/166118814-9e4b7dd1-8c6a-4e30-ad4c-e68c3310f469.png)

[2022-04-30 19:22] #546 closed

[2022-04-30 20:03] DeeTigIT commented on #546
I'm glad to hear you can move on.
And thanks for the XML Notepad screenshot.
I'll add that program to my utils.

[2022-04-30 20:44] DuebelWalter commented on #522
Hi Michael,
I could export our church song database  as qsp fille to my pc and back and everything works fine. Thank you for fixing this issue.

[2022-04-30 20:44] #522 closed

[2022-05-07 22:12] HeyITGuyFixIt opened #547 "VLC Not Detected"
I load Quelea 2022.0 (installed from snap on Linux Mint 20 Ulyana, based on Ubuntu 20.04 focal), and I get a message saying to install VLC. It has been installed, so I'm not sure what's wrong. The error log has this:

[code]

`libvlc.so` is at `/usr/lib/x86_64-linux-gnu/libvlc.so` and `$PATH` is set to:

[code]
The folder `libvlc.so` is found in is listed in `/etc/ld.so.conf.d/x86_64-linux-gnu.con

[2022-05-07 23:09] HeyITGuyFixIt commented on #547
VLC version:
[code]

[2022-05-08 13:58] #537 closed

[2022-05-08 13:58] #89 closed

[2022-05-08 14:00] berry120 commented on #547
Have you definitely installed the 64 bit version of VLC? The path (x86_64) suggests that might be the 32 bit library.

[2022-05-08 14:02] berry120 commented on #545
Hmm nothing jumping out in that debug log I'm afraid, but it should update in seconds not minutes so something definitely must have hung there.

Are the songs actually updated? Wondering if it's a database issue or just a display issue with those panes at the bottom.

[2022-05-08 14:04] berry120 commented on #541
Auto-translation is using an old API that's since long been deprecated - it's just something we've never got around to removing I'm afraid. This isn't something we're likely to put the engineering effort in to re-implement unless we can confirm a significant number of people are actually using it (which I don't think they are, it was always more of a fringe feature that I'm never sure saw much use

[2022-05-08 14:04] #516 closed

[2022-05-08 14:07] berry120 commented on #520
Closing this one off just because we've addressed a number of specific planning centre issues here, and we're not able to immediately reproduce any others. If there's another planning centre issue then feel free to create another issue and we'll track that separately 👍

[2022-05-08 14:07] #520 closed

[2022-05-08 19:25] Youngwily commented on #541
Fair enough 👍

[2022-05-10 12:12] frebergguru commented on #547
It is the same problem here.

/usr/lib/libvlccore.so:       symbolic link to libvlccore.so.9.0.0
/usr/lib/libvlccore.so.9:     symbolic link to libvlccore.so.9.0.0
/usr/lib/libvlccore.so.9.0.0: ELF 64-bit LSB shared object, x86-64, version 1 (SYSV), dynamically linked, BuildID[sha1]=34cf0e37ea426bc7046fd3f7b95f7f70e8a119d6, stripped
/usr/lib/libvlc.so:           symbolic link to libvlc.so.5.6.0
/u

[2022-05-11 10:03] berry120 commented on #547
Is this a regression in 2022 (did it work ok in 2021?)

[2022-05-11 10:03] berry120 commented on #547
(Sorry, fat-fingered the button, didn't mean to close)

[2022-05-11 10:22] helgeheo commented on #547
In 2021 there is no question of vlc, and it was possible to run videos. In 2022, I am not able to run videos as long as quelea don't see vlc.

[2022-05-14 22:04] HeyITGuyFixIt commented on #547
@berry120 I purged vlc and all packages with vlc in their names, and reinstalled them explicitly specifying to install the amd64 versions.

[2022-05-14 22:31] berry120 commented on #547
Just a quick note to say I can reproduce this, am working on a fix, but unfortunately haven't managed to narrow down exactly what's going on yet. Only seems to happen with the snap version which makes debugging & releasing a pain. I am actively looking at it whenever I can though.

[2022-05-21 00:25] berry120 commented on #547
Update on this one - unfortunately it doesn't seem to be as simple as widening the path, as (at least on my test VM) the VLC library loads ok but causes a hard crash after playing a video for the first time.

For anyone who wants to test to see / confirm if the same behaviour happens to them, that'd be much appreciated just to check it's not something odd with my setup. (You can do so by temporari

[2022-05-21 18:10] HeyITGuyFixIt commented on #547
@berry120 not sure what error you get, but when I try it I get an error from vlc saying:

[code]

That results in a fatal JRE error from ld-linux-x86-64.so.2+0xcc78.

It happens when a video stops playing. Whether as a song background or just a video on loop or not. As a song background or as a video on loop, it crashes right as it is about to loop.

Now my setup is kinda weird. It's my laptop run

[2022-05-21 18:35] HeyITGuyFixIt commented on #547
That could be specific to my setup.

[2022-05-23 03:16] damarals opened #548 "Video support in logo option"
![image](https://user-images.githubusercontent.com/29554893/169736497-35122255-0ece-4565-8868-67b0cdbec184.png)
I would love to put videos in the logo option, but so far it's only possible with images, and a gif doesn't look good.

[2022-05-29 02:48] leealex opened #549 "Crashes on Macbook M1"
Crashes in a couple of minutes after launching the app. Usually it happens while editing songs. If I just launch the app and leave it for a while it will not crash, but if I open editor it crashes in a minute or even in seconds. It doesn't matter if I edit existing song or adding a new one.

Tried the latest release 2022.0 and 2020.0

It happened on the Intel processor too but it was rare issue, s

[2022-05-29 08:37] berry120 commented on #549
If you try the CI release, I've made a slight change to the memory options
that *might* help (it appears to be crashing in the garbage collection side
of things, so I'm curious if this makes any positive / negative difference.)

Unfortunately though I don't have an M1 Mac available for testing, so this
might be a hard one to narrow down.

On Sun, 29 May 2022 at 03:49, Alexey Lee ***@***.***> wrote

[2022-05-29 16:14] leealex commented on #549
Thank you @berry120 😃! This one looks more stable 💪
Quelea did not crash while I was editing a couple of songs 😎
But it needs more testing 😊

[2022-06-04 16:15] leealex commented on #549
[report_2022-06-04.txt](https://github.com/quelea-projection/Quelea/files/8838231/report_2022-06-04.txt)

[2022-06-06 10:24] HeyITGuyFixIt commented on #547
@berry120 any updates on this?

[2022-06-12 00:46] HeyITGuyFixIt commented on #523
Have you tried adjusting the thumbnail size in Options?

[2022-06-23 09:32] LAfricain commented on #547
Same issue.

[2022-06-30 19:38] Dazmed707 commented on #523
I'm going to try that, do you have a screenshot of the specific option that needs to be moved?

[2022-06-30 19:48] HeyITGuyFixIt commented on #523
I don't at the moment. Here's the link to the documentation: https://quelea-projection.github.io/docs/General_tab

It's under "Thumbnail size"

[2022-07-09 21:36] HeyITGuyFixIt commented on #547
@berry120 hassling you again, any updates?

[2022-07-10 14:19] dancoLgh opened #550 "stopwatch and/or countdown in stage view"
Good morning, It would be great to be able to put a timer and/or countdown in the scenario view. Currently only the time is visible
![image](https://user-images.githubusercontent.com/33226168/178148760-4190ea2f-7512-4c13-9b72-3c80a977f4c7.png)

[2022-07-20 03:03] garryluis73 opened #551 "Installation"
I cannot install in windows 11
![image](https://user-images.githubusercontent.com/109635800/179887157-2d160418-4efa-427c-94f8-bbb3a00841ad.png)

[2022-07-24 14:21] thecodingchicken opened #552 "Constant font size for songs"
Our church is switching to quelea for our slides, and one of the things that is weird is the automatically set font size per song.  Hoping this is something that can be solved rather easily.

In my spare time I'll make a clone of quelea and try to work on a fix for it, since I presume everyone is a volunteer.

[2022-07-24 14:29] thecodingchicken opened #553 "Show ccli/small song text options on one slide only"
Currently, as far as I can tell, you can either only show ccli information on every slide or not at all.  I cannot find an option to only show it on the title slide or closing slide.

As with the prior issue that I made, I will try to implement a fix for this unless it already exists somewhere.

[2022-07-28 05:40] Waterkloof commented on #547
I also have this problem on Ubuntu 20.04 has anybody tested it on Ubuntu 22.04?

[2022-07-28 08:21] helgeheo commented on #547
I think this is a common problem for all linux distros

[2022-07-29 05:15] DeeTigIT commented on #551
You could use the website virustotal (https://www.virustotal.com/gui/home/upload) to check your downloaded Quelea app against several anti-virus apps. If confident then try to install Quelea again and choose 'More info' in the above screen followed by 'still execute' (or a similar button).

[2022-07-29 07:26] GarethFZA opened #554 "Option to cast to Android TV box"
It would great to be able to wirelessly cast to Android TV or Android TV box, instead of the Live Display.

[2022-08-01 10:34] berry120 commented on #547
Hey, sorry for the silence on this one - things at the "real job" have been
rather busy as of late!

Current status is that I'm seeing if I can just bundle a pre-packaged
release of VLC into Quelea rather than relying on a snap dependency,
therefore sidestepping the issue that JNA seem to have when loading the
universal binaries (I'm still not sure why this is the case.) That's
proving annoyingly

[2022-08-02 11:15] RedyAu commented on #336
Hi! Just bumping this, it would be great to have NDI output, even just a very simple one (OpenSong doesn't even have any config for it, it "just works", outputs the current projector output and that's it). I don't know how easy cross-platform NDI support is to ship however.

[2022-08-04 21:55] Youngwily commented on #552
This can be controlled to some extent by setting the maximum font size in the Options/Text Options (we have set ours to 64 which seems to have reduced the instances of very large text). We also try and limit each verse/chorus etc to 4-6 lines.

[2022-08-04 22:03] Youngwily opened #555 "Spelling of license"
Just a small issue, but in the UK the 'CCLI License' label displayed on slides should be spelt 'CCLI Licence'.
In British English licence is a noun and license is a verb.
Using license as a noun is a feature of American English.
Would be great to have the option!

[2022-08-18 18:53] DeeTigIT commented on #547
On Ubuntu 22.04.1 LTS with the latest quelea edge snap:
- VLC plays a schedule video (added to the schedule using Add Multimedia)
- But when the video ends Quelea aborts and has to be restarted.
- Also, when during the video display a next schedule song item is selected and Go Live is pushed: Quelea aborts and has to be restarted.

![S1](https://user-images.githubusercontent.com/39883796/185472119

[2022-08-26 23:40] JessyJP commented on #548
While it would be great, a workaround would be to use video in the schedule list and switch to it, or pass the Quelea output through OBS and then display the OBS output, thus you can layer things in OBS (something I have done and works really good.) Personally, I would put presentations in Quelea, but I wouldn't really use play videos if it's more than a one-off for example or a video list where s

[2022-08-26 23:50] JessyJP opened #557 "Can we improve the layering in Quelea and pannel control, and why they are related."
What I mean is, in software like pro-presenter they have about 6 layers which act independently and simultaneously.
We can kind of do it in quelea too but it's kind of cumbersome.
Obviously, the most basic ones are background and text. Then there are the alerts too. But it's not easy to dynamically switch between background presets on the fly.
Also, real estate can be kind of expensive sometimes,

[2022-08-27 21:15] HeyITGuyFixIt commented on #557
I had brought this up to some degree in #343

[2022-08-27 21:19] HeyITGuyFixIt opened #558 "Image Group Name"
Can we have the ability to name an image group? When we import an image group, it's name becomes the combination of all of the images imported, resulting in a very long string. In the desktop program, the overflow simply causes that section to scroll. Not a big deal. But in the mobile app, an image group's name is wrapped, and can take up a sizable portion of the screen. See the image below for an

[2022-08-28 01:09] JessyJP commented on #557
I think there is a middle ground somewhere here. We don't really need as many layers as with pro-presenter.
Other software can help us layer more things but we should discuss what the most basic and essential layer system we can implement is.
I think: main layer theme(text format) comprised of { (L1) background + (L2) text } with (L3) overlay (image or video) + (L4) alerts. Even without (L3) it's

[2022-08-28 14:58] HeyITGuyFixIt commented on #532
It would be useful to have separate controls for each screen, similar to ProPresenter. ProPresenter doesn't have the option to black out the stage screen, but it does have separate buttons for toggling the visibility of the stage screen and of the audience screen. The black out button in ProPresenter only affects the audience screen, if I remember correctly.

[2022-08-31 12:22] jeremehancock commented on #547
I just wanted to check to see if there had been any progress for this. I am hoping to include the Quelea Snap package in the [UbuntuCE Software Center](https://ubuntuce.com/). I totally understand how it goes with balancing the "real job" and the passion projects. Believe me! :) Thanks for the hard work Quelea.

[2022-09-04 09:52] Youngwily commented on #555
Is this a simple change I could make myself?

[2022-09-07 11:21] berry120 commented on #555
Great spot! The issue here is that this particular string is hard coded and hasn't made it into our language label files (whoops.)

It's here (https://github.com/quelea-projection/Quelea/blob/b82e550e41d91a3ff4fbd9dbade61bd69275b698/Quelea/src/main/java/org/quelea/data/displayable/SongDisplayable.java#L852)

If you like you can make the change yourself - you'll need to add the required entry to th

[2022-09-07 11:21] berry120 commented on #558
Yup, good point! Think this is a good idea 👍

[2022-09-07 11:24] berry120 commented on #557
I'm all for this sort of thing in theory, but similar to the point I brought up in #343 it adds a lot of complexity and would need to be thought through quite carefully, with mockups etc. and tested thoroughly before we could roll something like that out. Technically this could also be quite a challenge to implement reliably cross-platform in JavaFX.

It may be something we're able to improve on i

[2022-09-07 11:27] berry120 commented on #553
This would be a good option to have - I can't find it now but I think it's been brought up somewhere before.

[2022-09-07 11:28] berry120 commented on #545
Feel free to reopen with more details if this is still an issue. (Support is generally better handled on https://quelea.discourse.group/ though.)

[2022-09-07 11:28] #545 closed

[2022-09-07 15:39] HeyITGuyFixIt commented on #557
@JessyJP I think #547 is pretty big right now. Videos can't play.

[2022-09-07 15:40] berry120 commented on #557
Biggest priority by far is the issue that's causing no video to be available on Ubuntu with 2022, that needs addressing ASAP and is proving a very annoying one to fix.

Beyond that you're correct - the software is reasonably complete and while there's bits and pieces that we'll look to add as they make sense, there's no other critical showstoppers that I'm aware of that we need to be looking at. T

[2022-09-07 15:46] JessyJP commented on #557
Could you (or anyone) do a little test checkup to see if they are getting the song transpose bugs reported here:
[https://quelea.discourse.group/t/just-couple-of-small-things-bugs/895](https://quelea.discourse.group/t/just-couple-of-small-things-bugs/895)

[2022-09-07 16:43] Youngwily commented on #555
Hi  Michael

Thank you for the email, only a small matter but I get a lot of comments from the older congregation!

I can find the gb.lang file and add a key to that

e.g.;

ccli.licence=CCLI Licence

however I can find the LabelGrabber.INSTANCE.getLabel("ccli.licence").

entry anywhere?

Thanks

Brian

From: Michael Berry ***@***.***>
Sent: 07 September 2022 12:21
To: quelea-projection/Quelea ***

[2022-09-09 16:52] Youngwily commented on #555
Hi Michael
Can you do it please, I don’t know in which file I need to insert that code.
Brian

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Michael Berry ***@***.***>
Sent: Friday, September 9, 2022 4:43:06 PM
To: quelea-projection/Quelea ***@***.***>
Cc: Youngwily ***@***.***>; Author ***@***.***>
Subject: Re: [quelea-projection/Quelea] Spelling of license (Is

[2022-09-09 17:29] #555 closed

[2022-09-09 17:29] berry120 commented on #555
All done!

[2022-09-09 19:16] GW391 opened #559 "Database does not save after adding a translation to song"
Juts tried to add a translation to an existing song, the song saves in the scedule, but the database never saves. when I close Quelea the song is removed from the database.

I am adding Ukranian to a linked song in the schedule.

I created a new single slide song in the database and that seemed to work, but updating a song in the dabase and the same thing happens.

when updating from the schedule

[2022-09-12 14:31] Youngwily commented on #555
Hi Michael
is this change in the latest CI file?
Brian

[2022-09-12 14:46] berry120 commented on #555
Yes, it should be.

On Mon, 12 Sep 2022, 15:31 Youngwily, ***@***.***> wrote:

[2022-09-12 15:13] Youngwily commented on #555
Hi Michael

Sorry to be a pest but the CI file wont install on my test platform (Win 10
Home, 64 bit) - when I rub the executable is says This app cant run on your
PC.

If I run as administrator it cant find the file after asking if I want the
file to make changes to my device. See attached screenshot

Any ideas?

Brian

From: Michael Berry ***@***.***>
Sent: 12 September 2022 15:47
To: quelea-pro

[2022-09-12 15:41] Youngwily commented on #555
Sorry Michael ignore my last email, downloaded again and running ok

Brian

From: Michael Berry ***@***.***>
Sent: 12 September 2022 15:47
To: quelea-projection/Quelea ***@***.***>
Cc: Youngwily ***@***.***>; Author ***@***.***>
Subject: Re: [quelea-projection/Quelea] Spelling of license (Issue #555)

Yes, it should be.

On Mon, 12 Sep 2022, 15:31 Youngwily, ***@***.*** <mailto:***@***.***> > wrot

[2022-10-01 00:07] berry120 commented on #551
Afraid we can't really do much about this - you can click the "Run anyway" button to still open / install Quelea, but there's no way we can get rid of it without purchasing quite an expensive certificate and signing our installers (which as an open source project isn't something we'd do.)

Realise it's a pain, but this isn't one we're likely to be able to do much about.

[2022-10-01 00:07] #551 closed

[2022-10-01 00:08] berry120 commented on #558
This should be a reasonably straightforward task if someone wants to pick it up for Hacktoberfest.

[2022-10-01 00:09] berry120 commented on #549
Sorry for the delay - we may be able to get our hands on an M1 mac later this year, in which case I may be able to have a more thorough look. (Can't promise anything I'm afraid but posting here just to keep you in the loop.)

[2022-10-01 00:10] berry120 commented on #543
Could you attach the debug log? https://quelea-projection.github.io/docs/Debug_log.html

[2022-10-01 00:15] berry120 opened #560 "Tidy up EpicWorshipParser.format()"
The above method has a needless assignment on a variable as the first line - that can go.

[2022-10-01 00:17] berry120 opened #561 "TimerIO.timerToFile - clean up if statement"
The above method has an if statement where only the "else" has a body. The if statement should be negated instead.

[2022-10-01 00:20] berry120 opened #562 "Clean up PresentationPanel lambdas"
There's a couple of places in PresentationPanel where we're using lambdas in a longer form than we need to - either creating a Runnable directly rather than using a lambda, or using a block based lambda instead of an expression lambda. These are minor bits of syntactic sugar that can be cleaned up.

[2022-10-01 00:22] PanwarAyush commented on #561
I would like to work on this issue.Please assign to me.

[2022-10-01 00:29] berry120 commented on #547
Taking another look at things I think we'll maybe need to look at bundling a version of VLC in the snap itself, so that's the approach I'll look at next. Have just wound back a bunch of experimental changes that I'd made in the hope that we could avoid this (in order to get a smaller & more efficient snap), but alas it wasn't to be.

[2022-10-01 00:32] berry120 commented on #542
This could be a task someone can work on for Hacktoberfest. The relevant change isn't Java based, just XSL based, so will need to be made in the `scheduleformat.xsl` file.

At the moment in that file you'll see a for-each block for "song", but not for any other elements, which is why they're not in the resulting PDF.

[2022-10-01 00:53] #561 closed

[2022-10-01 01:33] jeremehancock commented on #547
Fingers crossed. I appreciate the update. I really appreciate it.

[2022-10-01 01:40] suman-somu commented on #560
I'm taking this issue

[2022-10-01 02:38] ParthasarathiMahana commented on #560
Hi, @berry120 I would love to contribute to this issue.

[2022-10-01 04:29] leealex commented on #549
Thanks Michael, I'm using Crossplatform version and it works just perfectly.

[2022-10-01 09:09] berry120 opened #564 "Needless variable in CreateTimerPanel.parsable"
`CreateTimerPanel.parsable()` (line 252 ish) declares a needless variable. Instead of this, the variable can just be returned.

[2022-10-01 09:14] berry120 opened #565 "Add documentation for building Quelea in IntelliJ"
Update documentation for building & running Quelea using a fresh install of IntelliJ community edition. This should start from the point where the repository is checked out and IntelliJ is installed, and guide the user through to the point Quelea can be compiled & run without an issue. We currently have this for an older version of Quelea that was built on Java 8, but we've since updated to use Ja

[2022-10-01 10:24] island-coder commented on #564
Can I work on this? How do I locate the problem file?

[2022-10-01 10:26] berry120 commented on #564
`CreateTimerPanel.java` is the problem file - you should be able to find that in the repository :-) Sure, assigned to you!

[2022-10-01 11:52] island-coder commented on #564
I submitted a  pull request

[2022-10-01 14:26] Youngwily commented on #543
[quelea-debuglog.txt](https://github.com/quelea-projection/Quelea/files/9690525/quelea-debuglog.txt)

[2022-10-01 14:46] SachXD commented on #565
I would like to do this! Please assign the issue to me.

[2022-10-02 08:28] harshxtanwar commented on #558
Hello @berry120 I am experienced machine learning and backend development in multiple languages, but am very new to open-source. I had like to get assigned to this issue and would love to work on it with some guidance.

[2022-10-02 08:28] harshxtanwar commented on #562
Hello @berry120 I am experienced machine learning and backend development in multiple languages, but am very new to open-source. I had like to get assigned to this issue and would love to work on it with some guidance.

[2022-10-02 13:41] chawdamrunal opened #567 "Direct Use of Unsafe JNI [SECURITY] #hacktoberfest"
commit : https://github.com/quelea-projection/Quelea/commit/7d8c235c4270d56389a9ccd95ad44e75c100e90a#diff-bd66c6f15a6083331abcae3625541567a83531e39bc44bd56c04c1e560a028d8

runOnVIDThread method calls a native code library at line 123 of Quelea-
master/Quelea/src/main/java/org/quelea/windows/multimedia/MacVideo.java, passing it
sanitisedPath as a parameter. However, this parameter is based on user

[2022-10-02 17:33] marcoebbinghaus commented on #565
Isn't that already existing at docs/SETUP.md ?

[2022-10-02 17:34] #564 closed

[2022-10-02 17:36] berry120 commented on #565
@marcoebbinghaus Sorry, I actually forgot we had that in place. I'll amend this issue to update that documentation, as we've changed to Java 11 since that point (and there may be some other things that need updating too, I haven't checked it in a while.)

[2022-10-02 17:42] marcoebbinghaus commented on #565
oh I see, so it is just about updating the existing docs like mentioned in the ticket description. I would like to give it a try. Feel free to assign me to this ticket then.

[2022-10-02 17:43] berry120 commented on #565
All yours!

[2022-10-02 17:44] berry120 commented on #558
Take #562 first and see how you get on with that one, then feel free to grab this one as well if you want to work on it after.

[2022-10-02 17:45] berry120 commented on #562
All yours! Take a look at the `docs/SETUP.md` guide for getting started - it's a bit out of date but should cover most of the basics. First thing is to get the project compiled as-is, then you can make the (very minor) changes required by this issue and submit the PR 👍

[2022-10-03 12:06] island-coder commented on #542
@berry120  Where can I locate the other elements to be included ?

[2022-10-03 16:21] odifek commented on #558
Hello @berry120, I am an Android developer and would like to start contributing to open source (via hacktoberfest). I have used Quelea for presentation in our church in my former location also. I will love to take on this issue.

[2022-10-03 16:42] harshxtanwar commented on #562
hello @berry120 I was following the steps in docs/SETUP.md. I am unable to follow the last steps which says
"Navigate to the src/main/java/org/quelea/windows/main/Main class.
Right-click on that class in the sidebar and click Debug 'Main.main()'"

[2022-10-04 12:46] ParthasarathiMahana commented on #560
hi @berry120 can you help me with finding the method?

[2022-10-04 20:46] berry120 commented on #560
The file is called `EpicWorshipParser`, and the method is called `format()` (it's the last method in that file.)

[2022-10-04 20:48] #565 closed

[2022-10-04 20:48] berry120 commented on #562
@harshxtanwar What happens when you try to follow that step?

[2022-10-04 20:49] berry120 commented on #558
@harshxtanwar You're taking #562 so @odifek all yours 👍

[2022-10-05 06:42] harshxtanwar commented on #562
When I navigate to the Main Class and do a right-click, I don't see any option saying " Debug Main.main() "

[2022-10-05 06:42] berry120 opened #570 "Use Collection.addAll instead of loop"
ImageGroupDisplayable.getResources() method uses a loop to add a bunch of `File` objects to a new `ArrayList`. Instead of this we could just use `Collections.addAll()`.

[2022-10-05 06:44] berry120 commented on #562
Could you post a screenshot of what you do see? It might be that your project hasn't been recognised as a Java project in IntelliJ somehow.

[2022-10-05 06:47] berry120 opened #571 "ImageGroupDrawer - fix code formatting"
ImageGroupDrawer.draw() has its first line indented too much. This should be fixed.

[2022-10-05 07:16] kaustav202 commented on #571
I'd like to take this up @berry120 ?

[2022-10-05 07:23] suhaas-livcd commented on #570
Hi @berry120 , I would like to work on this issue.

[2022-10-05 13:49] Ashpreetwadhwa commented on #570
hey @berry120 i would like to do this task

[2022-10-05 13:59] berry120 commented on #570
@Ashpreetwadhwa Afraid this one is already assigned.

[2022-10-06 07:55] kaustav202 commented on #571
can you please mention the file path/location @berry120

[2022-10-06 21:06] suhaas-livcd commented on #570
@berry120

- I have check the issue, [ImageGroupDisplayable.java](https://github.com/quelea-projection/Quelea/blob/master/Quelea/src/main/java/org/quelea/data/displayable/ImageGroupDisplayable.java#L140)
- I understand, we have to convert use `Collections.addAll(f, files);` instead of iterating over files and adding to list.
- My Doubts :
  1. As per the [addAll(Collection)](https://docs.oracle.co

[2022-10-08 00:32] berry120 commented on #570
No need to log the value, and no need for any new comments as the functionality will be identical to the current implementation, just more concise.

[2022-10-08 08:16] prakhar-198 commented on #542
@berry120 please assign me this I'll fix it!

[2022-10-08 09:19] #560 closed

[2022-10-08 09:30] berry120 commented on #542
@island-coder Sorry, missed your earlier question. The XML tags for other elements can be found in the relevant classes that implement `Displayable`, in the getXml() method. For example, `BiblePassage` uses `passage` as its element name.

[2022-10-08 09:31] berry120 commented on #571
@kaustav202 It's in `ImageGroupDrawer.java`.

[2022-10-08 09:33] berry120 opened #574 "DisplayCanvas - drawingPriority doesn't need to be initialised in field."
In DisplayCanvas.java, line 65, `drawingPriority` is assigned a default value. This default value is never used, so can be removed.

[2022-10-08 09:36] berry120 opened #575 "PreviewPanel.java - turn anonymous inner classes into lambdas"
PreviewPanel.java has 3 anonymous inner classes used, these are all `EventHandler`:

 - `liveButton.setOnAction()`, line 64
 - `setOnKeyTyped()`, line 78
 - `setOnKeyPressed()`, line 86

These should all be replaced with lambdas to remove excess boilerplate code.

[2022-10-08 10:21] berry120 commented on #574
@chan2k14 sure 👍

[2022-10-08 11:13] whyang0808 commented on #575
Hi, could you assign this to me?

[2022-10-08 12:53] Dhi13man commented on #575
Have raised PR #576 to fix this. Please check and merge if alright.

[2022-10-09 10:12] qDUYBIePWlic opened #579 "Crashes with macOS Monterey (12.6)"
Our church computer upgraded to macOS Monterey last week, and Quelea (2022.0) is now crashing randomly. I appreciate any help you can provide and am thankful for all your contributions to this great software.
[Uploading quelea_crash_1.txt…]()

[2022-10-09 19:25] qDUYBIePWlic commented on #579
Posting another crash log and the Quelea debug logs, in case they're helpful

[quelea_crash_2.txt](https://github.com/quelea-projection/Quelea/files/9742401/quelea_crash_2.txt)
[quelea-debuglog.txt](https://github.com/quelea-projection/Quelea/files/9742404/quelea-debuglog.txt)

[2022-10-09 19:46] qDUYBIePWlic commented on #579
Version 2021 also crashes.
[quelea_2021_crash_log.txt](https://github.com/quelea-projection/Quelea/files/9742432/quelea_2021_crash_log.txt)

[2022-10-09 20:29] qDUYBIePWlic commented on #579
I found this issue and am trying the same remediation step
https://github.com/quelea-projection/Quelea/issues/375

[2022-10-10 00:11] berry120 commented on #574
Thanks!

[2022-10-10 00:11] #574 closed

[2022-10-10 00:12] #571 closed

[2022-10-10 14:15] PhilippeM1970 opened #580 "Cannot close options when using French translation"
It is almost impossible to use the software in French (français) because OK and close button of the option dialog does not works.

We are able to select French langage and restart Quelea as mentionned but then if we open options dialog, it is impossible to apply changes.

We have to manually delete the language line from the quelea.properties file to be able to use the option dialog again (but the

[2022-10-10 14:52] PhilippeM1970 opened #581 "Please provide better shortcut to add a song live."
When song leader start an unplanned song, it is very long to project that song as there are no keyboard shorthcut or a long sequence of them.

Assuming that the output is blank, you have to do the following :

- Type song title or number
- Double-clic to add it to the schedule
- Go to the schedule and select it for preview
- Goto preview and select appropriate verse
- Click the Go live button
- Sh

[2022-10-10 15:02] PhilippeM1970 opened #582 "Improve VideoPsalm to include chords, song numbers and verse/chorus tags."
Importer should import far more information than it does.

At most song numbers should be imported as well a chorus/verse tags. I have not yet checked if it is realted to the fact that I have set the UI in French in VideoPsalm or lazyness of the one who write import code but if we choose a free presentation program, obvioulsy we dont want to pass hundreds of hours to do that by hands...

While it

[2022-10-10 20:22] suhaas-livcd commented on #570
@berry120 Thank you for the information.
I have created the PR #583 but the build check has failed. How should I proceed further ?

[2022-10-10 20:44] odifek commented on #558
I encountered this error when trying to run the project on my laptop.

[code]
I think it's because of M1 macbook.

I, however, solved it using the recommendation in this StackOverflow answer. https://stackoverflow.com/a/71622655/3884184
I basically downloaded the Azul JDK with Javafx prepackaged

[2022-10-11 18:29] Dhi13man commented on #575
@berry120 can you review my PR?

[2022-10-14 15:17] qDUYBIePWlic commented on #579
That did not solve the problem. In the new version with a new preferences folder, I'm still getting crashes.
[newcrash.txt](https://github.com/quelea-projection/Quelea/files/9787694/newcrash.txt)

[2022-10-15 21:11] #575 closed

[2022-10-15 21:12] berry120 commented on #570
Thanks!

[2022-10-15 21:12] #570 closed

[2022-10-20 21:02] joncojonathan commented on #311
Hello,
I've taken @ArvidNy's icon suggestion and replaced the logo - see #588.

Feedback appreciated :smile: .

[2022-10-20 21:06] joncojonathan commented on #222
Hi @NF53 - I think this is all sorted now?

[2022-10-25 03:43] DeeTigIT commented on #581
If time is critical you might consider:
- Search and click the sound (it appears in the preview pane when using that option for the database song preview setting).
- Click the desired verse in the preview pane
- Click Go Live button
- Add the song to the schedule afterwards

Blessings,

Dirk / Quelea user

![S1](https://user-images.githubusercontent.com/39883796/197677152-13bdf3de-787e-4111-ae14-e

[2022-10-25 23:23] micahlt opened #591 "Future-proofing assets for 2023.0 and beyond"
The new splash screen assets (incorporated in #518) include the version number.  At the moment, there are no source files.  In order to future-proof these assets, we'll need one of two options:

- Easily editable source files (SVG)
- A new design with no version number
- Automatic display of the version number based on Quelea's version

Do y'all have a preference here?  I can easily provide source

[2022-11-03 00:40] m1aKids opened #594 "Matrox Triplehead Support"
TripleHead2Go support would be nice. Only outputs to 1 monitor instead of all 3.

[2022-11-04 01:18] JessyJP opened #597 "I propose - Preference Windows Section => "Connected devices""
As the name suggests at any one time we don't know how many devices there are.
I propose a simple section with a list of IPs.
* IP
* For each IP we could give the name of the device if available.
  * (The name In green if it's currently connected and in red if it is not)
* Then we say what client is connected to them.  i.e. View or Edit Remote / Stage etc.
* Then add a defer midi control checkbox

[2022-11-05 18:11] Dazmed707 commented on #523
"Thumbnail size" found.
Thanks.

[2022-11-05 18:11] #523 closed

[2022-11-05 18:23] Dazmed707 commented on #544
quelea stable 2022.0 freezes when using .pptx, it takes a few seconds to move from slide to slide, the program hangs.

[2022-11-06 01:18] berry120 commented on #591
Hey, thanks for flagging this up - very good point! I think the best course of action would be automatic display based on the version number - would you be able to provide the design without version numbers so we can add that over the top?

[2022-11-12 23:00] HeyITGuyFixIt opened #598 "Video Layer Missing in Windows 11"
We just upgraded our computer to Windows 11 and tested Quelea. It looks like everything works fine except for the video layer. When Quelea starts up, what appears to be the video layer appears behind the control window on the main screen, but filling only a quarter of the screen.

This first picture shows how it appears. The PC's background is the same as the configured logo in Quelea. Quelea is s

[2022-11-13 14:27] JessyJP opened #599 "How do I create an installer package from InteliJ for Windows 11."
As the title says, I would like to create an installable .exe or .msi package for Windows 11.
I tried the various .gradle tasks but they didn't produce anything of the sort