[2019-10-25 18:55] jonlchamblee commented on #162
@ArvidNy
Any idea when this may be coming up in a CI release?

[2019-10-28 15:40] ArvidNy commented on #162
@jonlchamblee, we have talked about it and have decided to add a few new features to 2020.0, including this one. I've just created a pull request for it and after it is merged it will be available in the CI release. We'll just review the changes again to try to avoid as many potential bugs as we can, but my guess is that it'll be in place this week.

[2019-11-01 13:42] cskeel opened #216 "Allow Mobile Stage View"

[2019-11-01 13:50] cskeel commented on #216
I am running 12 pc’s utilizing android OS (primeOS) for band members to view lyrics and chords.  Everything is automated except the password.  It would be handy when starting the system AND for the periodic computer crash if the machine had the password stored.

[2019-11-01 13:50] #216 closed

[2019-11-01 14:50] #162 closed

[2019-11-01 14:50] #160 closed

[2019-11-09 14:15] HeyITGuyFixIt opened #217 "Quelea on Linux - Add Images not seeing JPG files"
I am using a fresh installation of Peppermint 10 (which is based off of Ubuntu). I installed Quelea (version 2019.1, Java version 1.8.0_212) via Snap. I have a few JPG images that were created by exporting PowerPoint slides as JPG images on a Windows 10 laptop (not sure if that really matters) and I tried to use the Add Images feature in Quelea to add these images. However, when I browse to the fo

[2019-11-09 14:19] HeyITGuyFixIt commented on #217
I noticed that when trying to open an image file with "jpg" as the file extension, instead of "JPG", actually works. So I renamed the image files I have from "*.JPG" to "*.jpg" and they are now visible to Quelea. Not sure why this is the case, but I don't think it ought to be this way.

[2019-11-09 15:17] ArvidNy commented on #217
Good catch! It seems file names are case sensitive also when it comes to the file extensions on Linux, but not on Windows. That means you could have one file called `image.jpg` and another one called `image.JPG` on Linux. We have only added the lowercase file extension to the filter, and my guess is that no one has noticed this before since an uppercase extension is picked up anyways on Windows. W

[2019-11-09 15:19] ArvidNy commented on #216
Is this no longer a request or did you close this by accident?

[2019-11-09 15:23] ArvidNy commented on #162
@jonlchamblee, @samagas & @cker94 , in case you haven't noticed it yet, this feature is now available in the CI release. If you test it out, do let me know if you would experience any issues!

[2019-11-09 15:26] ArvidNy commented on #160
@HeyITGuyFixIt, in case you haven't noticed this yet, this feature is now optional in the latest CI release if you want to try it out. Otherwise it'll be available in the 2020.0 release as well.

[2019-11-09 15:28] HeyITGuyFixIt commented on #160
I've noticed it and will likely wait for the 2020.0 release.

[2019-11-11 14:06] jonlchamblee commented on #162
@ArvidNy I'm new to Github not sure I did it correctly.  I went to the CI release and downloaded it and installed it.  Ran the program and I'm not seeing the added function.  I checked (Help/Check for Update) and it says I am running 2020.0.

[2019-11-11 15:31] ArvidNy commented on #162
Sounds like you should be running the right version then. Does [this wiki page](https://quelea-projection.github.io/docs/Song_sequences) help you get started or is the feature still not there for you?

[2019-11-11 15:59] ArvidNy commented on #162
Which version did you install? There seems to have become an untagged CI release (CI build 606) which should be the one you need to install.

[2019-11-11 16:23] jonlchamblee commented on #162
This link:
https://github.com/quelea-projection/Quelea/releases/download/CI-RELEASE/quelea-CI-UNSTABLE-x64-windows-install.exe

from here:
https://github.com/quelea-projection/Quelea/releases/tag/CI-RELEASE

[2019-11-11 16:26] jonlchamblee commented on #162
It just redownloaded and installed and it's there now.

[2019-11-11 17:21] ArvidNy commented on #162
Strange that it didn't work the first time, but good to hear that it's there now at least!

[2019-11-13 16:23] bitDealer opened #219 "New theme options"
Most worship-presentations you see nowadays present the lyrics entirely in uppercase. Although I like the look of such design, I don't like the tought of not having the lyrics correctly written in my database, just in case I ever wanted to present it the normal way.
I would like to have the option in my theme to decide if the entire text shoud be written the normal way, or in uppercase letter.

[2019-11-14 22:57] promo2richie opened #220 "Import song and overwrite"
When I import a song from Quelea Song Pack, I am able to check for duplicates and either “not import” or “import and duplicate”. Is there a way to enable Quelea to overwrite the existing song with the imported song?

[2019-11-16 21:43] HeyITGuyFixIt opened #221 "Window Layering Issue on Ubuntu"
On Ubuntu systems (including derivatives) using the LXDE desktop environment, the output windows for Quelea aren’t layered correctly. From what I have seen, the Video window should be underneath the Projection Window, but that is not the case with LXDE. The Video window is always on top. It seems to put itself on top whenever an item goes live, even when I raise the Projection Window. I have no id

[2019-11-17 16:21] cskeel commented on #216
I must have closed it by accident

On Saturday, November 9, 2019, Arvid Nyström <notifications@github.com>
wrote:

[2019-11-17 21:54] NF53 opened #222 "Copyright Display"
I’m pretty sure the CCLI licence conditions require copyright information to be displayed. So, it would be good to have another field in the ‘small song information’ box to display the copyright details for that - being aware that sometimes it is a pretty long string!

A general option to include one’s own CCLI licence number (which I think is also a requirement) - perhaps in a central box at the

[2019-11-18 22:09] DeeTigIT commented on #106
I recollect a Q&A topic on the Quelea Discussion Group:
Q: You mention the experimental CCLI small text. I was wondering how that is accessed.
A: If you put "church.ccli.num=123123" in your quelea.properties file, this should trigger the new behaviour.

So this can already be used for displaying one’s own CCLI licence number.
When specified in the properties file, 2 two fields currently are filled

[2019-11-21 04:08] kanglinyao opened #223 "Please release Quelea into Arch LInux User Repository(AUR)"
Snap is quote hard to use for arch based linux users. If the quelea can be put in AUR, is much easier for people to install.

[2019-11-24 16:01] jandreswanepoel opened #225 "Gobal theme limitations"
Good day, I'm not sure if the is a design decision or a mission feature but if someone can please help me in the matter. Our church moved from EasyWorship to Quelea about a month ago and we are very exited about the software. There is just one thing.

The concept of having a Global text theme with the shadows and a font style without a fixed global image or solid color does not seem to be present

[2019-12-09 20:35] DeeTigIT opened #226 "2020.0 Beta 1 release : user option 'Allow custom item themes to override global theme' broken"
In the current 2020.0 CI release, the user option 'Allow custom item themes to override global theme = true' doesn't work correct anymore, see below.

I think this is could be regression, introduced with the new Tools, Options functionality. We had this bug in the past, namely, and it was fixed. Perhaps that fix is now (partially) overwritten by the new Tools, Options code that was merged some tim

[2019-12-10 12:22] berry120 commented on #223
We're happy for someone else to take this on (as they did in the package you linked to), but this isn't something we're likely to get around to any time soon I'm afraid.

[2019-12-10 12:27] berry120 commented on #220
Afraid not at the moment. I'm not convinced this would be a worthwhile feature, as (by design) for it to be recognised as a duplicate very little will have changed, I think at most a few characters.

You could of course delete the duplicate entries ahead of time, but that requires you knowing what they are...!

[2019-12-10 19:26] berry120 commented on #221
Hmm, I'm afraid I haven't managed to reproduce this in Gnome (don't have LXDE to hand to try quickly) - but I suspect it's a case of the `toFront()`, `toBack()` calls in JavaFX probably not working properly on that particular environment.

Unfortunately JavaFX can be a bit flaky in terms of the environments it supports, and since LXDE isn't officially supported, it's possible to run into issues li

[2019-12-11 03:10] eddyg1 opened #227 "Max number of verses per slide not function properly"
I just try CI Build 613, it seem a feature "Max number of verses per slide" not function properly. When I was tried 1 and off this feature, the Bible verse weren't shown 1 verse per slide.

In 2019.1, this feature work properly
![image](https://user-images.githubusercontent.com/58758941/70588101-461a6700-1bfe-11ea-87f1-b8bf1b840a62.png)

[2019-12-12 01:26] onlinejane opened #228 "Chinese character fonts"
Quelea can't support Chinese character font? how can I change the chinese font type? No matter I changed the font type in the lyric theme, the result is still the simsun or Mingliu.

[2019-12-12 03:10] #228 closed

[2019-12-14 10:15] onlinejane opened #230 "bilingual language lyric request different font size and color"
Hi I am from the bilingual church. Our worship lyrics always request for two languages. One is Chinese and the second is English. I had attached the screenshot (the slide is done by powerpoint). we need the functions that can adjust the font size for different languages.

there is two options can do it.
1. manual adjust
2. create the function for translation. if the function on, add new song will

[2019-12-14 16:33] DeeTigIT commented on #230
Hello onlinejane,

Quelea already has translation language functionality, see screenshots below.
However, it is not possible yet to change the font size.
Reference: https://quelea.discourse.group/t/change-font-size-of-translations/237/3

Regards and blessings,

Dirk

![S1](https://user-images.githubusercontent.com/39883796/70851633-c27ba700-1e97-11ea-8ad6-2123632e23ef.JPG)

![S2](https://user-imag

[2019-12-14 20:29] onlinejane commented on #230
thanks,DeeTigIT. thanks for this powerful software.
Is it able to change the font size for the translation?
In your suggestion, we can download the font size smaller than the default. But in Chinese Character is different from the English word. As you see the example, the length of one English word is longer than 1 character Chinese character. and the Chinese Character always the same size, but th

[2019-12-14 20:57] DeeTigIT commented on #230
Your credits, and also your credits, are for the developpers of Quelea.

In the Quelea Discourse item (https://quelea.discourse.group/t/change-font-size-of-translations/237/3), Arvid mentions the following:

_No problem! You can always change the appearance of the translation, e.g. color or font (and I suppose you could theoretically download a font with smaller characters than default and that wa

[2019-12-14 22:34] onlinejane commented on #230
Thanks for your reply. I have tried with the impact font or franklin Gothic font type. However, the font size of the English translation still bigger than the main lyrics. I checked the font option, it shows me the system. It seems that Quelea doesn't support the font type?

[2019-12-14 22:40] onlinejane commented on #230
Is it possible to add the % option beside the translation font option? It will automatically set the font type base on user choice instead of the default size. For example, if I decide 50%, it means that the translation font size will be 50% smaller than the Main lyric.

2. May I know what type of font does Quelea support? I imported several font types, but the system did not show me font results,

[2019-12-15 09:08] onlinejane commented on #230
Is it possible for you to teach me how to modify the coding in Quelea to change the translation font size? I am willing to change it manually via coding if you are able to give me the instruction.

[2019-12-28 23:30] HeyITGuyFixIt opened #232 "Zooming"
In Image Groups (and likely Presentations), the slides can often be too small to read depending on the system's resolution and scaling settings. In ProPresenter, users are able to zoom in. Would it be possible for this feature to be added to Quelea?

[2019-12-28 23:34] HeyITGuyFixIt commented on #221
On the forum someone said they are experiencing the same issue using the XFCE environment, which is somewhat related to LXDE. I haven't had a chance to try out what you suggested, but I may soon.

[2019-12-28 23:42] HeyITGuyFixIt commented on #221
When you say Java 11, you mean JDK 11?

[2019-12-29 00:09] HeyITGuyFixIt commented on #221
Assuming you mean JDK 11, I installed that and installed the cross-platform version. I ran it and got this error:
[code]

[2020-01-12 20:39] Cyb3rG0D7 opened #233 "Add option to mark specific words of verses."
When you select one or more words, a box with the color to be marked is displayed and you can go live.

[2020-01-15 20:17] Jak0bd opened #234 "Allow song database to be shared on a remote server"
I can imagine this has been asked before - but in our church we actually make use of Quelea on 4 different laptops (for logistical reasons), this means syncing the database is a manual task using Google Drive and having FreeFileSync in place to quickly be able to sync the data. But this is error prone and cumbersome.

Would it be possible to support a remote database (on FTP, some basic server sof

[2020-01-16 08:42] Cyb3rG0D7 opened #235 "Create a AppImage"
https://github.com/AppImage/AppImageKit/wiki/Bundling-Java-apps

[2020-01-20 05:42] DeeTigIT opened #236 "2020.0 CI release : translations missing after importing Quelea Song Pack (.qsp)"
Songs with multiple translations in a .qsp file are not correctly imported. Seems that only 1 trans is imported for such a song. This appens in both the 2020.0 CI as well as the 2019.0 release.

Testcase: song with 2 trans (EN en NL). After exporting to a .qsp file, both trans are present in the .qsp. But upon importing the .qsp in an empy Quelea db, only the last trans NL in the song xml is actua

[2020-01-22 23:08] ipikles opened #249 "Bible passage adding fails if biblename contains a slash (Remote Control)"
I cannot add bible passage with remote controller if book name contains slash ( / )

For example, this is a line from zefania xml bible file
`<XMLBIBLE xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="zef2005.xsd" biblename="PR33/38" status="v" version="2.0.1.19" type="x-bible" revision="0">`

However, if I change the biblename attribute to "PR33" everything wor

[2020-01-25 11:30] berry120 commented on #226
This issue has been mentioned on **Quelea community**. There might be relevant details there:

https://quelea.discourse.group/t/custom-theme/336/2

[2020-01-26 21:05] suciuben opened #237 "Can you help me to hide the clock from stage view?"
We use stage view for output the bible verses and aongs to a video stream. Can you help as to hide the clock?

[2020-02-03 02:28] MistaWizard opened #238 "CORS header ‘Access-Control-Allow-Origin’ missing"
Greetings, I'm working on a project similar to [https://github.com/anthonyeden/ProPresenter-Lyrics-HTML](url) or [https://github.com/josephdadams/PresentationBridge](url) for Quelea. My initial goal is to make a live lyrics view that can be more easily used for lower third style lyrics in OBS. I plan to expand it to have a stage display that works like the Android app.

Here lies the issue I'm run

[2020-02-03 06:47] berry120 commented on #236
Thanks for this! We'll aim to fix before rolling out 2020.0 beta.

[2020-02-04 06:08] DeeTigIT commented on #225
Here's a thought on this. Suppose the "drag an image to a schedule song" action would, in the background (no button), **copy the text options of the current default global song theme** to the schedule song.  Would that be an improvement for your church? I can't say if this technically possible of desirable, but our church would sure benefit from this.

Dirk / Q user

[2020-02-09 05:12] Dazmed707 opened #239 "Error in verses"
It does not show only one verse as configured.
![bug20200](https://user-images.githubusercontent.com/35184132/74096744-a7f92f00-4ad0-11ea-8bab-a397ca75abe0.png)
![bug20201](https://user-images.githubusercontent.com/35184132/74096745-aaf41f80-4ad0-11ea-8b3d-d880b29223d4.png)
![bug20202](https://user-images.githubusercontent.com/35184132/74096748-afb8d380-4ad0-11ea-9bdb-2645ac39860a.png)

[2020-02-10 03:27] MistaWizard commented on #238
I resolved/worked around the issue. I setup a reverse proxy in my Node server and got it working.

[2020-02-10 03:27] #238 closed

[2020-02-10 06:46] berry120 commented on #238
Sorry, a bit slow getting to these things at the moment. This isn't a bug in Quelea, but a limitation of how resources can be accessed online - generally speaking, an AJAX, WS request or similar can only be made to the domain it's served from. So anything served from `mydomain.com` can only make requests to `mydomain.com`, not `quelea.org` - this is for security reasons. A CORS header allows this

[2020-02-10 07:02] MistaWizard commented on #238
Here's my repository if anyone is interested in a clearer view of how I worked around it. [https://github.com/MistaWizard/Quelea-On-The-Web](url) It works with Quelea running locally and remotely. It is still a work in progress but I've very nearly got it where I need to be for my initial purpose. The API has made it very easy to get it to a usable state. Thank you for the hard work making Quelea

[2020-02-10 19:11] DeeTigIT commented on #239
I think this is the same issue as:

Max number of verses per slide not function properly #227

[2020-02-10 19:15] DeeTigIT commented on #227
This seems indeed to be a regression bug in the CI 2020.0 release.
I can confirm what eddyg1 stated: in 2019.1 it works as expected.
Both for "Max number of verses per slide" equals 1 and 3.

![S1](https://user-images.githubusercontent.com/39883796/74181736-14e00680-4c42-11ea-8576-b19aa0ccd3ef.JPG)

![S2](https://user-images.githubusercontent.com/39883796/74181740-18738d80-4c42-11ea-8b96-e3b633dab

[2020-02-11 19:11] DeeTigIT commented on #211
Another request:
https://quelea.discourse.group/t/counting-how-many-times-a-song-is-used/357

[2020-02-11 19:19] berry120 commented on #211
This issue has been mentioned on **Quelea community**. There might be relevant details there:

https://quelea.discourse.group/t/counting-how-many-times-a-song-is-used/357/2

[2020-02-12 23:54] HeyITGuyFixIt opened #240 "VLC Muted on Video Stopped"
On KDE Plasma, which I think is based off of Ubuntu, when I play a video in Quelea 2019.1, pause it, and switch to another video, VLC is muted. Not sure why this happens nor how to prevent it.

[2020-02-17 06:10] jandreswanepoel commented on #225
Thanks Dirk, "**copy the text options of the current default global song theme**" sounds like the answer 👌 That would definitely be an improvement at our church. I will ask Berry if I can't find the code or configs to do it.

[2020-02-22 23:43] HeyITGuyFixIt commented on #217
Looking through the code, I'm not seeing where this filter you mentioned would be located. I would be willing to make a pull request for this, but I don't know which file to start with.

[2020-03-01 15:02] VladiMikhail2020 opened #241 "Font Size Adjustment"
Hi,
Thank you so much for the work you're doing. Much appreciated and may Yahweh bless you.
Could you kindly add the font adjustment to make it easier for me and many who would want to resize the font?

[2020-03-07 23:13] HeyITGuyFixIt opened #242 "Question about Slide Transitions"
Are slide transitions applied only to songs or also to presentations and images? Also, would it be possible to have a transition when items go live?

[2020-03-08 16:53] huantianad commented on #114
Windows 10 user, also having quick edit select the first line. Not sure if it's a mac related issue, but I also do not have a mac to test it on.

[2020-03-08 17:11] huantianad opened #243 "Add Partial Bible Verses"
Add the ability to put partial Bible verses along with normal Bible verses to the schedule. Maybe allow the user to highlight a specific part of a verse to be used.

[2020-03-10 19:00] HeyITGuyFixIt opened #244 "Thumbnails and Actual Font Sizes Inconsistent"
The Preview and Live thumbnails/previews font size doesn't line up with what is actually being shown. This is in 2020.0 on Linux Mint.
![Quelea 2020 0 Font Size Preview](https://user-images.githubusercontent.com/34974905/76349286-143d9d00-62e0-11ea-9803-5f9533c7d10f.png)

[2020-03-11 19:25] berry120 commented on #105
This issue has been mentioned on **Quelea community**. There might be relevant details there:

https://quelea.discourse.group/t/midi-automation/390/2

[2020-03-26 16:29] eugeis opened #245 "Quelea crashes at File Open dialogs (in Linux)"
Hello,

I want to start development of Quelea, Linux Kubuntu 19.10. I am using master branch.

Quelea starts without problems (from InteliJ), but if I click to any button (any operation) which want to open a file dialog then the JVM crashes.

Same problem if I am using the installer JAR from CI, by java -jar ...

I tested with 8.0.232.fx-zulu and 11.0.5.fx-zulu.

See attached log files.

[hs_err_p

[2020-04-03 09:33] ArvidNy commented on #245
Hi Eugeis,

You might want to take a look at [this comment](https://github.com/quelea-projection/Quelea/issues/17#issuecomment-407561200). You need to add the JVM option `-DVLCJ_INITX=no` when you initiate Quelea on some Linux distributions.

Hope that works for you too!

[2020-04-03 09:38] ArvidNy commented on #242
They are only applied to text items (i.e. songs, bible passages) and not to images. It should be possible to add however at some point. Feel free to rename this issue and make this a feature request for that!

As for transitions when an item goes live, I believe there should be at least a fade in transition there. How would you want it to work?

[2020-04-03 09:43] ArvidNy commented on #217
Great, feel free to open a PR for this! The method that needs to be edited should be [this one](https://github.com/quelea-projection/Quelea/blob/9ea15cc5407776fa569a67364b96aa78428dfd80/Quelea/src/main/java/org/quelea/services/utils/Utils.java#L804-L813).

[2020-04-03 09:45] ArvidNy commented on #219
Sounds like a good option to me. Feel free to open a PR for that when you manage to get it working and we will have a look at it at some point!

[2020-04-03 09:58] ArvidNy commented on #234
Hi Jak0bd,

It has been suggested before and we have plans to take a look at it at some point. However, time is usually the main issue here. I know other users also have found ways to sync the database folder using Dropbox and similar services, but as you say those solutions tend to be error prone. Other than that, I'm afraid there's no official way to synchronize a database at the moment. We will

[2020-04-03 10:02] ArvidNy commented on #237
At the moment, the clock isn't an optional feature on the Stage View. We might reconsider this at some point. One way of getting past it right now would be to use a web browser with Mobile Lyrics instead of the Stage View.

[2020-04-03 10:04] #239 closed

[2020-04-06 04:06] HeyITGuyFixIt commented on #242
I don't think there is a transition when a playlist item becomes live, when it replaces another item. It just cuts right to the item, with no fading or option to fade. Having such an option would be useful, and would give the overall presentation a smoother feel, in my opinion. Hopefully that explains it well.

[2020-04-21 00:34] HeyITGuyFixIt commented on #243
Also, it would be useful to be able to edit the verses after they are added to a playlist, like songs can. Not sure if this is a thing already

[2020-04-21 20:30] berry120 commented on #245
Closing this one off as we haven't heard back. Feel free to reopen if it's still an issue.

[2020-04-21 20:30] #245 closed

[2020-04-21 20:38] berry120 commented on #217
Should now be fixed as per the above PR.

[2020-04-21 20:38] #217 closed

[2020-04-22 16:11] berry120 commented on #227
Should now be fixed in the latest CI release. (Note that you may need to toggle the setting off and on again for this to start working if you've used the CI release already.)

[2020-04-22 16:11] #227 closed

[2020-04-22 16:11] berry120 commented on #236
This

[2020-04-22 16:12] berry120 commented on #121
Clearing for now as don't want to delay 2020.0 any more, and this isn't a regression.

[2020-04-22 16:13] berry120 commented on #193
Clearing milestone for now as this isn't critical, is a good first issue for someone to pick up in future, and we should get 2020.0 out ASAP.

[2020-04-22 21:12] #236 closed

[2020-04-22 21:13] berry120 commented on #236
Should now be fixed in the CI release.

[2020-04-22 21:23] berry120 commented on #210
This has now been added to the documentation - we'll add it to the options dialog as well in due course.

In the meantime marking this as a Duplicate of #86 so we don't have two bugs open with the same issue.

[2020-04-22 21:23] #210 closed

[2020-04-22 21:24] berry120 commented on #86
Reopening as we should put this in the options dialog at some point, especially now it's been reorganised to cope with a better number of options.

@ArvidNy is this something you'd be able to look at at some point? No rush at all.

[2020-04-23 03:33] willemvanderven opened #248 "Add option to Center Song Title"
The Small Song location (Song Title and Bible verse) only allows for Left and Right hand positions. Unfortunately it falls off the edge of the projector screen.  Two improvements:
1. Ability to adjust the LH and RH margins for the title,
2. Add option to have the title centred?
Much appreciated!

[2020-04-23 19:59] DeeTigIT commented on #226
I renamed this issue to **2020.0 Beta 1** ... because it's still present in the latest cross platform install.

In the attached schedules:
- The 1st song has it's own image: backgroundimage:beach.jpg
- The 2nd song has no theme override (so the Quelea song default should be used)
- The 3rd song has it's own video: backgroundvideo:earth and sun.mp4

After re-opening the schedule, all songs are show

[2020-04-23 22:14] berry120 commented on #226
Hmm, I can't seem to reproduce this, but then I don't think I could reproduce it last time either - @ArvidNy, any joy your end? I feel like you may have been able to reproduce this when I couldn't before...

[2020-04-24 08:37] ArvidNy commented on #226
Yup, I can verify that the custom theme is removed when a schedule item is imported. Seems like the default theme is always loaded instead of reading the theme from the schedule XML: https://github.com/quelea-projection/Quelea/blob/c5f0c9e606dfe65cc104149f8aeb4ce53a4a0fac/Quelea/src/main/java/org/quelea/data/displayable/SongDisplayable.java#L1256-L1258

Shouldn't be a new bug however, this bug mus

[2020-04-24 09:02] ArvidNy commented on #242
I'm afraid I can't reproduce that behavior. When I have activated the setting to use the fade transition and then move from on item to another, it first changes to black and then uses a fade in transition when the lyrics appears. I take it that that's not what's happening for you?

[2020-04-24 09:39] DeeTigIT commented on #226
The issue isn't present in the 2010.0 cross platform: our church is using this for almost a year now. At saturday the the schedule is prepared including custom themes. On Sunday the schedule is re-opened and custom theme override work as expected.

Also, when re-opening the above 2020.0 Beta 1 example test schedules "test - without embedded media.qsch" and "test - with embedded media.qsch" in the

[2020-04-24 11:20] HeyITGuyFixIt commented on #242
That is what is happening, with the verses. I am talking about a transition between items in a playlist. Like in-between songs and not just lyrics; say a transition when the background image changes. Same with presentations and image groups.

[2020-04-25 10:50] DeeTigIT commented on #236
Yes, it is in 2020.0 Beta 1.
Thanks!

[2020-04-25 15:01] ArvidNy commented on #242
It should only behave the way I described between two text-based items, sorry if that wasn't clear! We haven't implemented any transition between other items yet, such as images or presentation slides, so that you don't see anything there at the moment is to be expected. It's on the to-do list, so we'll get to it at some point.

[2020-05-02 11:25] ipikles opened #251 "Minor usability issues in sequence editor (2020.0 beta)"
I found some minor usability issues while trying new Sequence editor.
Sequence editor is actually really great thing, something I didn't knew I needed! Thanks.

# Labels
These are my personal opinions, discard if you disagree :)

1. Edit button (pen icon) in song editor has a tooltip "Song sequence dialog"
    *  Would it would be better if tooltip shows what button does instead what is behind it?

[2020-05-18 15:51] ArvidNy commented on #251
Thanks for the feedback! I think all of your suggestions are great and I'll have a look at implementing them soon!

[2020-05-19 17:42] ben221199 opened #253 "Presentations not fully supported"
I want to use Quelea, but I have many struggles with the presentations:
-  You can only load PPT and PPTX files, ODP files aren't possible.
- LibreOffice is not supported.
- Presentations don't look the same in Quelea as in OpenOffice / LibreOffice.
- The 'Go Live' button doesn't always work when using presentations.
- When switching to other slides (of the same or a different presentation), it is

[2020-05-21 05:14] ipikles commented on #253
You can set video background to your slides (see theme editor). Lyrics are shown with transparent background on one window and video is played on another.

You can press F8 to toggle projection window. If you have closed video window and press F8 all projection windows (in this case, only lyrics window)  will be closed. When you press F8 again both windows will be reopened.

[2020-05-21 12:01] ben221199 commented on #253
Ah, I see. I think I don't need it at the moment, but it is a nice feature for the people who actually need it.

Wow, F8 is great, but I still would like to see it in the GUI as well.

[2020-05-26 22:30] al-knights opened #254 "Kaspersky reporting a virus when running windows installer."

[2020-05-26 23:02] berry120 commented on #254
Nothing we can do about this - it's a false positive on the Kaspersky side.

[2020-05-26 23:02] #254 closed

[2020-06-10 21:06] mage1116 opened #255 "Looking for the ability to use a video instead of slides for songs,."
I would like to suggest the ability to use videos instead of slides for songs. It would be nice if there was the ability to have the choice to play the video or slides when you add the song to the service. That way the videos are searchable via name or lyrics just like the songs.

[2020-06-14 11:00] DeeTigIT commented on #106
Perhaps Add option to Center Song Title #248 can be combined with this issue?

[2020-06-14 11:16] DeeTigIT commented on #255
Please check :
https://quelea-projection.github.io/docs/General_tab#show-video-library-tab-\(requires-restart\)

Show Video Library Tab (requires restart)

The Video Library Tab will appear next to the tabs for songs, bibles, images and timers. You can then **add videos to your schedule the same way you add an image**. This option is known to make the start-up time longer on some system.

[2020-06-19 04:44] kanglinyao opened #256 "cannot resize a incomplet setting window"
![Screenshot from 2020-06-19 16-30-53](https://user-images.githubusercontent.com/21337733/85097595-16eb4f00-b24c-11ea-8a90-32bb47e6eabd.png)
This window cannot be resize in Manjaro Linux Gnome version.

[2020-06-19 04:47] kanglinyao opened #257 "Universal java installer cannot create linux shotcut properly"
The quelea 2020 beta version cannot create linux shotcut properly in menu or desktop. Manjaro and Arch linux.

[2020-06-19 05:03] kanglinyao opened #258 "Please release Quelea to AUR"
I absolutely love Quelea, but installing Quelea in Arch-based Linux is never an easy task.
Unfortunately, I hate snapd as much as I love Quelea. Please stopp using snapd.
Please publish final Quelea to Arch community,
and beta release to AUR.

[2020-06-20 19:33] sven-dmlr opened #259 "Enable song text lines to begin with words from "section titles""
I have several cases where a song text line begins with `Tag`.
(It's just the German word for "day")

Example:
[code]
"Bridge" is recognised correctly as a section title, but also the next line beginning with "Tag".
-> A possibility to "escape" section title key words is needed. (e.g.  `\` or `_`)
  (That escape character when in 1st column should not be displayed of course.)

My current workaroun

[2020-06-20 20:20] berry120 commented on #259
Have you tried appending "//lyrics" to the end of the line? Not a fantastic workaround, but should work...

[2020-06-22 08:05] sven-dmlr commented on #259
Yes. It works.  Thanks a lot!
Did I miss it somewhere in the documentation - or is this just "secret developer knowledge"?
I'd love to see it in the FAQs...

btw.: great work! Keep going!

[2020-06-22 08:47] berry120 commented on #259
You didn't miss it, but we should document it, so it's now added to this page: https://quelea-projection.github.io/docs/Adding_songs_to_your_database

Thanks for flagging!

[2020-06-22 08:47] #259 closed

[2020-06-22 08:50] berry120 commented on #258
We have hundreds of people actively using the snap package, so afraid that's not going anywhere any time soon.

No plans as of yet to publish to AUR, but ideally it's something we'd look at in a future release. Unlikely that the core devs will get around to it, but happy to receive any contributions to do so via PR.

[2020-06-22 08:51] berry120 commented on #257
We haven't tested on Arch, so there's likely to be the odd thing like this that doesn't work too well. Sample applies as #258 really - more than happy to receive PRs to fix stuff like this so long as they don't cause breaking changes elsewhere, but it's unlikely the core devs will get around to looking at this any time soon I'm afraid.

[2020-06-22 08:52] berry120 commented on #256
We haven't tested on Arch, so there's likely to be the odd thing like this that doesn't work too well. Sample applies as #258 really - more than happy to receive PRs to fix stuff like this so long as they don't cause breaking changes elsewhere, but it's unlikely the core devs will get around to looking at this any time soon I'm afraid.

[2020-06-22 08:59] berry120 commented on #258
Notice this is a duplicate of #223 - so we'll track this progress there instead.

[2020-06-22 08:59] #258 closed

[2020-06-22 13:49] #226 closed

[2020-06-23 05:02] kanglinyao commented on #256
Thank you so much. God bless you, your family and this wonderful project.

[2020-06-25 20:58] DeeTigIT commented on #226
Hello Michael,

Will this fix be released in a coming 2020.0 Beta 2 ?

Regards and blessings,

Dirk

Van: Michael Berry [mailto:notifications@github.com]
Verzonden: maandag 22 juni 2020 15:50
Aan: quelea-projection/Quelea
CC: DeeTigIT; Author
Onderwerp: Re: [quelea-projection/Quelea] 2020.0 Beta 1 release : user option 'Allow custom item themes to override global theme' broken (#226)

Closed #226<

[2020-06-25 21:52] berry120 commented on #226
Yes :-)

[2020-06-25 21:54] DeeTigIT commented on #226
👍🏻

Outlook voor iOS<https://aka.ms/o0ukef> downloaden
________________________________
Van: Michael Berry <notifications@github.com>
Verzonden: Thursday, June 25, 2020 11:52:18 PM
Aan: quelea-projection/Quelea <Quelea@noreply.github.com>
CC: DeeTigIT <tiggelaar.d@gmail.com>; Author <author@noreply.github.com>
Onderwerp: Re: [quelea-projection/Quelea] 2020.0 Beta 1 release : user option 'Allow cus

[2020-06-25 21:54] berry120 opened #260 "Fix planning center integration"
The current integration with planning center is broken. It's written using the v1 API which isn't inherently a problem, but also takes the raw username / password and pretends to be a web browser for authentication (which is a problem.) It's currently broken because that page has been updated requiring a CSRF token, and that's not something the current integration provides.

Rather than bodge the

[2020-06-25 22:09] berry120 commented on #260
The approach we're going to take with this is to write a separate library for the planning center integration, and then just retrofit the code to use that.

The work on that library has started here:

https://github.com/quelea-projection/planning-center-java-api

Once written, it should be reasonably straightforward to then retrofit that into Quelea.

[2020-06-25 23:39] berry120 opened #261 "Songs of Fellowship 6"
Update the songs of fellowship importer to work with SoF 6.

[2020-06-25 23:40] #261 closed

[2020-06-25 23:43] berry120 commented on #235
We're on Java 8 at present, so this will have to wait until (if) we upgrade to 11 or a newer LTS release.

[2020-06-25 23:50] #260 closed

[2020-06-26 08:22] berry120 opened #262 "Fix CI builds"
CI builds are currently broken (using too much bandwidth since Github put in place a bandwidth limit on Git LFS.)

We need to wait for the month rollover in order to get this working, as the bandwidth cap doesn't reset until then.

[2020-06-26 08:23] berry120 commented on #262
To add: hopefully the config is now fixed to cache the LFS artifacts and so it *should* start working again in July, but keeping this ticket open so we can keep an eye on it if not.

[2020-06-26 12:25] berry120 commented on #261
This is in the latest beta: https://github.com/quelea-projection/Quelea/releases/tag/v2020.0-beta-2

[2020-06-26 12:26] berry120 commented on #260
This is in the latest beta: https://github.com/quelea-projection/Quelea/releases/tag/v2020.0-beta-2

[2020-06-26 12:27] berry120 commented on #226
Should be fixed in the latest beta: https://github.com/quelea-projection/Quelea/releases/tag/v2020.0-beta-2

[2020-06-26 14:05] berry120 opened #263 "Enable user-defined keymaps"
Allow users to define their own keyboard shortcuts & keymaps. Not one that was previously feasible, but maybe something can now be done given that we have the new options dialog.

[2020-06-26 19:55] DeeTigIT commented on #226
Hello Michael,

I did a test with the latest 2020.0 Beta 2. Using both test schedules, as attached to this issue 226:
test - without embedded media.qsch(.zip)
test - with embedded media.qsch(.zip)

In these schedules:
- The 1st song has it's own image: backgroundimage:beach.jpg
- The 2nd song has no theme override (so the Quelea song default should be used)
- The 3rd song has it's own video: backg

[2020-06-27 17:40] joshuabogue opened #264 "Theme: Video Contrast Option"
i would love the option to be able to set the contrast on the video.  Certain really noisy videos are hard to use as a background unless I can set the contrast for them down a bit.  I tried making a larger outlines on the font, but for certain videos they were just too noisy.

I can attach a picture if needed.

[2020-06-28 18:56] DeeTigIT commented on #226
Some further observations:

**1.**
I found the Windows location used by Quelea to export to the embedded media in a schedule:
C:\Users\<userid>\AppData\Local\Temp
Whenever Quelea closes, these media files are deleted this Local/Temp.

**2.**
The 2020.0 Beta 2 uses this export location as well, just as the 2019.0 (cross platform) release does that we are currently using.

**3.**
I then did the abov

[2020-07-01 09:58] berry120 opened #265 "Further theme observations"
Some further observations:

**1.**
I found the Windows location used by Quelea to export to the embedded media in a schedule:
C:\Users\<userid>\AppData\Local\Temp
Whenever Quelea closes, these media files are deleted from this Local/Temp.

**2.**
The 2020.0 Beta 2 uses this export location as well, just as the 2019.0 (cross platform) release does that we are currently using.

**3.**
I then did the

[2020-07-01 09:58] berry120 commented on #226
@DeeTigIT I've split this out into a new issue here - would be good to fix, but I also don't want to hold 2020.0 up over something that isn't a regression at this point, so we'll see. Definitely need to keep track of it however.

[2020-07-08 05:31] DeeTigIT opened #268 "Import Presentation Manager 7 song fails"
Import Presentation Manager 7 song fails: Couldn't find any songs to import.
Sample song attached : A Heart Like Yours.sng.txt (please remove .txt, GitHub doesn't accept .sng for upload)

![S1](https://user-images.githubusercontent.com/39883796/86880088-7d95b700-c0ec-11ea-8fd9-3d68494a5010.JPG)

![S2](https://user-images.githubusercontent.com/39883796/86880097-82f30180-c0ec-11ea-99cc-e26a3bb71c11.

[2020-07-09 17:16] DeeTigIT opened #269 "The current EasyWorship importer can import EasyWorship 2009, but not EasyWorship 6"
The current EasyWorship importer is capable of importing the Paradox database of EasyWorship 2009.
(location: C:\Users\Public\Documents\Softouch\Easyworship\Default)
I didn’t check the import of EW versions prior to 2009.

EasyWorship 6, however, has switched to a SQLite database.
(location: c:\Users\Public\Documents\Softouch\Easyworship\
Importing Songs.db in Quelea results in: Couldn't find any

[2020-07-11 14:43] DeeTigIT opened #270 "The current SongPro importer expects a .sdb file, but SongPro5 uses extension .spdb"
Observations:
- The current SongPro importer expects a .**sdb** file, but SongPro5 uses extension .**spdb**
  Workaround: make a file copy from .spdb to .sdb (Quelea can import this copy)
- All the imported sample songs have 8 verses. (although in SingPro the sample songs usually don't have 8 verses filled)

![S3](https://user-images.githubusercontent.com/39883796/87226562-e30bd100-c394-11ea-898f-

[2020-07-11 15:04] #270 closed

[2020-07-11 15:04] berry120 commented on #270
Well spotted - should now be fixed!

On Sat, 11 Jul 2020 at 15:43, DeeTigIT <notifications@github.com> wrote:

--
Thanks,

Michael

[2020-07-11 18:53] DeeTigIT opened #271 "SHA256 hash mismatch on CI-RELEASE"
The CI-release from 4 hours ago seems to have incorrect hashes?

eb47149dc6bab6578b49f0eecb7aa519cc7f12441bb4df0a1ec6b0fc7bef0e9f *quelea-CI-UNSTABLE-mac.zip
752d2504c9a1ca284f24dbbe14f08bd8790c07bc0005d5826a909c67db803bba *quelea-CI-UNSTABLE-x64-windows-install.exe
013acc3f6c1f59739dffe258ff2f1d93800bc73b4cd51ff9ba5f622af4498dee *quelea-CI-UNSTABLE-crossplatform-install.jar

![S1](https://user-im

[2020-07-15 06:58] berry120 commented on #269
Well spotted - I've clarified that's for Easyworship 2009 for now. Do you have any sample db of the new database you could send on to berry120@gmail.com for writing an Easyworship 6/7 importer? Won't get it in 2020.0 but hopefully the release afterwards if the data is available 👍

[2020-07-25 21:40] HeyITGuyFixIt opened #272 "Editing songs"
Is there a reason why when I edit a song in a service, those changes aren't saved to the same song in the database? This would be helpful for when I catch an error and need to quickly edit it, so I don't have to go back and edit it again in the database. At the very least, an option in the preferences to toggle this behavior would be nice.

[2020-07-26 18:06] DeeTigIT commented on #272
Please check this wiki-item:
https://quelea-projection.github.io/docs/General_tab#copy-song-to-schedule-by_default

**Copy song to schedule by default**

Some users prefer to keep an original version of a song in the database and then edit a copy of that song for each use. This option means that all song that are added to the schedule are temporary copies that will not be stored back to the databa

[2020-08-01 16:00] DeeTigIT opened #273 "Import Worship Him 1.0.7.8 database fails (java.io.IOException)"
The current Worship Him (https://www.worship-him.com/) importer fails to import Worship Him 1.0.7.8 database (MySongsPE.mdb).

![S1](https://user-images.githubusercontent.com/39883796/89105325-6e223900-d420-11ea-9d9c-3e55d5b2398b.JPG)

Debuglog fragment:

java.io.IOException: Did not find required parent table id (Db=MySongsPE.mdb)
        at com.healthmarketscience.jackcess.impl.DatabaseImpl.read

[2020-08-01 21:56] HeyITGuyFixIt commented on #272
Turning off that options does the trick. Thanks!

[2020-08-03 13:36] DeeTigIT commented on #272
@HeyITGuyFixIt
Is it possible to close this issue? (as no changes are required here)

[2020-08-03 13:45] DeeTigIT commented on #255
Just curious: did you succeed in using video for songs?

[2020-08-03 16:04] #272 closed

[2020-08-04 04:21] DeeTigIT opened #274 "Import ZionWorx 2014 - 3.9.3.0 database not possible"
I've unpacked the latest TurboDB Data Exchange (Windows) from https://www.dataweb.de/de/support/downloads.html
So, the .quelea folder c:\Users\<account>\.quelea\ contains TdbDataX.exe

Database, Import, ZionWorx starts the dialog:

![S1](https://user-images.githubusercontent.com/39883796/89252320-accf1380-d619-11ea-9693-3cbcdd06e1e6.JPG)

Default database setting for ZionWorx : C:\ProgramData\Jubi

[2020-08-09 06:32] apac2527 commented on #145
Here's a thought.
Instead of marginalising one of possibly 2 screens how about allowing/duplicating the feed (akin to stage screen without chords) to any number of named borderless windows.
Broadcast and streaming apps eg. OBS can take as inputs any number of open windows as a web camera equivilant multiplied on a scene in any position and zoom size or as chroma key overlay.
This would allow song

[2020-08-09 06:45] apac2527 commented on #222
Given that this software can also be used for livestream overlay fully and properly documented copyright details from the song metadata is an essential requirement.
It would also be nice to be able to pick which metadata to display in the small song info but CCLI song number, licence number, author and copyright notice are essential legal requirements.
An alternative would be to include this metad

[2020-08-15 22:45] HeyITGuyFixIt opened #275 "Poor Preview Image Resolution in Image Group"
In Image Groups, the image quality/resolution is very poor. The images come from PowerPoint slides exported to JPGs (using default slide sizes and image resolution) and added to Quelea on Linux as an Image Group. What is outputted is fine, no issues there. But the image shown for controlling what's shown has poor quality/resolution, making it difficult to see what is on the image.

Is there a way

[2020-09-09 07:43] benny1611 commented on #269
Hi, I'm also having some trouble importing EasyWorship Database. My version is a little bit older than that. The church that I'm at uses EasyWorship 2007. Whenever I import the database I can see that it starts importing, but it just hangs, nothing happens and not a single song gets imported and I also don't know where I can see the logs.

[2020-09-09 07:49] benny1611 commented on #269
Just found the log location here's my log file: [quelea-debuglog.txt](https://github.com/quelea-projection/Quelea/files/5193425/quelea-debuglog.txt)

[2020-09-13 10:25] justine04661 opened #276 "Edit/change color or font of a line on one song slide"
![quelea](https://user-images.githubusercontent.com/71211220/93015687-d6eafc80-f5ed-11ea-829e-f6dec235aab4.png)

Good day! May I ask if current Quelea can change the color or font of a line on one song slide. I just want to change the color of one line since continuous text with same color is not pleasing to the eye. Attached is a picture of my querie. Thank you!

[2020-09-20 09:11] kavishdahekar opened #277 "Feature Request : Quick Verse"
Hey all,

My pastor usually quotes impromptu verses in the flow of a sermon and we have to make sure we display the verse on the screen as soon as we can.

Right now, the sequence of steps to get a verse on screen is :-
1. Click the Bibles tab
2. Click the Books dropdown, start typing book name
3. <"TAB">
4. Type chapter:verse
5. <"ENTER"> (adds verse to order of service)
6. Click the verse in the

[2020-09-20 15:30] GW391 opened #278 "Feature Request : Song / viedo usage statistics"
Would it be possible to add usage stats for each song.

My thought would be to add to the number of displays, when a song has been put on the live projection window, (possbily even within a noted timeperiod, e.g only add if it is during the service removing eronious stats from practices or building)

2 main reasons for this
1.  Trying to get the CCLI reporting is currently a fairly manual process,

[2020-09-21 03:53] DeeTigIT commented on #278
A)
A request has been made for schedule statistics, including CCLI numbers.

https://github.com/quelea-projection/Quelea/issues/211

B)
The menu item : Database / Export / Song list
creates a csv with  CCLI numbers included.

![S2](https://user-images.githubusercontent.com/39883796/93731637-33da4a00-fbce-11ea-9e6c-981c79bf14bf.JPG)

C)
The menu item : File / Export order of service to PDF
creates

[2020-09-21 04:06] DeeTigIT opened #279 "SORT quelea.properties file upon Quelea exit"
Is it possible to sort the quelea.properties file when Quelea is ending?
In that way the comparison of 2 properties files (current one, previous one) doesn't require a manual sorting anymore.
We use this comparison AFTER  the service to keep track of a property change DURING the service made by the Quelea operator.

[2020-09-21 08:49] GW391 commented on #278
Thanks for the update, I did look at the export song list, and did not see the CCLI numbers on any of my songs, probably my data, I will take another look.

Feel free to mark this as a duplicate of #211

[2020-09-21 15:01] DeeTigIT commented on #278
I also took another look and you're right: no ccli yet in the export Song list.

[2020-09-21 15:02] DeeTigIT opened #280 "RFC: add song CCLI number to Database / Export / Song list"
RFC: add song CCLI number to Database / Export / Song list

Ref:
https://github.com/quelea-projection/Quelea/issues/278

[2020-09-24 08:14] berry120 commented on #255
Closing this one off as we already have this functionality (I wondered if the OP meant something different, but assuming not as we haven't heard from them since June.)

[2020-09-24 08:14] #255 closed

[2020-09-26 22:54] HeyITGuyFixIt commented on #276
#29 talks about this issue. But there was last activity 2 years ago. Would be good to continue conversation about it again.

[2020-09-26 23:03] HeyITGuyFixIt commented on #275
In addition to quality enhancement, could we also have the option to zoom in?

[2020-09-28 07:06] kavishdahekar commented on #279
I'd like to contribute code for some of the issues.
But I'm not sure if there are any specific guidelines around `hacktoberfest` labelled issues or I can directly pick one and raise a PR?

[2020-09-28 21:26] berry120 commented on #279
@kavishdahekar Any hacktoberfest related issue you're welcome to pick and raise a PR - so long as the contributing guide is followed then we should be good to accept those. For non hacktoberfest issues, probably best to comment on the issue to clarify what we think the fix should be (or just talk to us first in general.)

Also remember that PR's won't count towards Hacktoberfest until October 👍

[2020-10-05 12:32] kavishdahekar commented on #277
Could anybody please take a look at this in their free time?
@berry120 @beng92

[2020-10-06 13:54] berry120 commented on #279
@kavishdahekar Do you want this to be assigned to you?

[2020-10-06 19:41] berry120 commented on #269
@benny1611 We'll keep this issue for implementing Easyworship 6 support, which could be a good Hacktoberfest task for anyone confident enough to give it a shot. Can you create a new issue for your Easyworship 7 database? As with Easyworship 6, you'll need to email a sample of that database to berry120@gmail.com so we can take a look.

@DeeTigIT Thanks for that database sample - I have got it, life

[2020-10-06 19:42] berry120 commented on #277
@kavishdahekar I think this would be a neat addition, so I've marked it as an accepted enhancement - I can't promise we'll be able to work on it any time soon though. Unfortunately this "free time" you refer to is somewhat lacking at present for the entire Quelea team 🙃

[2020-10-06 19:44] berry120 commented on #280
Yup, this should be in there ideally. A good one for a hacktoberfest contribution if someone wants to pick it up - it shouldn't be too challenging.

[2020-10-07 07:17] berry120 opened #285 "Quelea displays the "Schedule could not be opened" message on Mac when no schedule is being opened"
When running on a Mac, Quelea sometimes displays the "schedule could not be opened" message even when Quelea is just being launched via the finder (ie. no schedule is being passed.)

This is due to the Mac passing the psn ID as a parameter to Quelea, and Quelea thinks it's the name of a schedule, so tries to open it.

[We already exclude the `--userhome` option for this reason here.](https://githu

[2020-10-07 07:21] berry120 opened #286 "Quelea breaks with newer updates to Java 8 on some Macs"
We've had reports of Quelea failing to launch with the latest update to Java 8 on some Macs, failing with the error:

[code]

See here for more info: https://quelea.discourse.group/t/quelea-failing-to-launch/493

This isn't a problem the Quelea team are able to reproduce, so it's not something we can reliably debug and fix. It could be as simple as adding the `-XstartOnFirstThread` VM argument to

[2020-10-07 07:22] joncojonathan commented on #285
I'd be happy to take a look at this @berry120.

[2020-10-07 07:27] berry120 commented on #271
Haven't yet taken a look at this, but it could be a good Hacktoberfest candidate if anyone wants to have a go. We should aim to have this fixe by the next release certainly, as it is a bit misleading otherwise.

[2020-10-07 15:55] kavishdahekar commented on #277
I can understand the time crunch 😁 Thanks for accepting the idea though!
I'd love to work on this in my own free time if that's okay. Don't want to raise a humongous PR though, will try to build something incremental and get it approved. Do we track tasks and backlogs anywhere?

[2020-10-07 15:56] kavishdahekar commented on #279
Yes please! I'll take this up 👍

[2020-10-07 16:13] berry120 commented on #277
Of course - I think the first thing to do would be to create some UI mockups (just using paint or any such tool is fine for now) so we can get an idea of how it'll work, and discuss any changes to the interface. When we're both happy with that then we can move into implementation work (yup, happy for that to involve multiple PRs as we go.)

We only really track work via these issues, so if you wan

[2020-10-07 17:49] LAfricain opened #288 "Quelea is not translate in French"
Hi,
Quelea is not translated in French I can do it.

[2020-10-07 17:54] berry120 commented on #288
Hey, we already have a French translation here: https://github.com/quelea-projection/Quelea/blob/master/Quelea/languages/fr.lang

If there's any other translations you could contribute to though, or you want to start a new one, that would be fantastic! You can see more details on translations at quelea.org/lang

[2020-10-07 17:57] LAfricain opened #289 "Support OSIS XML bible format"
I use [xiphos](https://github.com/crosswire/xiphos/) as main bible reader software. It's a frontend for sword (all in the debian repo).
I would be very interesting to use the bible installed in xiphos in Quelea. Because I have all my favorite French translation in it. Or maybe a way to use this other bibles.

[2020-10-07 17:58] LAfricain commented on #288
But I can't see the locale on Ubuntu 20.04. How to use it?
(Installed with snap)

[2020-10-07 18:13] berry120 commented on #288
Under tools -> options -> interface options, you should see it there under "Interface language" - if not can you take a screenshot of the options you do see?

[2020-10-07 18:16] LAfricain commented on #288
I'm sorry! I didn't see the scroll button!

[2020-10-07 18:16] #288 closed

[2020-10-07 18:22] berry120 commented on #288
Hah, no worries 😂

[2020-10-07 18:24] berry120 commented on #289
Have you got a link to the bible format they use? I couldn't see one quickly from searching. (I feel like we had an issue opened for this a while ago, but I can't find it now.)

[2020-10-07 18:32] LAfricain commented on #289
I think you can't read it directly, you need to use the backend [sword](http://crosswire.org/sword/index.jsp)

[2020-10-07 21:16] kavishdahekar commented on #279
Just to confirm, we'll add functionality to sort the properties file to ```org.quelea.services.utils.QueleaProperties``` and then call it in ```ExitActionHandler``` somewhere here https://github.com/quelea-projection/Quelea/blob/82b9dd32a2e76c53be15f844e55f3ccfdda007f7/Quelea/src/main/java/org/quelea/windows/main/actionhandlers/ExitActionHandler.java#L120

[2020-10-07 21:21] berry120 commented on #279
@kavishdahekar Yes, I think that's the best place for it. The sorting of the properties file should be handled by a separate class, then that class called from the the exit handler.

[2020-10-07 21:51] kavishdahekar commented on #279
The `java.util.Properties` extends `Hashtable` which is unordered by design.
- We can either overwrite one of its methods in our child class `QueleaProperties` so it writes a sorted list of keys.
  - Already tried [this](https://stackoverflow.com/a/50478238/2175224) and it works.
- We could do this in a separate class as you suggested.
  - I am assuming we will have to write our own code for writi

[2020-10-07 21:54] berry120 commented on #279
If we already have `SortedProperties` available to us through existing dependencies, let's just use that - I think that's the easiest and best approach. Alternatively I'd take your first suggestion. I'd go for less code over writing a separate class as I initially suggested.

I don't think it's an issue that they'll be sorted each time they're written - the overhead is low, and that helps to make

[2020-10-07 21:56] kavishdahekar commented on #279
Yes, `org.apache.commons.collections4.properties.SortedProperties` seems to be already available through existing dependencies.
Lets go with that then. Will raise a PR.

[2020-10-08 14:20] benny1611 commented on #269
@berry120 I have a sample that you can use, but I meant Easyworship 2007, not Easyworship 7. I'll send the sample (which is actually not a sample, it's all of our songs, but it doesn't matter, it's not a CIA secret).

[2020-10-08 14:22] benny1611 opened #292 "Easyworship 2007 importer"
Hi, I'm having some trouble importing EasyWorship Database. My version is a little bit older and we would like to use some newer better software. The church that I'm at uses EasyWorship 2007. Whenever I import the database I can see that it starts importing, but it just hangs, nothing happens and not a single song gets imported.

[2020-10-08 22:41] berry120 commented on #292
Thanks, I've received the file - afraid I can't promise when I'll get around to looking at it, but it's definitely on the to-do list and I'll post back here when there's progress.

[2020-10-08 22:42] berry120 commented on #289
I think that may be the point we reached last time - at the moment things work on a file level, so unless there's a clear file format and file that we can drop in place to use, the best way of going about this isn't too obvious. I'll make a note of it though and see what can be done (time permitting of course.)

[2020-10-09 07:02] LAfricain commented on #289
What kind of file? And where are this files stored ?

On October 9, 2020 12:42:37 AM GMT+02:00, Michael Berry <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2020-10-09 07:10] berry120 commented on #289
Currently Quelea uses bibles stored in zefania XML format, stored in the
bibles folder (in the .Quelea folder in the user home directory). Ideally
you'd just be able to export from sword to a file of some format, we'd drop
those files in the same folder and then tell Quelea to use the new format.

On Fri, 9 Oct 2020, 08:02 LAfricain, <notifications@github.com> wrote:

[2020-10-09 08:00] LAfricain commented on #289
I just tried to copy an osis file in the .quelea/bibles folder but quelea doesn't see it.

[2020-10-09 08:06] berry120 commented on #289
It won't see it at the moment, since it doesn't support the OSIS format. (Though sorry, I missed your earlier message about sword using the OSIS file format!)

I'll re-point this issue to track supporting the OSIS format. Given that it's also XML based, it shouldn't be hard. Example file: https://raw.githubusercontent.com/bzerangue/osis-bibles/master/en/acv.xml

[2020-10-09 08:10] LAfricain commented on #289
Very good! Thank you. We (Crosswire) try now to propose (when we don't have copyright issue) all the files in osis format on our gitlab:
https://gitlab.com/crosswire-bible-society
You have a lot of possibilities...

[2020-10-12 06:35] DeeTigIT opened #296 "Option 'Notice position' <> notice.position in quelea.properties file"
In order to get the notice running at the bottom of the projection screen, the GUI setting needed for this is 'Top'.
This should be reversed.

![S1](https://user-images.githubusercontent.com/39883796/95713169-61169700-0c66-11eb-97d5-c0b086a04249.JPG)

![S3](https://user-images.githubusercontent.com/39883796/95713177-65db4b00-0c66-11eb-853d-69c34168cead.jpg)

![S2](https://user-images.githubusercon

[2020-10-20 13:43] tuomas2 opened #300 "Screen Monkey import missing important data"
Screen Monkey XML format includes song sequence and other structural data about song, that is lost when importing. Also, detailed information is not stored (like <Reference> tag).

[2020-10-20 13:48] tuomas2 opened #301 "Quelea Song Pack format seem lossy"
When exporting song that has structural data (verses, choruses, and their sequence etc),
that data is lost in Quelea Song Pack format, and thus, when importing exported file, all
data is not restored correctly.

[2020-10-20 18:06] #279 closed

[2020-10-21 19:10] DeeTigIT opened #302 "Bible option 'Max number of verses per slide' unexpectedly switched by Quelea"
When entering the Tools, Options screen and leaving this screen (using button 'OK' or closing the window) the bible option 'Max number of verses per slide' is **reversed by Quelea (not by the user)**.

Example:

- Initial the Bible option 'Max number of verses per slide' is true.

![S1](https://user-images.githubusercontent.com/39883796/96771057-78315380-13e1-11eb-9db4-33ca76990f7f.JPG)

![S2](htt

[2020-10-21 19:19] DeeTigIT commented on #279
Thanks, Kavish and Michael, for this fix! Is greatly appreciated.

[2020-10-21 19:20] berry120 commented on #302
@ArvidNy Is this likely to be related to the new options dialog?

[2020-10-21 19:46] #302 closed

[2020-10-21 19:47] ArvidNy commented on #302
Yup, my bad. Sorry about that! It should now be fixed in the latest commit.

[2020-10-22 19:27] DeeTigIT opened #303 "Bible option 'Max number of verses per slide' <> use.max.bible.chars in quelea.properties file"
The bible option 'Max number of verses per slide' seems to be opposite to the 'use.max.bible.chars' value in the quelea.properties file.

Should this be reversed?

![S1](https://user-images.githubusercontent.com/39883796/96920233-3077fe00-14ad-11eb-9f4d-16cbad66e368.JPG)

![S2](https://user-images.githubusercontent.com/39883796/96920257-353cb200-14ad-11eb-8cc2-8870842dc08d.JPG)

[2020-10-22 19:31] DeeTigIT commented on #302
It is indeed fixed, thanks.

During the test I encountered:

Bible option 'Max number of verses per slide' <> use.max.bible.chars in quelea.properties file #303

And during an earlier test the similar:

Option 'Notice position' <> notice.position in quelea.properties file #296

[2020-10-23 08:17] ArvidNy commented on #303
Thanks for identifying that, I forgot to double-check that before pushing the fix. The problem with updating the options dialog has been that some labels are the opposite to the preference value which has meant the some of the values have had to be reversed (like `Copy song to schedule by default` vs. `default.song.db.update`). I just figured this was one of those.

It should now both work properl

[2020-10-23 08:17] #303 closed

[2020-10-23 08:28] #296 closed

[2020-10-23 08:29] ArvidNy commented on #296
Thanks for letting us know, this should now be resolved.

[2020-10-23 09:20] joncojonathan opened #304 "Add CCLI number to options dialog"
Addresses part of Issue #222 .  I'm currently working on adding this, PR to follow.

[2020-10-23 09:20] joncojonathan commented on #222
It is possible to add the `church.ccli.num` to the `quelea.properties` and I've just updated the docs to explain how this can be done (https://quelea-projection.github.io/docs/Advanced_settings#ccli-number).

I'm in the process of adding the CCLI details to the options dialog (see #304) so it's easier to set.

[2020-10-23 09:21] joncojonathan commented on #280
Is this the church's CCLI number or the song's CCLI number @DeeTigIT ?

[2020-10-23 09:24] berry120 commented on #280
I think this will almost certainly be the song's CCLI number.

On Fri, 23 Oct 2020, 10:21 Jonathan Haddock, <notifications@github.com>
wrote:

[2020-10-23 09:30] DeeTigIT commented on #280
Michael has right: it’s the song’s CCLI number.

Van: Michael Berry [mailto:notifications@github.com]
Verzonden: vrijdag 23 oktober 2020 11:24
Aan: quelea-projection/Quelea
CC: DeeTigIT; Mention
Onderwerp: Re: [quelea-projection/Quelea] RFC: add song CCLI number to Database / Export / Song list (#280)

I think this will almost certainly be the song's CCLI number.

On Fri, 23 Oct 2020, 10:21 Jonath

[2020-10-23 09:53] DeeTigIT commented on #296
Great!

[2020-10-23 09:54] DeeTigIT commented on #303
Nice improvement, thanks!

[2020-10-23 10:25] #251 closed

[2020-10-23 10:31] ArvidNy commented on #251
I've implemented all your suggestions now, but I chose to allow duplicate entries instead of adding a warning. Perhaps someone might find it useful, e.g. to allow the musicians to know how many times to repeat a section or so.

[2020-10-23 12:49] ArvidNy commented on #249
I decided to make a simple workaround and just replace all slashes with ` - ` meaning that the Bible in your example would be called `PR33 - 38` in the remote app. This way I won't have to make any changes to the code for the remote app and I didn't have to make much changes to the Quelea server. However, if you feel like this should be handled differently, let me know and I might reconsider it.

[2020-10-23 12:49] #249 closed

[2020-10-23 14:24] ArvidNy commented on #86
Does this look OK to you, @berry120, or would you prefer a different categorization?

<img width="1002" alt="Skärmavbild 2020-10-23 kl  16 20 06" src="https://user-images.githubusercontent.com/14236185/97015372-ca8e8380-154b-11eb-98df-cdfe1fcab035.png">

[2020-10-23 14:34] berry120 commented on #86
I think that's fine. There's likely a bunch of other properties we'll need to add at some point for import/export to other services, so happy for it to be in its own category for now.

[2020-10-23 14:57] ArvidNy commented on #114
You're right, `shift + click` did not work as intended whereas `ctrl + click` did. This should now be resolved in the latest commit.

[2020-10-23 14:57] #114 closed

[2020-10-23 15:09] #86 closed

[2020-10-23 15:11] ArvidNy commented on #86
That's what I figured as well. I've now uploaded the changes.

[2020-10-26 10:57] joncojonathan commented on #135
@Benykoss is this still a problem with the latest 2020.0 release?

https://github.com/quelea-projection/Quelea/releases/tag/v2020.0

[2020-11-10 08:46] DeeTigIT opened #308 "Uncaught exception on thread: JavaFX Application Thread - Control Screen set to Output 2 (but Output 2 is unavailable)"
If the Control Screen option is set to "Output 2" in a previous Quelea session, then Quelea goes into error the next session **when in the meantime "Output 2" is no longer available or disconnected**.
For example: the Windows desktop is no longer extended using a second (projector) screen, but uses the PC screen only.
Note: the projector screen option being set to "Output 2" does not result in suc

[2020-11-29 16:07] HeyITGuyFixIt commented on #271
This isn't just mismatched hashes. The description of the CI-RELEASE isn't being updated. Notice that the build number in the image above is the same as today, despite this issue being created 4 months or so ago. Then, it probably should have been build 668, and now it should be 725. Not sure yet why it isn't being updated, but this is what is happening.

[2020-11-29 16:31] HeyITGuyFixIt opened #311 "Clear Button in Light Theme"
The Clear button in the light theme is difficult to see. To make it more visible, I would recommend adding a darker/thicker border.

[2020-12-06 08:29] KaisaL777 opened #312 "After changing server settings when trying to start using remote control from iphone Quelea does not start at all"
Dec 06, 2020 9:18:44 AM org.quelea.services.languages.LabelGrabber <init>
INFO: Using languages file C:\Program Files\Quelea\languages\gb.lang

Dec 06, 2020 9:18:44 AM org.quelea.services.languages.LabelGrabber <init>
INFO: Setting en-uk locale

Dec 06, 2020 9:18:44 AM org.quelea.windows.main.Main start
INFO: Started, version 2019.0

Dec 06, 2020 9:18:44 AM org.quelea.windows.main.Main start
INFO:

[2020-12-06 08:30] KaisaL777 commented on #312
For input string: "192......"   (edited the numbers here = does not show all for security reasons) Was not sure if it was safe

[2020-12-06 08:44] ArvidNy commented on #312
It should be safe since it's only used internally on your network. That also seems to be where the issue lies. Does it follow the pattern 192.168.0.1 or does it contain any other characters? You could also take a look at [the preference file](https://quelea-projection.github.io/docs/Moving_copying_settings) and see what port number you've set. There you should also be able to set the remote server

[2020-12-06 08:54] KaisaL777 commented on #312
"192.168.0.1:1112" thats the numbers so there lies the problem. How to fix it?

[2020-12-06 09:06] KaisaL777 commented on #312
where to pu remote server to false? cant find

[2020-12-06 10:21] ArvidNy commented on #312
Did you enter that full number in the port text box? The port number should only be the last part (i.e 1112). Don't remember exactly what the setting is called by heart, but it should be called something like 'use.mobile.rc.server'. You could also change the port number in there in case you've added anything else than '1112'.

[2020-12-06 10:38] KaisaL777 commented on #312
Awesome! I did it. Thanx. And happy Finnish indempendent day!! Love you all.

[2020-12-06 10:53] ArvidNy commented on #312
No worries, glad I could help!

[2020-12-06 10:53] #312 closed

[2020-12-11 23:37] nyszilard opened #313 "Feature Request: Option to write live text into a text file"
With this option, it would be possible to use lyrics in OBS as subtitle without any workaround.

**Expected options on the UI**
[x] Write live text into file
Path: |input field| Browse...

**Expected behavior**
- onBlackScreen, onClearScreen, onExit it should clear the text file
- onGoLive, onSwitch it should replace the content of the text file with the selected part of the lyrics

**Current work

[2020-12-13 07:30] Aldo0201 opened #314 "Projection"
Once I updated my computer now I cant display from my computer to TV as before. How do i get this to work again?

[2020-12-13 15:29] #308 closed

[2020-12-13 16:05] ArvidNy commented on #313
I'm sorry but I'm not sure I fully understand what you mean. I haven't used OBS myself so I'm not sure how text files can be used. All I know is that users have successfully used the projection screen with an invisible background to add the lyrics as subtitles to the stream.

What would be the advantages of exporting the lyrics to a text file?

[2020-12-13 16:11] ArvidNy commented on #314
Do you see anything from you computer on your TV? `win + p` is a keyboard shortcut in Windows to select projection mode. For the TV to appear in Quelea as an option, make sure that the screen is extended and not mirrored/cloned on your TV.

[2020-12-14 13:21] norotaro opened #315 "Touchbar suppor on Mac"
I would like to have options in the touchbar and I am willing to develop that functionality if you are interested.

[2020-12-14 13:29] matejkobza commented on #315
+ interested

[2020-12-14 14:25] ArvidNy commented on #315
I agree, it would be a nice addition. And if you would be interested in developing it, that would be great! Just create a PR here when you're done and I'll have a look at it.

Perhaps you'll want to take a look at this library: https://github.com/Thizzer/JTouchBar

[2020-12-14 20:36] ArvidNy commented on #311
I agree that it's hard to see the clear button. But I also feel that it's not entirely self-explanatory what it does, so my suggestion would be that we update the icon to something else.

Here are two concept ideas that I was thinking of. What do you think, @berry120, should we take a look at changing the clear icon to something else?

![clear-new1](https://user-images.githubusercontent.com/142361

[2020-12-16 20:32] berry120 commented on #315
Sure, this would be a really nice touch! Only thing I'd say is that we should probably decide on what the buttons should be here in advance before you actually start development - what sort of layout were you thinking of?

[2020-12-16 20:38] berry120 commented on #314
FYI the Quelea forum (https://quelea.discourse.group/) is probably the best place for technical troubleshooting like this - we usually reserve the git issues for reproducible errors that require development in order to fix.

[2020-12-16 20:39] berry120 commented on #301
Sorry for the late reply - yes, this doesn't sound correct, we probably need a fix here. Is it just the song sequence that's lost when exporting / reimporting, or anything else you've noticed?

[2020-12-16 20:40] berry120 commented on #311
@ArvidNy What about the first icon, but colours inverted? White on black is probably closer to most setups anyway, and should look fine in both the light and dark theme?

[2020-12-16 20:41] berry120 commented on #300
We can't always guarantee to preserve all data when importing from a particular program I'm afraid - it usually just depends on what sample files we were provided with when we originally wrote the importer. However, if you can attach a sample file here that demonstrates what's missing, then we can look to include that in a future release.)

[2020-12-16 20:43] berry120 commented on #285
@joncojonathan I think this should be marked as fixed now, would that make sense? Looks like I may have forgotten to close it.

[2020-12-16 21:35] joncojonathan commented on #285
I believe so.  We discussed it back in October and it should be fine.  I don't have a Mac though, so can't test.

[2020-12-16 21:40] #285 closed

[2020-12-16 21:58] ArvidNy commented on #311
Sure, I just went with black on white to make it closer to the original button and make it different from the black button.

We can of course experiment with how much the letters should fade out, but here's a quick look at what it could look like if it's inverted.

![clear-new1b2](https://user-images.githubusercontent.com/14236185/102410977-95555d80-3ff1-11eb-9f2d-2c6f969387dd.png)

<img width="49

[2020-12-16 22:04] berry120 commented on #311
I really like that, certainly as a concept - looks great!

On Wed, 16 Dec 2020 at 21:59, Arvid Nyström <notifications@github.com>
wrote:

--
Thanks,

Michael

[2020-12-16 23:18] berry120 commented on #304
Fixed for 2021.0 👍

[2020-12-16 23:18] #304 closed

[2020-12-17 00:05] #289 closed

[2020-12-17 00:06] berry120 commented on #289
OSIS XML should now be in the CI release, ready for 2021.0. If you could give it a try and let us know of any issues you come across, that'd be fab!

[2020-12-17 00:23] berry120 commented on #313
If I've understood this correctly I can see the value in it - if Quelea updates a text file "live" with the lyrics its showing, then you have the possibility in OBS to read that text in and format it, style it, etc. over a background, video feed etc. of your choice.

If that's the case then I think this could well be worthwhile. It would have to come with the caveat though that this would only wor

[2020-12-17 00:27] berry120 commented on #271
@HeyITGuyFixIt is correct, it seems like travis silently dropped the ability for their old deployment plugin to write release descriptions, which isn't too helpful. I've migrated to their v2 plugin now (currently beta but seems stable enough) and this does officially support release descriptions, so works as intended.

[2020-12-17 00:27] #271 closed

[2020-12-17 00:39] #280 closed

[2020-12-17 00:39] berry120 commented on #280
This should now be working in the CI release.

[2020-12-17 05:12] PRBC-sys opened #317 "Save function not working within Quick Edit feature (for Songs in the Preview and in the Live mode)"
The Quick Edit feature for Songs in the Preview and in the Live mode won't save the change(s) made. Neither the OK button at the bottom of the pop-up screen nor pressing shift+enter makes any difference. We've tried this on both a Windows 10 PC and a laptop running Windows 7, both are 64 bit versions running Quelea 2020.0.

![Quick Edit illustration](https://user-images.githubusercontent.com/76144

[2020-12-18 00:00] berry120 commented on #276
We'll handle this as a duplicate of #29, as we wouldn't just do colour support - if we did this, we'd enable more extensive formatting support too. Afraid no work has been done on this as of yet though.

[2020-12-18 00:00] #276 closed

[2020-12-18 00:02] berry120 commented on #29
This remains on the cards, but no work has been completed on it yet.

The real challenge here isn't technical, it's how it should work in the interface - I've not yet been convinced that any given approach is ideal. Formatting tags are a possibility, but it adds complexity when entering a song, and colours in particular are a challenge as they'd have to change per theme - we'd need a "primary" and

[2020-12-18 00:03] berry120 commented on #317
Thanks - we'll take a look and aim to fix this for 2021.0.

[2020-12-18 22:10] norotaro commented on #315
Initially I want to implement these options:

<img width="614" alt="image" src="https://user-images.githubusercontent.com/1774870/102665795-3cf29d00-4164-11eb-8438-29eaef7c2534.png">

I was thinking of copying the functions from this file:
https://github.com/quelea-projection/Quelea/blob/8cb07de3e2df3b29927b01f86babd8c968444cdd/Quelea/src/main/java/org/quelea/windows/main/LivePanel.java

And I was

[2020-12-18 22:33] berry120 commented on #315
Yes, I think that'd be sensible - maybe along with the "Go live" button?

[2020-12-19 17:27] ArvidNy commented on #286
This seems to be an issue related to loading the native library for playing videos on Mac: `libAVPlayerJava.jnilib`. @grgarno, if I'm not mistaking you wrote that code. Do you think you'd be able to take a look at it again and see if there's anything we can do about it on our end?

Otherwise I wonder if it might be worth revisiting the vlcj option for Mac again, since that library is supposed to b

[2020-12-19 18:05] grgarno commented on #286
Hi Arvid-
I’m not sure I’m at a place where I can look at it, however, maybe with recent chip updates it might be better to go the VLCJ route

Greg Arno

[2020-12-19 20:45] berry120 commented on #286
@grgarno No worries, thanks for letting us know.

@ArvidNy I think we may need to take a deeper look at the video side of things generally - VLCJ certainly isn't a perfect option either and it's also brought its fair share of issues on windows as well as mac (mainly because of VLC version incompatibilities that are difficult to keep track of.)

If I get time I may investigate video in more detail

[2020-12-19 21:54] ArvidNy commented on #286
No problem, @grgarno!

@berry120, sounds good to take a more thorough look at what video library we should use. The less we have to create different solutions for different operating systems in the future, the better. GStreamer does sound like it might be a good option.

Until then, people who use the cross-platform version and encounter this issue could always

1. [downgrade the Java version](htt

[2020-12-19 22:03] ArvidNy commented on #275
Sounds like you might want to take a look at `Options -> General -> Interface Options -> Thumbnail size`. If you increase that value, you should be able to get a higher image quality.

As for the zoom in feature, feel free to rename this issue and request it as a new feature if you feel it should be possible to do outside of the options dialog.

[2020-12-22 14:29] DeeTigIT commented on #317
Maybe it's an underlaying refresh issue of the preview/live panes?
After doing the Quick Edit, the result is indeed not visible in the preview pane.
BUT: it is visible when editing the song afterwards. (so, there's some saving going on)
See the attached video.

https://user-images.githubusercontent.com/39883796/102898157-631c8380-4469-11eb-9e73-9369fb963c27.mp4

[2020-12-22 15:14] DeeTigIT opened #319 "VLC preferences probably not (correctly) used by Quelea"
I have the suspicion that the embedded VLC, started from within Quelea, doesn't use the VLC preferences.
Or doesn't use them correctly in some cases.

I've encountered 2 settings where VLC preferences seem to be ignored:

- **Preferred Subtitle Language**

We've set the VLC preference for this to: Dutch
VLC standalone automatically shows these Dutch subtitles. (for a movie that has a selectable Du

[2020-12-23 00:30] PRBC-sys commented on #317
I really appreciate the effort going into this and the related video. I can replicate what is shown on my computer. Hopefully it will not be difficult to go the next step and get the Quick Edit feature to automatically refresh the preview/live panes with the updated saved version.

[2020-12-23 00:34] PRBC-sys commented on #317
Sorry, I had no intention of closing this. My error which is related to being new to github and learning how to respond to comments.

[2021-01-02 22:17] #275 closed

[2021-01-03 12:16] Dazmed707 opened #320 "Add script a option in quelea?"
https://github.com/kendall1997/BibleConverter

[2021-01-03 12:26] Dazmed707 opened #321 "Add suport for bibles the opensong server"
http://www.opensong.org/home/download
![image](https://user-images.githubusercontent.com/35184132/103478472-f7a1b280-4d94-11eb-9ad5-1583fa4190d8.png)

[2021-01-03 12:31] pbcmatthew opened #322 "Using Edit song in <order of service> does not overwrite the song in database , it created another same file name in the database"
as i tested in 2019 and 2020 version ,
the edit song function from <order of service> does not overwrite the song in database , it created another same name in the database.

if each time of minor edit we use this method of editing , the database will have alot of version of the same song title with the setting we no longer wanted .

[2021-01-03 12:46] pbcmatthew opened #323 "<Song titles search> not really working in chinese character"
I had tested 2019 & 2020 version

Song database title are in chinese characters .
the search function **still able** to show the search result IF just use A chinese character to search .

Anything more that 1 character with chinese word are fail to show any result .

**BOLD** word in result also not working on chinese word

[2021-01-03 13:03] Dazmed707 opened #324 "Error in bibles .xmm"
Verse by verse is not shown as stated

![image](https://user-images.githubusercontent.com/35184132/103479219-30905600-4d9a-11eb-9586-5e1458219f48.png)

![image](https://user-images.githubusercontent.com/35184132/103479203-1e161c80-4d9a-11eb-9edd-e7b391b3ebb3.png)

[2021-01-06 17:30] DeeTigIT commented on #321
Possible workaround for RV1960.zip from http://www.opensong.org/home/download:
- Unzip the file : RV1960
- Edit with Notepad++ :
  - convert characterset to : UTF-8 (without BOM)
  - change the first file line:
    from : <?xml version="1.0" encoding="iso-8859-1"?>
    to : <?xml version="1.0" encoding="UTF-8"?>
  - save the file
- Import the file in Quelea

After import edited file in Quelea:

![

[2021-01-24 13:19] tuomas2 commented on #322
I do not observe new versions of songs appearing in DB but instead that song is not saved at all to DB when editing song from order of service -> edit song.

[2021-01-24 13:20] tuomas2 commented on #322
Also, if editing song from db browser, if song is already in order of service, it is not updated there.

[2021-01-24 13:59] matejkobza commented on #322
This is not a bug, it's a feature. I believe the scenario is that sometimes you don't want overwrite existing song version in your library, instead you would like to have new version for that particular service only. If you wish to change the song globaly, do it in library, if the change is connected to the service do it in the service list.

[2021-01-24 15:07] pbcmatthew commented on #322
Weird , before i post this , i'm able to re-created the issue for both 2019 and 2020 version .
but after both of yr comments , i try again , both version the issue is gone .
- No duplicate song name
- overwrite the db song

Let me monitor again , as this issue is been bugging us for 1 year .

@matejkobza are you sure is a feature ? i never know there is a feature that able to edit lyric for partic

[2021-01-24 15:27] pbcmatthew commented on #322
I had found the problem . Today just realized.
When we newly key in a new song , there is an option of <Add to schedule> . When the option is selected and save , the schedule there will show a copy icon on the song at the <order of service>.

That type of song , if we right click to edit and save , instead updating the DB , it create another copy in DB instead .
Hope this minor bug can be solved .

[2021-01-24 15:38] tuomas2 commented on #322
Should be option to sync to db then. Very unexpected feature. Has caused issues for many users in our church.

[2021-01-24 15:53] matejkobza commented on #322
Hello, maybe someone from the quelea team could confirm, but I believe it's on purpose done like that. Actually we had the same issue today at the service and our technician got surprised by it. This was the way I explained and how it makes sense to me.

[2021-01-30 23:06] HeyITGuyFixIt commented on #322
I can also confirm that this is occurring, whether it be a bug or feature. If a feature, there definitely needs to be a setting to control it, whether edits made from schedule sync with the DB or not.

[2021-02-01 20:16] berry120 commented on #324
Can you check you're not falling foul of this issue? If so it should be fixed in the latest nightly. https://github.com/quelea-projection/Quelea/issues/302

[2021-02-01 20:19] berry120 commented on #320
Afraid arbitrary scripting isn't something we'll incorporate into Quelea - if someone wants to run a script and has the knowledge to do so safely, then they should have the knowledge to do so outside of Quelea. While it'd be a nice to have in some cases, it's very niche, and could cause more problems with usability than it solves.

[2021-02-01 20:19] #320 closed

[2021-02-01 20:19] #314 closed

[2021-02-01 20:26] berry120 commented on #322
The intended behaviour is as follows:

 - For songs that are linked to the database directly (they just show the normal black icon in the schedule, not the copy icon) then they should update the existing item in the database when they're edited, not create a new one.
 - For songs that are not linked to the database (copied to the schedule, you'll see the copy icon in place) then they shouldn't cha

[2021-02-01 20:41] matejkobza commented on #322
Dear @berry120 now its clear, thank you for explanation.

[2021-02-02 18:17] PaulD987 commented on #286
Hi, so, new around here, but been using Quelea for a while, on a Mac as well! I believe that the issue is that as part of loading the `libAVPlayerJava.jnilib`, it is interacting with the screen, allocating the initial window etc. This library is loaded in the static of AVPlayerJava, so this appears to not be on the main thread, and hence causing issues. Even back on the 1.8.0_161 Java, where it st

[2021-02-02 21:11] #286 closed

[2021-02-03 07:07] kavishdahekar opened #326 "Implications of using an online lyrics aggregator as a song database"
_I am a novice when it comes to lyric copyright and licensing so I thought the best way to address my question would be to create an issue here._

Quite often we encounter situations where the worship leader is singing a song that is not currently present in the local db. I church and the worship team are quite small and most have never even heard of CCLI.

Why can't we have quelea try to fetch th

[2021-02-03 17:19] berry120 commented on #326
Afraid this isn't something we'd implement - the long and short of it is that it's a legal grey area, and a maintainability nightmare.

It's a legal grey area because laws change from place to place, and Quelea is designed for the opposite of "private viewing" (instead displaying lyrics to songs & hymns in a public setting.) It's also not how those sites were designed to be accessed, and the websi

[2021-02-03 17:19] #326 closed

[2021-02-03 18:51] berry120 opened #327 "juniversalchardet for bible importing"
At present we require all bibles to be imported using UTF-8, but many files available online use different character sets that result in mangled characters (unless the file is converted to UTF-8 manually.)

It'd be better if we can use a charset detector like the one below to auto-detect the charset and import appropriately - this should save the need for manual editing of files.

https://github.c

[2021-02-03 18:52] berry120 commented on #321
This is due to mismatched encodings - we expect all bibles to be in UTF-8, so if they're not in that format then they'll need converting first.

We may be able to be a bit cleverer about this however - I've created this issue around auto-detecting charsets.

https://github.com/quelea-projection/Quelea/issues/327

[2021-02-03 18:52] #321 closed

[2021-02-03 19:49] PaulD987 commented on #116
This one has caught my eye... From a quick look at the projection screen and preview/live screens on my machine the ratios look similar (if not the same), but what I have observed is if I resize the preview/live windows then the text reflows and wraps differently, although the ratio of the window should be the same still. I will do some more investigation as to what is going on here!

[2021-02-04 07:18] kavishdahekar commented on #326
Thanks for the clarification @berry120 !

[2021-02-04 20:58] PaulD987 commented on #244
I think this probably comes down to the same issue as #116. Am investigating at the moment and can recreate.

[2021-02-05 19:08] PaulD987 opened #329 "Ability to hide the clock on the stage view"
As mentioned here: [https://quelea.discourse.group/t/stage-view-to-livestream-overlay/490](https://quelea.discourse.group/t/stage-view-to-livestream-overlay/490) it appears that some people are trying to use the stage view as a clean feed to send to OBS etc. It seems like a useful addition to be able to hide the clock on this screen.

This seems like an easy addition to increase flexibility with Q

[2021-02-05 19:09] PaulD987 commented on #329
Oops, should have looked first... this is a dup of #237. But will leave open for now as it has more detail about what I was thinking!

[2021-02-05 19:38] berry120 commented on #329
Sure, this would definitely be a worthwhile addition - happy to review that if you raise the PR 👍

[2021-02-05 19:42] berry120 commented on #237
I realise this is older so would usually mark the other as a dupe, but let's track this in #329 since it contains more detail.

[2021-02-05 19:42] #237 closed

[2021-02-05 20:01] PaulD987 commented on #329
I presume, based on the translation guide, that I just add the labels to the gb and us language files!

My plan was just to pick up the property in the KeyFrame function in Clock.java and set the visibility of the clock there, rather than adding/removing the clock from the screen. Maybe slightly less efficient as the KeyFrame will still tick every second even when the clock is not visible, but far

[2021-02-05 20:03] PaulD987 commented on #329
Just seen the README.md in languages folder, so will just update the gb file as indicated there. Please just confirm you are happy with my approach above and I will put a PR in

[2021-02-05 20:06] berry120 commented on #329
Definitely. That'll be easier and nicer from a code perspective, so I'd
vote for that option.

No need to add to the us file - just GB. US is generated automatically, and
other translations are handled by our army of translators (I'll send around
a plea for missing labels before each release.)

On Fri, 5 Feb 2021, 20:01 PaulD987, <notifications@github.com> wrote:

[2021-02-06 03:54] pbcmatthew commented on #322
@berry120
attached the clip for you as a reference

https://user-images.githubusercontent.com/76904806/107108331-0e469800-6872-11eb-92de-7ebf6ba5d326.mp4

[2021-02-06 10:53] PaulD987 commented on #193
Seems relatively straight forward to do, only slightly trickier thing than mentioned above is that the divider position is saved when Quelea exits and reloaded on restart. However, I think it is only saving the position of the live divider, so a little bit more work to save both, and reload them independently. Still not too tricky though.

[2021-02-06 17:59] PaulD987 commented on #244
I think this specific issue is because the lines are short, and only two of them. This means that we are in the "Maximum font size" case... It appears though that the max font size isn't being scaled depending on the display size. So, on the projection screen on the right it is using the maximum font size as is, and on the left in the preview and live panes it has had to shrink the font a bit to f

[2021-02-07 18:15] PaulD987 commented on #313
What would be done with the bible verse numbers? Would these be left in the text? or removed completely. Obviously would lose the formatting when writing out to the file. So, just just leave them in (but remove the internal <sup></sup> formatting tags), or remove the verse numbers before writing out to the file. Seems a relatively simple addition to make.

[2021-02-09 21:14] PaulD987 commented on #193
So, been doing a bit of work on this...

![image](https://user-images.githubusercontent.com/73899671/107428415-7fa87400-6b1a-11eb-83b7-e70a6be202e2.png)

The value on the options will default to true, so that there is no change in behaviour by default when moving up to a version with this feature.

If a user has the dividers unlinked, and then changes the options to set them as linked then the pre

[2021-02-09 21:30] berry120 commented on #193
@PaulD987 That all sounds good to me! If you create a PR that does the above then happy to review.

[2021-02-10 08:28] PaulD987 opened #334 "Lyrics on stage display are very small"
Not sure if this is something I have wrong on my setup, but I can't spot it!

![image](https://user-images.githubusercontent.com/73899671/107483678-50751f80-6b79-11eb-8e0b-c757b1a5e808.png)

Text appears very small on stage display. Fine on the other outputs. Doing this on my development code, but also on 2020.0, so nothing I have changed!

INFO: Started, version 2020.0
INFO: OS name: Mac OS X
INF

[2021-02-10 15:01] ArvidNy commented on #193
Sounds good to me too!

[2021-02-10 15:37] ArvidNy commented on #322
Sounds like there are two separate issues here. @tuomas2, there is a setting for either synchronizing the song with the database or not. `Options -> General -> User Options -> Copy song to schedule by default`. This option should by default be set to false, however there was a bug in a previous release that cause this value to be inverted the first time the options dialog was opened. This should b

[2021-02-11 18:39] PaulD987 opened #336 "NDI Output support"
Been doing some reading about NDI recently, and seems like this would be a really nice feature for Quelea to support. NDI is basically a video transmission technology over IP (https://www.newtek.com/ndi/applications/). Various bits of software already support NDI, like Skype has a feature to send an NDI output of someones webcam from a meeting, and OBS has a plugin for NDI... this for example enab

[2021-02-15 09:26] michaelqe opened #338 "Switching windows causes app crash"
Switching from Quelea to another app causes Quelea to crash.

If both windows are visible, there is no problem switching focus between them. But it seems like Quelea crashes when it's sent to the back maybe.

I am using macOS Big Sur (11.0.1) and Quelea 2020.0, though I had the issue with version 2019.1.

https://user-images.githubusercontent.com/75546676/107928101-8f8fe000-6f80-11eb-83fe-4f0f541f

[2021-02-15 18:24] PaulD987 commented on #338
Looks a lot similar to this Java issue to me...  https://bugs.java.com/bugdatabase/view_bug.do?bug_id=JDK-8211304

There appear to be 3 Quelea dialogs showing when you change applications. If these are all closed, does the error still occur?

From the java bug:
CUSTOMER SUBMITTED WORKAROUND :
Close dialogs before giving focus to another application.

Might need to update the shipped JRE for next r

[2021-02-15 18:47] michaelqe commented on #338
I think you're right @PaulD987 . Closing the other Quelea dialogs (about Bible errors) seems to remedy the problem.

[2021-02-16 19:11] berry120 commented on #338
Thanks for the report and good spot @PaulD987 - I've now hopefully updated the bundled JRE to the latest version. Could you try the CI release and let me know if that solves it?

https://github.com/quelea-projection/Quelea/releases/tag/CI-RELEASE

[2021-02-17 19:38] BeardedPastor opened #339 "Mobile Lyrics Request (Chords Visibility)"
Create a version of mobile lyrics with chords ALWAYS visible.

I am looking to use the browser output as a browser source overlay in OBS but having to go in and click the gear to display chords (though I can automate this too probably) is an extra step that our volunteers would have to troubleshoot if our live stream didn’t have chords visible.

-Michael Berry suggested I post this here in June-

[2021-02-17 19:41] BeardedPastor opened #340 "Mobile Lyrics (Persistent size)"
Looking for consistent size option for mobile lyrics. This will allow us to use this as a url overlay in OBS (we use chords on our livestream).

-Michael Berry suggested I post this here in June 2020 in response to a request I had on the forum-

[2021-02-17 20:37] PaulD987 commented on #336
@berry120 @ArvidNy Wondering what you guys think of this? I've actually got a pretty long way down the line of being able to do this. I have quite a lot working in my dev version, like an extra "screen" which is the NDI output, which can then be picked up by OBS. For lyrics it hides all of the backgrounds, so that it is just lyrics on a transparent background, so overlays nicely in OBS without nee

[2021-02-17 22:00] noahdennis-sys commented on #339
I have looked at this briefly and discovered that the website for displaying the chords was using a cookie that expired after 7 days, presumably why this was being reset. I'm not 100% sure, but also suspect that OBS might be disabling these cookies internally. I am working on an option, so that you can select show chords, inside Quelea, so it defaults to showing chords. And this should solve the p

[2021-02-17 22:34] PaulD987 commented on #339
@BeardedPastor could you provide a little bit more information about how you are using this with OBS. As far as I can tell, OBS should be persisting the cookie, assuming that you are doing the "right-click, interact" to get to be able to turn on the chords option. From a brief test to does seem to reload the option if I just close down OBS and then reopen it, but as Noah says above, the cookie mig

[2021-02-17 22:55] BeardedPastor commented on #339
@PaulD987 I'm doing exactly as you described in your suggestion. I added it as a browser source and then enabled the chords through there (interact method). I haven't used it in production since the lyrics adjust size between each slide and I'm unsure of how to stop that from happening. I had left it in there (on my laptop) for a couple weeks and when I went back to test things it was disabled aga

[2021-02-18 00:20] berry120 commented on #336
@PaulD987 Sorry, just seen this one! This would be a great thing to have, nice work on getting it going! Have you got a link to your implementation at all so we can take a look?

My only concern is that we can't have this in pure Java, it does require native code and that's caused us issues in the past - so we'd need to be a bit cautious over how we release it. My initial reaction would be to get

[2021-02-18 10:29] PaulD987 commented on #336
@berry120 I haven't committed anything yet, but will try to get a bit more done on the config side, and then create branch you can look at. I understand the concern of the native stuff. NewTek do provide libraries for Windows, Mac and Linux though, so hopefully that will cover all bases. I found it very easy to get the initial bit going (rather harder to get it all integrated, but that wasn't due

[2021-02-18 14:20] PaulD987 commented on #336
I think the trickiest bit with all of this is making sure things are kept within both the GPL v3 licence, and the NDI licence requirements. That might mean that support can be added into Quelea for NDI output, but not actually ship the NDI libraries, requiring the end user to install the NDI libraries themselves. I think this will satisfy both GPL v3 and NDI licence. This is what the obs-ndi plugi

[2021-02-18 18:53] PaulD987 commented on #339
OK, so sounds like the couple of weeks is why it became disabled again, because the cookie had expired.

making the chords visibility be a server side option, and also being able to hide the "gear" icon can probably be covered in this issue, so I don't think there is any need to close anything. Noah is having a go to see what he can come up with. Of course, that doesn't guarantee that it will get

[2021-02-23 04:04] garzaacb opened #341 "In stage view Bible verse are super small"
I set up a stage view on a tv in the back of the church.  The lyrics for song were big enough to read (though could be bigger).  BUT when Bible verses were displayed the were so tiny you couldn't read them in stage view.  But we're fine in the main projector.  Can we fix the display of Bible verses in stage view.

[2021-02-23 08:34] PaulD987 commented on #341
I think this might be the same as #334 that I raised the other week. Which OS are you on? Mac/Windows/Linux? and if Mac, what sort? does it have a Retina display? I haven't got round to looking at this yet, but thing mine is behaving the same as yours!

[2021-02-23 20:52] PaulD987 commented on #334
I think this is an issue with getUniformFontSize in StageDrawer.java. If it is a BiblePassage that is being shown it does
[code]
Which I don't think is doing what is desired. As far as I can tell, the verses are coming in with no new line characters in them, so it is basically getting a single line in the newText array... I think it is then trying to pick a font size to fit this whole line on the

[2021-02-23 21:11] PaulD987 commented on #336
@berry120 I've pushed an initial commit for NDI support to https://github.com/PaulD987/Quelea/tree/ndi-output. You can get the NDI Redist from http://new.tk/NDIRedistV4. You could either feed into OBS with the plugin, or use the NewTek tools to view the NDI output that is created (https://ndi.tv/tools/). I've tried this on Windows and Mac and seems to work quite nicely, of course, could add furthe

[2021-02-24 05:18] garzaacb commented on #341
I am using a mac.  The only difference is the song lyrics are readable.  But bible verses are not readable.

[2021-03-07 14:05] HeyITGuyFixIt opened #342 "Search Box in Images and Videos Tabs"
Can we have a search box in the Images and Videos tabs like we have in the Songs tab?

[2021-03-07 14:15] HeyITGuyFixIt opened #343 "Theme Layering"
Would it be possible to layer images and videos in a theme? For example, say I have a video/image/color background, and I have an image with transparency (an image like [this](https://shop.churchmotiongraphics.com/preview/still/rocky-springs-09-pro) or [this](https://shop.churchmotiongraphics.com/preview/still/gradient-flow-pro-layers-16-pro)) and I want to overlay it on top of the video, and have

[2021-03-07 19:20] #334 closed

[2021-03-07 19:22] berry120 commented on #334
It should now be fixed - let me know if it's still a problem. It needs to be calculated differently as the bible passage text has different wrapping rules (it wraps at any word boundary to try to keep the line size consistent where possible, whereas songs try to preserve line boundaries where possible to preserve the song flow.) But you were definitely correct in that the code that was in that blo

[2021-03-07 19:23] berry120 commented on #338
(Hopefully this is fixed and will make it into 2021.0.)

[2021-03-08 00:54] lemelind opened #344 "text size in lyric webpage"
Hello,
I want to thank you for all the great work you have done in this software.
Like issue : #334, the Bible text size are very small in lyric webpage, the song text size are perfect.
I use the last CI version (from today 03-07-2021)
Thanks a lot,
David

[2021-03-08 00:57] berry120 commented on #344
Hey, just to check - are you saying the issue isn't fixed in the latest CI from around 5 hours ago? If so I'll need to take a deeper look.

[2021-03-08 00:58] lemelind commented on #344
the last issue was fixed greatfully
now the stage view for Bible text size are perfect
this issue is only for Bible text size in lyric webpage

[2021-03-08 01:04] lemelind commented on #344
song:
![2021-03-07 20_00_10-Quelea Lyrics Display](https://user-images.githubusercontent.com/80229539/110261978-29dfb400-7f80-11eb-9175-10ce9301cb46.png)
Bible:
![2021-03-07 20_01_21-Quelea Lyrics Display](https://user-images.githubusercontent.com/80229539/110262001-39f79380-7f80-11eb-9738-913bacc1be64.png)

[2021-03-08 21:05] #344 closed

[2021-03-08 21:23] berry120 commented on #344
This should now be fixed in the latest nightly 👍

[2021-03-08 21:25] berry120 commented on #324
Just cleaning older issues up, so closing as a duplicate of #302. If it's not, feel free to reopen.

[2021-03-08 21:25] #324 closed

[2021-03-08 21:27] #329 closed

[2021-03-08 21:29] #244 closed

[2021-03-08 21:32] berry120 opened #345 "Add custom keyboard shortcuts to the options dialog"
Custom keyboard shortcuts can be registered through the properties file directly, however there's no interface to do so from within Quelea.

This issue extends the work done in the following PR by @ArvidNy: https://github.com/quelea-projection/Quelea/pull/318

[2021-03-09 19:51] kavishdahekar opened #346 "Allow option to add cors headers to lyrics server"
Hi all,

I am currently working on an obs dock that would allow direct access to quelea's projected content.

I am doing this via the http://127.0.0.1:1111/lyrics endpoint.

However, due to cors issues, I need a local proxy to inject appropriate headers.

Can we have an option in the "Server Settings" section that would allow users to set the `Access-Control-Allow-Origin` header value sent by the

[2021-03-13 11:18] michaelqe commented on #338
@berry120  Yes, that CI release fixes the issue. Thanks a lot!

(Sorry for the delayed response)

[2021-03-13 11:37] berry120 commented on #338
No worries and thanks for the confirmation!

On Sat, 13 Mar 2021, 11:18 michaelqe, ***@***.***> wrote:

[2021-03-20 16:01] pbcmatthew opened #347 "Provide the option on showing next slide first sentence for main projection screen"
Since your apps of State Mode able to show the Next Slide : First sentence at the bottom of the screen .

Why not give us the option of this to select like the "Small song text Option" for the Main screen as well .

[2021-03-26 23:33] #338 closed

[2021-03-27 00:04] #317 closed

[2021-03-27 00:04] berry120 commented on #317
This should now be fixed in the latest CI release - if you could test and let me know, that'd be fab!

[2021-03-27 00:27] #327 closed

[2021-03-28 16:04] MistaWizard opened #348 "Adding Bible verse via number pad"
In version 2020.0, adding Bible verse where the chapter and verse numbers via the number pad doesn’t follow verse splitting rules set in options.

Scenario - When entering the chapter number or multiple verses using the number pad, it will ad it but three verses will be combined on one slide. In my settings I have it set to only show one verse per slide. It does keep the verses whole across slides

[2021-03-29 00:02] perfectsoundandvideo opened #349 "Allow lyrics to be spaced out for stage view"
Allow the lyrics to be spaced out more on the stage view because the cords start to overlap

[2021-03-29 00:09] perfectsoundandvideo opened #350 "Make PowerPoint presenter view available on mobile remote"
Make the PowerPoint presenter view available for use on the mobile remote

[2021-03-29 08:19] ArvidNy commented on #350
Could you perhaps tell us a bit more about how you want it to work differently from now? You can view the different slides already, but I suppose you're looking for something else?

[2021-03-29 13:08] berry120 commented on #346
I'm always a wary of adding CORS headers even as an option, as very few people understand the security implications. That being said, the lyrics server doesn't offer any remote control functionality or expose anything that could really be considered "secret", so it may well be ok in this instance to just do a blanket enable.

Let me consider it; I'll have a think and then report back.

[2021-03-29 13:58] perfectsoundandvideo commented on #350
![image](https://user-images.githubusercontent.com/81268965/112847294-ed7e1000-9074-11eb-91f5-83ed2051754b.png)
This way he can see his notes, next animation, etc. I don't know if that's even possible, but I thought I'd ask

[2021-03-29 15:56] kavishdahekar commented on #346
Thanks @berry120. Let me know. I can help with the code as well.

[2021-04-01 20:17] lightning-software opened #351 "Feature Request: Change Preview/Live Layout and Behavior"
The preview and live panels layout and method of advancing seems clunky to me, especially for less tech-savvy users. I would like for the process to be streamlined and more user-friendly. This is my proposal:

1. Make the preview pane act as both the preview and live controller pane.
2. Make the live pane (the far right) a display pane with a preview show and a live show (preview on top), labeled

[2021-04-02 07:51] berry120 commented on #351
It's not clear to me that this will necessarily make things clearer or less clunky:

 - With the current behaviour you know that anything you change on the live pane has an immediate result on the live view. With this new system you have one "control pane", which, depending on your actions, will affect either the preview or live panes (with it not being immediately clear you have to double-click s

[2021-04-11 16:42] philbeauchamp opened #352 "Second Screen doesn't show up correctly"
using 2019 version and all versions prior have no issues having my second monitor as the projection window.  Just installed 2020 and 2021 versions and both have the same behavior of not having the window display properly.  It either places the windows down too far or on the primary monitor.  It also doesn't do it consistently.  Trying to move the window with the custom properties does not work as

[2021-04-17 14:13] jcarrots7 opened #353 "Give option to customize panels"
Can you please give the option to close panels such as the song library in order to give more space for the order of service, or the live display in the bottom right hand corner. Also the ability to reorder them i.e. put the order of service below the song library, and finally the option to "pop out" panels into there own separate window. Maybe give the option to customize the toolbars, too.

[2021-04-17 14:53] besttechever31 opened #354 "Can the Stage view lyrics have part of the next slide in them?"
This way who ever is looking at them the can see what is coming next like the chorus or a bridge. Also can the tagging show up on the stage view, maybe even a controlled countdown like if we sing the verse 3 times then I can put in a 3x that I can change to 2x on the spot, but only showing up on the stage view. Thanks!

[2021-05-03 21:02] #350 closed

[2021-05-03 22:34] not-technically-inclined opened #356 "OBS"
Is it possible to have a way to output just the text to OBS, in a way that updates automatically? So the words can be placed at the bottom of the screen in OBS, with the camera video feed? I have absolutely know idea how to do this, though.

[2021-05-03 22:36] not-technically-inclined commented on #356
IDK if you can do this already, if so, how?

[2021-05-03 22:48] not-technically-inclined opened #357 "Spotify Music"
I did some exploring, and I saw way back when, you said that people don't do a whole lot of music from files (I'm sure that's never been more true), and what if you added a way to control the music _through_ Quelea from Spotify (or Apple Music, whatever else), like what you did with PowerPoint, not run from Quelea, just run _through_ Quelea, some sort of remote control button that would activate t

[2021-05-08 18:49] PaulD987 commented on #336
@berry120 Did you ever have a chance to look at any of this?

[2021-05-08 18:53] PaulD987 commented on #356
People have been using various techniques, like capturing the words from the mobile lyrics server and using that in OBS etc.

I've been playing on and off with adding support for NDI output, which could then be picked up in OBS. See [https://quelea.discourse.group/t/best-options-for-outputting-in-building-and-to-live-stream/644](https://quelea.discourse.group/t/best-options-for-outputting-in-build

[2021-05-09 12:08] PaulD987 commented on #353
Not to answer the full request here, but there is code in now to give the option to be able to resize the preview and live panels independantly. It isn't in an official release, but you can try it out by downloading a [CI release](https://github.com/quelea-projection/Quelea/releases/tag/CI-RELEASE). Not recommended for production use, but you can try it out. That will enable you to resize the live

[2021-05-09 16:12] berry120 commented on #336
@PaulD987 I've made some comments on your commit here: https://github.com/PaulD987/Quelea/commit/6fbd6073659b901f9ea982e5179e0c2860ba106b

Just minor things - if you could sort those out then raise a PR, that'd be great and we can then get that integrated after 2021.0 is released 👍

[2021-05-09 16:22] PaulD987 commented on #336
Thanks @berry120. I will certainly have a look at those comments and address where appropriate. That commit was really an initial go at getting something that worked, and certainly wasn't a finished effort, more a work in progress (not that I have looked at it much in the last couple of months!). There are other things/options that I would like to get in, particularly around themes etc because you

[2021-05-09 16:35] berry120 commented on #336
Sure, no problem with taking it in principle - the main concern is we don't break anything, beyond that it's a well-known standard that I'm sure would be very useful for others, so hopefully we can get it in there :)

[2021-05-09 18:47] PaulD987 opened #358 "2021 Beta doesn't execute on Mac"
Hi @berry120 I think something may have gone wrong with the Mac build for the 2021 Beta... it doesn't execute when downloaded... it is missing the execute bit on the app!

[code]
Is what I had to do to get it to actually execute!

[2021-05-10 07:08] berry120 commented on #358
Whoops, my bad - should now be fixed. Perils of building everything on a
Windows box...

On Sun, 9 May 2021, 19:48 PaulD987, ***@***.***> wrote:

[2021-05-16 12:02] joncojonathan opened #359 "Images in saved schedules replaced by images from Images library"
When images are present in a saved schedule, and the schedule is reopened, the images get replaced with an image of the same name from the image library at `C:\Users\<username>\.quelea\img`.  Image groups are not affected by this bug.

**Steps to reproduce**
* Add an image called `Slide1.png` to the image library (it should then be found at `C:\Users\<username>\.quelea\img\Slide1.png`)
* Create a

[2021-05-16 14:16] DeeTigIT commented on #359
I'm not completely sure, but this could be related to #265 .

[2021-05-16 15:33] joncojonathan commented on #359
Yes, that looks very similar @DeeTigIT.  Seems the issue has been around for a while then.  I'm not familiar with that part of the code base but I might take a look see if I can work anything out.

[2021-05-16 15:40] joncojonathan commented on #359
I can confirm this problem exists in Linux also, having tested with 2021.0 beta 1.  Updated original description accordingly.  Installation was performed using snap (`sudo snap install --beta quelea`).

[2021-05-18 17:31] odlg commented on #356
We have used one computer with Quelea (and powerpoint) where the HDMI output was sent directly to another computer with OBS and some HDMI-to-usb capture devices. Used a source with luma-keying for Quelea and another source for powerpoint. Then used main OBS output on our projectors.
An other option would be to use a VNC plugin in OBS to fetch Quelea output.

[2021-05-24 00:11] Dazmed707 opened #360 "Error in Matriz Video"
Quelea 2021 beta

when modifying video colors and casting live
there are no changes

![image](https://user-images.githubusercontent.com/35184132/119281246-99b62000-bbfa-11eb-997b-f23d37b99409.png)

[2021-05-26 02:11] micahlt opened #361 "Big Sur icon"
Now that MacOS has updated to Big Sur, there is a need (well, at least a desire) for app icons to match the rounded-square aesthetic.  How difficult would it be to implement a different icon that matches the Mac design guidelines?
| concept | current |
|----------|------------------|
|<img src="https://user-images.githubusercontent.com/28816297/119591740-cace5600-bd9c-11eb-9b57-95569c15a221.png" w

[2021-06-12 08:36] leealex opened #362 "Q2021 Beta crashes on start"
Macbook Pro 16"
Mac OS Big Sur 11.4

Today i've downloaded last build and managed to launch it one time, after changing settings of the screens I saved them and restarted the app. After that I cant launch Quelea. I also tried Q2020 stable release.

Here's log:

[code]

[2021-06-14 14:40] Barry-Bean opened #363 "Support Beblia bibles"
I have downloaded Afrikaans Bibles from https://www.beblia.com
(https://www.beblia.com/pages/bibleXML.aspx?Language=Ewe&DLang=Ewe&Book=40&Chapter=1)

None of the Bibles however imported correctly to Quelea. The appear as blanc since I cant choose a Bible Book. I tried to edit the files to correspond to the default Bible but then I get an error message "There seems to be a problem with your bible f

[2021-06-14 15:05] Barry-Bean opened #364 "Feature Request: Trimming options on video and audio playback"
It would be great to have more control over the video and audio playback like adding trimmers (where the video/audio starts and stops) to the video/audio player. Sometimes you just want to show a section of the video or play only part of the audio file. These trimmer handles would allow for such operation.

Thanks.

![Video Player Trimming](https://user-images.githubusercontent.com/85887539/121914

[2021-06-20 00:53] leealex commented on #362
Hi, @berry120 is there way to fix it by myself? Reinstall Java or something else?

[2021-06-20 05:53] ArvidNy commented on #362
My guess, without looking too closely at the log, is that you are using the cross-platform version(?) and a Java version that has introduced changes that we haven't added fixes for yet. In that case, my suggestion would be to try to either downgrade the Java version or use the Mac installer instead and see if that helps.

[2021-06-20 08:48] PaulD987 commented on #362
@leealex can you look in the quelea.properties file (in your home directory .quelea/quelea.properties), and see if you have stage.text.alignment set, and if so, paste the line in here... for example, this is what mine has:
[code]
I suspect that there may be an unexpected value for that property.

If not sure how to get the properties, open a terminal and enter this:
[code]

[2021-06-20 11:47] leealex commented on #362
`stage.text.alignment=REPORT AN ISSUE`

[2021-06-20 11:51] leealex commented on #362
Thank you @PaulD987 !!! I changed the value to `CENTRE` and now Quelea managed to start successfully!
You made my day, man ))

[2021-06-20 11:53] PaulD987 commented on #362
Yep, that makes sense!! I thought it would be that, after having taken another look after the message I posted earlier. if you change it to what I have, eg CENTRE, then I suspect it will start working again. That however doesn't explain how it got set to that value in the first place! I was wondering if it was something to do with you using the Russian language pack, but I can't recreate the failu

[2021-06-20 12:04] leealex commented on #362
As I remember, it happened after I've changed Projector screen settings. After saving settings Quelea couldn't start anymore. I'll try to reproduce it.

[2021-06-23 11:41] ArvidNy commented on #361
The concept icon looks good to me! What do you think, @berry120? I'd say that it shouldn't be that difficult to add either once we have it in the right format. Would you like to create an `.icns` file for it and create a pull request for it (for instance using [this method](https://stackoverflow.com/a/20703594)) if Michael also thinks it looks good?

[2021-06-24 18:54] micahlt commented on #361
I'd be glad to generate some `icns` versions.  I'll do so when I get the chance and then make the PR.  In which directory should they be stored?

[2021-06-25 16:23] berry120 commented on #361
Sure, looks good to me - I'd be fine with that!

[2021-06-25 17:45] ArvidNy commented on #361
Great! It should be placed in the `/icons` folder. My suggestion would be to replace the `mac-logo.icns` file with this, rather than trying to find a solution to identify which MacOS version Quelea is run on when the icon currently is set in Packr when creating the installer and not on runtime.

[2021-06-30 16:17] DuebelWalter opened #366 "Feature Request: Translation activated by default in songs"
It would be great if there was the possibility to activate the translation in songs by default.
We usually sing bilingual songs and it is very practical if the translation is activated by default.

[2021-07-12 20:28] thomasvergouwe commented on #363
I have the same issue with a XML file of a dutch bible.

[2021-07-17 19:58] DuebelWalter opened #367 "Song Sequence don't work right, it destroys correct song Order"
When I put a song from Database to Schedule the correct song order get corrupted

In the database the song looks like that
V1 C V2 B
I made a Song Sequence : V1 C V2 C B C

When I put the Song into a Schedule the song is displayed like that:
V1 C C C V2 C C C B C C C

On the right side is the correct song order, left is the corrupt song order.
I used the Windowsversion from Quelea 2021 (nightly an

[2021-07-24 16:38] eman1000 opened #368 "ck"

[2021-07-26 20:36] tdavison1 commented on #336
@PaulD987 love the idea of this feature - I would really make use of it! Fingers crossed it gets merged in. Thanks

[2021-07-28 16:58] DeeTigIT commented on #368
?

[2021-07-29 01:47] #368 closed

[2021-08-03 18:03] micahlt commented on #361
All right!  I'll make a pull request for this.

[2021-08-03 18:51] micahlt opened #369 "Modernization of remote control web app"
Just fiddling around with the web remote control and I noticed a few minor layout issues.  I went to go take a look at the source code and I have a few quick questions:

- Is there a reason why the source code still utilizes XMLHttpRequest?  The much smaller and simpler Fetch API is [supported by 96% of browsers](https://caniuse.com/fetch) which is only one percent less than XMLHttpRequest.
- Why

[2021-08-11 21:19] ArvidNy commented on #369
I think Ben wrote the original code many years ago, so he could probably give you a better answer, but my guess is that most of it is just a matter of out-of-date code. I've updated the code since then a few time, but I did not know about the Fetch API nor template literals. As for the style sheet, I suspect that it was originally just a matter of not having to add more [contexts to the remote ser

[2021-08-11 21:27] micahlt commented on #369
Awesome!  Is there any downside or performance loss that would make adding a context to the server negative?  I'm primarily a Javascript dev, so I know very little about Java.

[2021-08-11 22:19] beng92 commented on #369
I did originally write this code a long time ago building on Michael's proof of concept at the time. I had very little understanding of javascript at the time, and it proved to be quite difficult to maintain simplicity and speed. There are likely new technologies existing now that did not then, or that I was unaware of.

I have nothing against improvements being made to that section of code,, howe

[2021-08-11 22:30] berry120 commented on #369
The issue with switching to more modern JS (such as fetch, template literals etc.) is that by doing so we're breaking compatibility with older browsers, most notably IE11 (which of course no-one *should* be using now, but that means very little in the grand scheme of things!)

I've no big issue with this personally, but similar to Ben's point, if we're breaking compatibility I think we should have

[2021-08-11 23:09] berry120 commented on #363
There's two issues here:

 - Not all XML formats are the same - Quelea primarily supports the *Zefania XML* format. The format of the bibles on https://www.beblia.com/pages/bibleXML.aspx?Language=Ewe&DLang=Ewe&Book=40&Chapter=1 doesn't appear to be the Zefania XML format, but the Beblia format.
 - The XML must be well formed. The docx file you've attached is in Zefania format, but is broken - spec

[2021-08-11 23:09] #363 closed

[2021-08-11 23:10] berry120 commented on #362
@leealex Just checking if you ever managed to reproduce this one?

[2021-08-11 23:10] #358 closed

[2021-08-12 02:45] leealex commented on #362
@berry120 Nope 🤷‍♂️

[2021-08-12 04:31] micahlt commented on #369
@beng92:

As far as features, I think the existing featureset is perfectly sufficient except for the fact that the layout should be mobile-responsive.  I'm not aware of any bugs with the existing client besides layout issues, which I'll go into in a second.  As far as performance, [the Fetch API has been shown to be slightly faster than XMLHttpRequest](https://gomakethings.com/the-fetch-api-perfor

[2021-08-12 12:50] micahlt commented on #369
Ah, okay!  I didn't realize that 2021.0 had been released already.  After installing and trying it, it seems like you fixed most of the issues I was referencing.  Yep, it does look like the logout button has been completely removed.  As far as further suggestions, it looks like the hamburger menu button overlaps the search button when the menu is open.  I might also in general shrink the icons a l

[2021-08-13 15:59] berry120 commented on #362
No worries. Let's close it off for now and feel free to re-open if you're able to reproduce, then we'll look at fixing it 👍

[2021-08-13 15:59] #362 closed

[2021-08-13 16:22] berry120 commented on #369
Sure, it does - but the flip side is that any change introduces risk, and potential incompatibility when we're talking about the frontend - so I've become increasingly cautious over the years :-) I'm all for making code cleaner & more readable alongside other tasks that's also touching the same area of code, but I've seen plenty of cases where (what should have been) purely stylistic changes have

[2021-08-13 16:22] berry120 commented on #367
@DuebelWalter Is this a new issue in 2021.0 or do you see it in the current version too?

[2021-08-15 00:49] micahlt commented on #369
Interesting - so any work on this should really be done post-2021.0 it seems.  I'm definitely interested in helping move to a more modern frontend though!

[2021-08-15 08:24] berry120 commented on #369
By all means start work by forking it, we just wouldn't merge it yet is all.

On Sun, 15 Aug 2021, 01:49 Micah Lindley, ***@***.***> wrote:

[2021-08-15 20:46] berry120 commented on #359
@joncojonathan @DeeTigIT This issue should now be fixed - if one of you can confirm it's now as you expect, that'd be fantastic.

[2021-08-15 21:00] berry120 commented on #352
Hey, sorry for the delay in replying! This isn't something we've been able to reproduce our end. It'd be good to work out if this is to do with some kind of custom setting, or is more to do with your particular setup. Could you temporarily rename the `C:\users\USERNAME\.quelea` folder to something else, which should reset all the settings / database, then let us know if you still have the issue? (

[2021-08-15 21:01] berry120 commented on #348
This is really odd and doesn't seem to happen for me. @ArvidNy is this something you're able to reproduce at all?

[2021-08-15 21:02] berry120 commented on #364
This would definitely be a nice to have if we can find the time to get around to it.

[2021-08-15 21:02] berry120 commented on #354
@beng92 I seem to recall you looked at stage view stuff a while back - was this something you looked at then, if at all? Trying to remember where we got to with it.

[2021-08-15 21:03] berry120 commented on #366
Out of curiosity what would be better for your use case - a global switch for this, or a per-song switch?

[2021-08-15 21:05] berry120 commented on #357
We talked about this extensively many years ago now, and I think pretty much came to the conclusion that audio was generally best handled with tools outside of Quelea - and that was before the likes of spotify etc. became popular. I'm not sure if the popularity of cloud music services changes our stance at all - I'm not against investigating it in principle, but in practice we'd likely have to sup

[2021-08-15 21:06] berry120 commented on #349
Is this still an issue in 2021.0? I feel like we did have this as a problem but it should largely be solved now. If not and you could provide us with an example, that'd be great.

[2021-08-15 21:07] berry120 commented on #347
@ArvidNy Not sure if you've seen this, looks like it's an app related suggestion - not sure if it's something you've considered?

[2021-08-16 08:32] thomasvergouwe commented on #366
I'm following this thread because I think we have the same situation like DuebelWalter. In our case a global switch would be great. something like: "if there is this translation available, activate by default".

[2021-08-16 13:06] perfectsoundandvideo commented on #349
No. The only glitch is that you can not use tabs as spacers and the text has to be aligned left

[2021-08-17 05:45] ArvidNy commented on #347
@berry120 Not really a suggestion for the Android app but for the main software – it seems to be the same request as #354. The app already supports this.
![](https://play-lh.googleusercontent.com/ZD9C5g-Ck42sjqM--z8M0qpKCWBqTLp3qYAqts5estXwKfw4o2vnZ5TpE6uhP_HAsQ=w640-h440)

[2021-08-17 20:01] DeeTigIT commented on #359
I used the latest cross-platform CI, but the behaviour still appears to be present.

When I open the schedule "test - with embedded media (2).qsch" then in the "C:\Users\<account>\AppData\Local\Temp" the 2 media files are extracted:
- IMG_0319.JPG  this is the background image for the first (1st) schedule song
- SYOT3775.MP4  this is the background movie for the third (3rd) schedule song

The seco

[2021-08-18 18:53] DuebelWalter commented on #367
@berry120 This is a new issue in 2021.0
In 2020.0 song order did not work at all with translations. So in 2021 its getting much better.

[2021-08-18 18:55] DuebelWalter commented on #366
It would be great to have a global switch for translations, because we sing all english songs with translations.

[2021-08-19 08:21] berry120 commented on #367
Hmm, it's not something I've been able to reproduce I'm afraid - does this only happen in set circumstances, like when a song has a translation or something like that? @ArvidNy not sure if you're able to reproduce this.

[2021-08-19 12:02] Dazmed707 commented on #363
fix display error when selecting the complete chapter
cannot display individual verses in xmm versions of bibles and in xml versions of belial

![image](https://user-images.githubusercontent.com/35184132/130065207-0dc65fd7-f187-42e6-a7d5-a3fef4321cd6.png)

[2021-08-20 16:03] berry120 commented on #347
@ArvidNy Sorry, my bad, you're right. @pbcmatthew could you confirm it's the same as https://github.com/quelea-projection/Quelea/issues/354?

[2021-08-20 16:05] berry120 commented on #363
@Dazmed707 Could you explain a bit about the display error you're seeing there? It all looks ok to me from that screenshot...

[2021-08-20 16:40] berry120 commented on #359
@DeeTigIT Ah, I believe @joncojonathan originally reported this to do with images (as in just image file behaviour) rather than to do with image / video background behaviour that's embedded in schedules, so that was all I fixed initially.

That being said, I think this behaviour definitely needs fixing too if feasible, so I've put in another fix - could you give that a try when you have time? Than

[2021-08-20 16:56] Dazmed707 commented on #363
in options I put that only 1 verse appears at a time

but in the capture there are more

[2021-08-20 17:07] berry120 commented on #360
We may take a look at this later, but it's very low priority so afraid it won't be for 2021.0.

[2021-08-20 21:16] berry120 commented on #363
@Dazmed707 should now be fixed.

[2021-08-21 02:11] pbcmatthew commented on #347
It is similar but my suggestion is for the main screen view .

[2021-08-21 04:38] Dazmed707 commented on #363
all good thanks

Please solve the background video color change thing when creating in theme as the problem photo shows #360

[2021-08-21 05:50] Dazmed707 opened #372 "Improve the bible search"
any ideas to improve the bible search engine

![image](https://user-images.githubusercontent.com/35184132/130312040-10e34cfe-d5db-4290-b471-a582b0723e74.png)

[2021-08-22 11:53] DuebelWalter commented on #367
It only happens when I used a translation on a song, if there was no translation everything was fine.

[2021-08-22 20:52] DeeTigIT commented on #359
Did a test with the above schedule "test - with embedded media (2).qsch":

https://user-images.githubusercontent.com/39883796/130369554-2cee5880-6478-4c43-a01e-bd23ecf08fa9.mp4

- background image for the first (1st) schedule song IS SHOWN.
- second (2nd) schedule song still uses image song default, as before.
- background movie for the third (3rd) schedule song IS SHOWN.

Both background image an

[2021-08-24 16:37] berry120 commented on #372
Afraid you'll need to be much more specific here - how do you want the search improved?

[2021-08-24 20:20] berry120 commented on #359
@DeeTigIT Thanks for all this thorough testing, it's really helpful. Hopefully the bug with the resources disappearing after you saved should now be fixed.

Am I correct in thinking that the second behaviour is already as it should be (in that the second schedule song should use the image song default as it has been?)

[2021-08-24 20:23] berry120 commented on #367
I still don't seem to be able to reproduce it I'm afraid - could you perhaps save it to a schedule file and then upload here?

[2021-08-24 22:28] berry120 commented on #366
Cool, 2021.0 is locked for new features (bugfixes only) but this is implemented in a branch and we should be able to merge for the 2022.0 release.

[2021-08-24 22:36] berry120 commented on #322
@pbcmatthew Hmm, I see the issue but I can't reproduce it unfortunately. Would you be able to attach your `quelea.proeprties` file in case there's a set of properties that cause this issue?

[2021-08-24 22:39] berry120 opened #374 "Playing a video live should uncheck the black / clear / logo buttons"
When playing a video live, you almost never want "audio only" with the black / clear / logo buttons selected, so we'll plan to uncheck these automatically when the video starts playing. At present you sometimes find yourself having to press these buttons as quickly as you can after the video starts playing, which is annoying & cumbersome.

If this behaviour is *not* desirable for anyone, comment h

[2021-08-24 23:05] Dazmed707 commented on #372
that the books can be displayed in a column
when selecting the book, another column with the chapters and another with the verses appears

from there with the cntrl key you can mark up to where you want to add .. and if nothing is marked add the entire chapter

[2021-08-24 23:09] Dazmed707 commented on #360
okay, although I use that a lot, it was fine in previous versions, I don't know what happened in 2021.0

[2021-08-25 09:21] pbcmatthew commented on #322
attached .
The clip i recorded  is fresh install
[quelea.zip](https://github.com/quelea-projection/Quelea/files/7045714/quelea.zip)

[2021-08-27 09:26] Mehdibuntu opened #375 "macOS Monterey"
Hello guys,
I use macOS Monterey bêta 12.0 (21A5304g)
But when I launch Quelea 2020.0 or 2021 CI-RELEASE all quit.
I work only one time.

https://user-images.githubusercontent.com/64665363/131105304-ad68d6cc-f840-48c7-9857-a0810c582b7f.mov

[2021-08-27 23:01] berry120 commented on #372
I don't think this would make much sense for the bible search dialog - the whole point of that is to search for a word or phrase in a version of the bible and then have the book / chapter / verse provided to you. So we wouldn't be looking to add any kind of input similar to this into that dialog. Bible search and bible browsing is also a bit of a niche feature that isn't used a great deal, so we w

[2021-08-28 09:54] Mehdibuntu commented on #375
Of course, this is the debug log

[quelea-debuglog.txt](https://github.com/quelea-projection/Quelea/files/7070514/quelea-debuglog.txt)

[2021-08-28 18:39] berry120 commented on #375
Hmm, nothing in here that suggests an issue I'm afraid. Does this work with Mojave ok? If so then we'd probably wait for the final release of Monterey in case there's any bugs on the MacOS side causing the issue. (There's also not much we can do until a developer has access to that version of the OS to test on, which may be a while.)

[2021-08-28 19:21] Mehdibuntu commented on #375
It worked for a few times in Mojave but then not at all.
I have an apple developper account if that helps.

[2021-08-28 19:26] berry120 commented on #375
Can you try removing or renaming your ".quelea" folder? It'll be in your
user's home folder (usually /Users/USERNAME on MacOS I believe.)

On Sat, 28 Aug 2021 at 20:21, Mehdibuntu ***@***.***> wrote:

--
Thanks,

Michael

[2021-08-28 19:36] Mehdibuntu commented on #375
Thanks, it work

[2021-08-28 19:43] #375 closed

[2021-08-28 19:43] berry120 commented on #375
Awesome. If you've still got the old non-working `.quelea` folder and you can zip that up and drop it here, that'd be useful for us to see if it's something we can reproduce on a non-apple system or not. Otherwise just let us know if the same issue happens again!

[2021-08-28 19:47] Mehdibuntu commented on #375
oh sorry, I deleted everything to avoid having any residual files. If it happens again, I'll make you the zip file first. I'm waiting for the next update of Monterey to see if the problem comes back. Thanks again for your help.

[2021-08-28 19:50] berry120 commented on #375
No worries, thanks!

On Sat, 28 Aug 2021 at 20:48, Mehdibuntu ***@***.***> wrote:

--
Thanks,

Michael

[2021-08-29 02:00] perfectsoundandvideo opened #377 "Videos not playing"
Videos/media/audio is not playing. I can preview them and send them live but when I hit play nothing happens. The time slider doesn't move but I can move it manually (but that doesn't do anything either).

[2021-08-29 08:33] DeeTigIT commented on #359
And I can confirm this: no more local refs in the schedule.

Looking at the reproduction steps Jonathan described:

![S1](https://user-images.githubusercontent.com/39883796/131243699-199cb541-b610-4160-8ce5-ca90439bcc78.JPG)

I added 3 "Jonathan" images (Slide1.png, Slide2.png, Slide3.png) to the img folder.
And added 3 "other" images with equal names to the schedule: 1 individual image (Slide1.pn

[2021-08-29 08:39] berry120 opened #378 "Different images with the same file name in the schedule conflict"
Looking at the reproduction steps Jonathan described:

![S1](https://user-images.githubusercontent.com/39883796/131243699-199cb541-b610-4160-8ce5-ca90439bcc78.JPG)

I added 3 "Jonathan" images (Slide1.png, Slide2.png, Slide3.png) to the img folder.
And added 3 "other" images with equal names to the schedule: 1 individual image (Slide1.png) and an image groep (Slide1.png, Slide2.png, Slide3.png). T

[2021-08-29 08:41] berry120 commented on #359
@DeeTigIT Thanks very much for that. In the interests of getting 2021.0 out the door and because this isn't a regression, I think the best thing to do is to migrate the bug you've noticed there to a new issue and work on it for 2022.0 instead (it requires me to have a careful think about how these image / video names are stored internally to prevent conflicts like this, so not a simple fix.) Hopef

[2021-08-29 08:41] #359 closed

[2021-08-29 08:47] berry120 commented on #377
Hmm, works ok for me. What version are you using? Could also be worth reinstalling VLC, as that's what Quelea uses for multimedia playback.

[2021-08-29 08:59] berry120 commented on #346
Sorry about the long wait! Had a think about it and decided that we'll put this option in the release after 2021.0, which will likely be 2022.0.

Originally I was thinking we could perhaps just open it up to the world by default, but *just in case* anyone puts anything confidential on those slides, we wouldn't really want any old website to be able to launch a client side attack to grab the conten

[2021-08-29 11:30] perfectsoundandvideo commented on #377
The latest nightly version that was released about 4 days ago. I installed VLC from their website and Quelea still gives me the error that VLC isn't installed. Also, side bug, Quelea never detects VLC when I install it from the Microsoft Store.

[2021-08-29 11:53] berry120 commented on #377
Hmm, do you get the same issue with the latest beta? https://github.com/quelea-projection/Quelea/releases/tag/v2021.0-beta-2 Seems to work ok for me on that release too, just want to check if it does your end.

[2021-08-29 13:13] Dazmed707 commented on #360
I'm going to check the beta 2 to see if the problem is solved

[2021-08-29 14:08] DuebelWalter commented on #367
The Song order bug seems to be fixed Quelea 2021 Beta 2.
 I made my first tests and the song order is always correct even  in a schedule.
 Thank you for the fast fixing of this problem

[2021-08-29 18:23] perfectsoundandvideo commented on #377
Yes, however interesting thing; it didn't always happen- it worked for a while on that build, and then it just randomly stopped.

[2021-08-29 19:09] berry120 commented on #377
That's odd, there's nothing on Quelea's side that should just break it suddenly. Is it possible you changed anything on the VLC side? You can also try removing or renaming the `.quelea` folder in `C:\users\USERNAME\.quelea` (or the alternative folder if on a non-windows system) and see if reverting back to a clean install helps.

[2021-08-29 19:11] berry120 commented on #343
Very unlikely we'll ever support this level of compositing for backgrounds I'm afraid - it's rather complex to achieve reliably, would require a lot of changes, and is a bit of a niche use case.

[2021-08-29 19:12] berry120 commented on #341
@garzaacb Could you check whether this is fixed in the latest 2021.0 beta?

[2021-08-29 21:17] perfectsoundandvideo commented on #377
As I mentioned previously, VLC is installed, but Quelea can't find it. Is there a way to manually specify the path to VLC?

[2021-08-30 03:51] Dazmed707 commented on #360
I have vlc 3.0.16 x64 bits ..
windows 21H1 updated

follow the issue in 2021.0 beta2

[2021-08-30 09:42] kavishdahekar commented on #346
Wonderful!!! Thanks for considering this 😇 This should hopefully make integrating quelea with other workflows easier.
I'm trying to write a layer that would make controlling quelea from obs possible directly via an obs dock. Currently doing this by sort of scraping the remote lyrics endpoints.
However, the most ideal solution would be quelea exposing an api (protected or open?) that allows other a

[2021-08-30 09:46] berry120 commented on #346
I don't think we'd go as far as a full API as that'd be a lot of work to spin up and maintain for a reasonably niche use case (if lots of similar apps started coming out the woodwork then we might consider it, but in reality that's probably unlikely.)

However, I have been considering this option which might help? https://github.com/quelea-projection/Quelea/issues/313

[2021-08-30 17:46] berry120 commented on #377
Ah sorry, missed that.

At present there's no way to specify it manually I'm afraid - the path in windows is given by a registry key (by default `HKEY_LOCAL_MACHINE\SOFTWARE\VideoLAN\VLC\InstallDir`.) Could you check to see if that points to the correct place?

[2021-08-31 01:50] kavishdahekar commented on #313
This is an interesting idea! However, I'm wondering how much latency the file r/w operations would add both to quelea as well as any other application that wants to read the text file.

For a quick test, I added a Text (FreeType 2) source to OBS with the option to read from a text file. Any modifications to the text file do reflect in OBS but with a significant delay(almost 0.5 to 1 second). I hav

[2021-08-31 01:51] kavishdahekar commented on #346
Thanks! I added some more thoughts to the live text idea in the other issue.

[2021-09-02 11:47] perfectsoundandvideo commented on #377
Thanks, sorry I didn't get back sooner, but I looked in my registry and it's not there. (VLC)

[2021-09-02 12:06] berry120 commented on #377
Hmm, in that case it must have been installed or updated via some means that doesn't have that key in place, so VLCJ (and therefore Quelea) can't find it.

At some point I'll have a look and see if there's anything I can work out with this, but afraid it's not something we'll have in place for 2021.0. Hopefully 2022.0 - and I'm aiming to have that release out in early 2022, all being well.

[2021-09-08 07:32] #361 closed

[2021-09-08 17:13] DuebelWalter commented on #367
The problem with the songsequence seems to behave differently now. It always copies the text in the original text to the place where it should be in the verse sequence. But the translation is not changed (as you can see on the first screenshot). The second screenshot shows my song sequence

I have produced the error as follows:
1. create new song
2. create translation
3. save song and copy it into

[2021-09-08 20:05] ArvidNy opened #380 "The Mac installer does not work"
I just tried to download the Mac installer but it says that the file is damaged. I've tried the most recent beta and all the releases before that, and I had to go back to 2019.1 to find a working build. Have we changed anything in the Mac build since then that could have broken it?

[2021-09-08 21:45] berry120 commented on #380
Hmm that's weird - the CI release runs just fine for me on the Mac, but the beta2 one was broken due to a bad executable flag (I've now changed that and it seems to work ok.) Could you try 2021.0 beta 2 again and let me know if you still have an issue?

[2021-09-09 07:48] ArvidNy commented on #380
Just gave it another try and neither the beta nor the CI runs on my computer unfortunately. This is what the warning looks like in English:
![](https://cdn.osxdaily.com/wp-content/uploads/2019/02/app-is-damaged-cant-be-opened-trash-mac-error.jpg)

I can't set it to run anyways, unless I manually remove the `com.apple.quarantine` attribute first using `xattr -cr Quelea.app` ([source](https://osxdai

[2021-09-09 08:01] berry120 commented on #380
Hmm, that's a pain. Could it be related to it being unsigned?

I'm tempted to release 2021 as is, as I would've thought we'd have lots of
people flag this if it were a wider issue, especially since this is the
case since 2019. I'd like to get to the bottom of it however.

On Thu, 9 Sep 2021, 08:48 Arvid Nyström, ***@***.***> wrote:

[2021-09-09 08:18] PaulD987 commented on #380
@ArvidNy what do you mean by Mac Installer? Isn't it just a zip file containing the App, that can then be run. I just tried https://github.com/quelea-projection/Quelea/releases/download/CI-RELEASE/quelea-CI-UNSTABLE-mac.zip and it worked fine for me on my Mac with Catalina. You have to go into Settings | Security & Privacy and then General tab to enable it to open the first time, but after that, i

[2021-09-09 09:09] ArvidNy commented on #380
@PaulD987 good to hear it's working for you, then it's probably not a general issue. I wrote 'installer' in lack of a better word at the moment. Your steps works for me with 2019.1, but not for any of the more recent releases which is what seems strange to me.

@berry120 sure, if it was a common issue more users would have let us know, so we could probably release it anyways. It feels very likely

[2021-09-09 21:56] berry120 opened #381 "Changing from a non-GB language to GB sometimes corrupts stage text alignment"
As above, changing from a non-GB language to GB seems to sometimes corrupt the stage text alignment. Not entirely sure why yet, but probably something to do with the way we're using labels to infer the `TextAlignment` enum value.

Not considered critical enough to hold up the 2021.0 release as this is a rare operation, but noting it down here so we can fix for 2022.0.

[2021-09-09 22:31] berry120 commented on #348
Could you verify this is still an issue in 2021.0? I'm hoping it should be fixed as we fixed a couple of issues here relating to verse splitting rules.

[2021-09-09 22:34] MistaWizard commented on #348
I will test it. I never had the time to verify what the circumstances were
that were causing it to happen. We haven’t had an issue for a while but it
did happen again this last Sunday. I will let you know my results.

On Thu, Sep 9, 2021 at 6:31 PM Michael Berry ***@***.***>
wrote:

--
Tyler

[2021-09-09 22:35] berry120 commented on #348
Thanks very much, appreciated!

[2021-09-10 22:27] berry120 opened #382 "Verse shortcuts don't work reliably"
When verses are numbered, hitting the corresponding number key should navigate to (for example, if I press the "3" key) verse 3, then further sections under verse 3, then loop back to the first part of verse 3.

Instead, it currently navigates to the first part of (for example) verse 3, then the third section (whatever that's labelled as), then the first part of verse 3 again. This is currently in

[2021-09-11 22:06] berry120 commented on #377
Sorry, one other thing I should have noted to start with - have you got VLC 64 bit installed? You may have the 32 bit version, if so then it won't work with Quelea since it's a 64 bit application.

[2021-09-12 14:54] MistaWizard commented on #348
Ok, I was just able to replicate it using the top number keys on our
projection keyboard using 2020.0. After using the keypad to add the same
verses it didn’t do it again even after doing it with the top keys. I will
test again with the newer version today at home.

On Thu, Sep 9, 2021 at 6:35 PM Michael Berry ***@***.***>
wrote:

--
Tyler

[2021-09-15 12:13] #366 closed

[2021-09-18 19:18] thomasvergouwe opened #383 "Black screen when starting Quelea"
Hi, every time I start quelea I got a black screen and that's it.
Nothing in the task bar, nothing happens when pressing keys, nothing.

When I close it using alt+F4 and restart quelea it says it's already running, so there's something in the background... Please help!

Running it on a hp probook with a ryzen 3 processor with external display connected.

[2021-09-18 20:53] berry120 commented on #383
Hey, firstly could you attach the debug log (https://quelea-projection.github.io/docs/Debug_log.html) and let us know what version you're running?

Secondly, if you try temporary renaming the `.quelea` folder (in `C:\users\USERNAME` on windows) and let us know if that helps it start up, that'll be great. (This contains all your preferences and songs, so essentially means Quelea is starting up as i

[2021-09-19 07:25] thomasvergouwe commented on #383
Hi, here's the debug log after booting it without a second screen. Now nothing happens after I see the Quelea logo.
[quelea-debuglog.txt](https://github.com/quelea-projection/Quelea/files/7191181/quelea-debuglog.txt)

I'm running 2021.0.

I have to reboot my computer now to shut down Quelea properly. After that I can try booting it after renaming the .quelea folder.

[2021-09-19 07:33] thomasvergouwe commented on #383
Ok, when I renamed the .quelea folder it started normally.
Is it possible the problem lies with the bible I imported? That's this one, I changed the extenstion to .txt to be able to upload it here. It was a .xml.
[DutchBBBible.txt](https://github.com/quelea-projection/Quelea/files/7191188/DutchBBBible.txt)

This did work for a while after support for OSIS xml bibles was added.

[2021-09-19 15:04] berry120 commented on #383
I don't think the bible is the issue - it loads fine on my version, and
that shouldn't stop Quelea from opening in any case. Nothing obvious in the
debug log either.

If it's not too big and you can zip up & attach your entire .quelea
directory then that may help me figure out where the issue lies.

On Sun, 19 Sept 2021 at 08:33, thomasvergouwe ***@***.***>
wrote:

--
Thanks,

Michael

[2021-09-21 12:16] berry120 opened #386 "Move to Java 11 + OpenJFX 17 as base"
Task complete, noting here for reference.

[2021-09-21 12:16] #386 closed

[2021-09-22 11:45] thomasvergouwe commented on #383
Sorry for the late reply. I've been busy with other things.

I don't seem to be able to upload the .zip file. So here's a link to it: https://1drv.ms/u/s!AnHn1JU7xwGr30xdaZdJZvTgbEXh?e=8XLQyp

[2021-09-22 22:15] berry120 commented on #346
Adding the hacktoberfest labels as this could be a good candidate for anyone looking to pick up a hacktoberfest task.

The option we're looking to add should be in the options panel, under the "Server settings" category, in the "Mobile Lyrics" section, and called "CORS header". It should just take a standard textfield (the user will supply a string here.)

When the field is blank (the default), th

[2021-09-22 22:17] berry120 commented on #378
@DeeTigIT - this should now be fixed (hopefully.) If you could give the CI release a try at some point and let me know, that'd be awesome. (No rush at all, 2022 isn't going to be out for a while yet!)

[2021-09-22 22:17] berry120 commented on #359
FYI: https://github.com/quelea-projection/Quelea/issues/378

[2021-09-22 22:18] berry120 commented on #374
This should also be a pretty good hacktoberfest candidate. No options to change, we're just updating the default behaviour to something much more sane.

[2021-09-22 22:50] berry120 commented on #36
There's now a branch with this implemented as an icon: https://github.com/quelea-projection/Quelea/tree/36
![Untitled](https://user-images.githubusercontent.com/7595149/134432164-d8dca5b5-6969-423e-8a02-f902e57b65f3.png)

Interested in any thoughts and whether this is useful or not before merging (@DeeTigIT @ArvidNy )

[2021-09-23 05:00] DeeTigIT commented on #383
Using the data from Thomas and the Quelea **2020.0 cross-platform** release I can reproduce this.
My debuglog also ends the same way:

![S1](https://user-images.githubusercontent.com/39883796/134456387-a0161f18-9cf7-459e-aa08-26da5f77002c.JPG)

The Quelea cmd box reported some Java exceptions:

[Quelea cmd box output.txt](https://github.com/quelea-projection/Quelea/files/7215062/Quelea.cmd.box.out

[2021-09-23 08:04] berry120 commented on #383
Thanks for looking into this - yes, this is a known issue with 2020 that
should be fixed in 2021.

The alternative is to go into your quelea.properties file and delete line
77 (that says stage.text.alignment=REPORT AN ISSUE) - it should then start
up normally.

On Thu, 23 Sept 2021 at 06:00, DeeTigIT ***@***.***> wrote:

--
Thanks,

Michael

[2021-09-23 08:26] thomasvergouwe commented on #383
Weird, I thought I was on 2021.0, apparently not! Though my version now says I'm on the latest version (2020.0). So do I need to uninstall 2020.0 and then install 2021.0?

Thanks @DeeTigIT!

[2021-09-23 10:39] berry120 commented on #383
You might have installed it to a separate place? As long as you install it
to the same location then the new version should replace the old one.

On Thu, 23 Sep 2021, 09:26 thomasvergouwe, ***@***.***> wrote:

[2021-09-23 15:18] thomasvergouwe commented on #383
Cool, thanks for this!

[2021-09-23 15:18] #383 closed

[2021-09-25 01:29] Dazmed707 commented on #363
Add #360 for 2022.0

[2021-09-25 05:05] DeeTigIT opened #388 "(CI cross-platform) Java 11/OpenJFX 17 : Error: Could not create the Java Virtual Machine."
After installing the latest CI-RELEASE in "c:\Program Files\Quelea CI-release\" Quelea doesn't start yet, using Quelea.bat:

Unrecognized option: --add-exports=javafx.graphics/com.sun.javafx.css=ALL-UNNAMED
Error: Could not create the Java Virtual Machine.
Error: A fatal exception has occurred. Program will exit.

![S1](https://user-images.githubusercontent.com/39883796/134758754-7d863d71-dd10-4b9

[2021-09-25 06:37] berry120 commented on #388
Hey, could you run `java -version` and paste the output here? I'm wondering if the Java version on your path is 8 (which won't work) or 11+.

We need to add specific instructions to the cross platform installer stating 11+ is now required I think.

[2021-09-25 08:45] DeeTigIT commented on #388
Indeed, it's 8.

I came upon "https://adoptium.net/" (previously: "AdoptOpenJDK") that presents a "OpenJDK 11 (LTS)".
Is (Open)JDK 11 a precondition in using the latest CI-release?

C:\Windows\system32>java -version
java version "1.8.0_301"
Java(TM) SE Runtime Environment (build 1.8.0_301-b09)
Java HotSpot(TM) 64-Bit Server VM (build 25.301-b09, mixed mode)

C:\Windows\system32>

https://stackover

[2021-09-25 09:24] berry120 commented on #388
11 is, yes (and will be going forward including for 2022.0) - though you can just use the JRE image rather than the JDK (eg. https://github.com/adoptium/temurin11-binaries/releases/download/jdk-11.0.12%2B7/OpenJDK11U-jre_x64_windows_hotspot_11.0.12_7.msi)

We've stuck with 8 for a long time now (longer than we would have liked ideally), but it's really starting to show its age as a platform so we'

[2021-09-26 00:57] perfectsoundandvideo commented on #377
Thanks! That fixed it. I didn't realize I had downloaded the 32-bit version.

[2021-09-26 18:39] DeeTigIT commented on #388
After installing "OpenJDK11U-jre_x64_windows_hotspot_11.0.12_7.msi", with default installation options, Quelea CI-CR does start.

![About Quelea 2022 0](https://user-images.githubusercontent.com/39883796/134819782-42cef3b9-2a57-41c6-86d6-b8a7bd1c470d.JPG)

![java -version](https://user-images.githubusercontent.com/39883796/134819720-45767382-0dda-4e6a-b5fd-e5fb010df3d9.JPG)

There are some warning

[2021-09-26 18:43] berry120 commented on #388
Great news!

You can safely ignore those warnings - on some environments they're
required, on others they're not, but it just helps us to keep the command
consistent (they do no harm being there when they're not required aside
from printing those warnings.)

On Sun, 26 Sept 2021 at 19:39, DeeTigIT ***@***.***> wrote:

--
Thanks,

Michael

[2021-09-26 18:45] #388 closed

[2021-09-27 17:47] DeeTigIT opened #389 "(CI 2022.0 cross-platform) : quelea.properties file isn't sorted anymore"
In the past sorting of the quelea.properties file was added:

 SORT quelea.properties file upon Quelea exit #279

But in the current CI 2022.0 cross-platform releases this feature seems to be missing/malfunctioning:

![S1](https://user-images.githubusercontent.com/39883796/134958205-06cd9f61-6419-4c2e-a9ed-50f4861c9cec.JPG)

I'm using:
- Quelea CI-RELEASE 2022.0 cross-platform
- OpenJDK11U-jre_x64

[2021-09-27 18:24] DeeTigIT opened #390 "(CI 2022.0 cross-platform) : default translation not set on song drag-and-drop"
There are three ways to add a song to the Order of Service:
- by dragging the song and dropping it in the Order of Service
- by pressing enter on your keyboard
- right-clicking and selecting “Add to schedule”

**If you drag-and-drop the song : the default translation of the song is not set.**
The default translation is : NL
The song in the clip has a NL translation.

![S1](https://user-images.gith

[2021-09-27 18:42] DeeTigIT commented on #184
(CI 2022.0 cross-platform) : the options dialog does open with Java 11.
**Can this issue be closed?**

![S1](https://user-images.githubusercontent.com/39883796/134966486-85602ede-9253-4526-9009-1c48a9840277.JPG)

![S2](https://user-images.githubusercontent.com/39883796/134966495-60dd28ab-5450-4e39-b26c-34a5260f2751.JPG)

I'm using:
- Quelea CI-RELEASE 2022.0 cross-platform
- OpenJDK11U-jre_x64_win

[2021-09-27 18:46] berry120 commented on #184
@DeeTigIT Yup, I upgraded the library as part of our move to Java 11 as a minimum so all should be good - good spot 👍

[2021-09-27 18:46] #184 closed

[2021-09-27 21:31] #27 closed

[2021-09-28 03:50] Dazmed707 opened #391 "Update PreferencesFX?"
You can update the improvements and FX preference code to read 2022.0 with FX preference versions 11.8 or higher.
https://github.com/dlsc-software-consulting-gmbh/PreferencesFX/releases

[2021-09-28 07:44] berry120 commented on #391
Sorry, not sure what you're asking here? We've already updated our preferencesfx version to 11.8...

[2021-09-28 11:47] berry120 commented on #389
Well spotted!

Technical note: This is because we're using the Apache Commons `SortedProperties` class to sort our properties, and it only overrides `keys()`, not `entrySet()`. This wasn't an issue in Java 8 as the Properties class there used `keys()` in its implementation to write out properties - but the same method in Java 11 uses `entrySet()` instead, hence we lose the ordering.

I've created

[2021-09-28 11:47] #389 closed

[2021-09-28 12:10] berry120 commented on #390
Thanks for spotting - hopefully this should now be fixed :-)

[2021-09-28 18:03] DeeTigIT commented on #389
Thanks!

![S1](https://user-images.githubusercontent.com/39883796/135141145-0deffa95-d1bd-42b5-8064-55c2ea8374bf.JPG)

[2021-09-28 18:30] berry120 commented on #381
Now appears fixed, probably with latest PreferencesFX.

[2021-09-28 18:30] #381 closed

[2021-09-28 18:44] DeeTigIT commented on #390
Confirmed: on drag-and-drop to the schedule the default translation of the song is set now.
Thanks!

[2021-09-28 22:05] #382 closed

[2021-09-28 22:05] #390 closed

[2021-09-29 04:02] Dazmed707 commented on #391
ok

[2021-09-29 04:02] #391 closed

[2021-09-29 13:40] michaelhthomas opened #392 "Feature Request: WebSockets Server for Remote Lyrics & Control"
Having a Websockets server implemented to access lyrics, status, etc. would be a much better approach than constant polling in the web remote and android apps, and would also give a more standardized control api. It also seems pretty trivial to implement a WebSockets server in Java.

[2021-09-29 16:41] NF53 commented on #106
It would be great to see some progress on the Copyright issue - it is required by the CCLI licence.

Yes, some copyright fields are very long - but that can't be a reason to ignore the issue. If that becomes a problem for a particular song, some condensation  by the user would be possible, and better than nothing.

[2021-09-29 17:52] Dazmed707 commented on #360
Add this error for 2022.0 ?

[2021-09-29 17:58] berry120 commented on #360
Afraid this still isn't something we're able to reproduce - it seems to work ok here.

[2021-09-29 22:20] berry120 opened #393 "Remove redundant import statements"
Redundant import statements need to be removed in the following files:

PreferencesDialog.java
QuickEditDialog.java
Schedule.java
SongEntryWindow.java

[2021-09-29 22:24] berry120 opened #394 "Replace anonymous classes with method references"
The following classes at the following locations all use full anonymous classes that can be changed to use Java 8 style method references.

As an example, the relevant code in `BibleSearchTreeView` currently reads:

    this.setOnMouseClicked(new EventHandler<MouseEvent>() {
        @Override
        public void handle(MouseEvent t) {
            trigger(t);
        }
    });

...and it should sim

[2021-09-29 22:27] berry120 opened #395 "Merge identical catch block in OOPresentation"
OOPresentation, lines 439-443 has two identical catch blocks. These should be merged into a single catch block using the Java 7 "pipe" syntax.

[2021-09-29 22:28] berry120 opened #396 "FreeWorshipParser - convert if/else blocks into switch"
FreeWorshipParser, lines 66-75 has a big chunk of if/else statements. This should be converted into a switch statement instead.

[2021-09-29 22:31] berry120 opened #397 "Fix redundant array creation"
There's a couple of places in the code where we use redundant array creation - that is using `Arrays.asList(new String[]{"1", "2",`, etc. rather than just `Arrays.asList("1", "1"`, etc.

Those places are:

ChordTransposer, line 57
ElevantoParser, line 141

[2021-09-29 22:33] berry120 opened #398 "No need to use `.stream().forEach()`"
ScheduleList has a call to `stream().forEach()` - we don't need the stream call here, we can simply do `.forEach()`. Line 282.

[2021-09-29 23:48] jmakhack commented on #398
Hi @berry120, I'd like to work on this issue if available.
I'll create the pull request after the hacktoberfest event officially starts.

[2021-09-30 01:25] Qiwen-Yu commented on #393
Hi, Can I take this issue? This is my first contribution to a real open source project.

[2021-09-30 02:50] Raunak49 commented on #397
hey, i can help you to fix this issue

[2021-09-30 03:34] vancassa commented on #396
Hi, I can help with this. Would you assign it to me?

[2021-09-30 06:49] berry120 commented on #392
When we first started work on this, websockets weren't desperately well supported hence the decision to go with polling. While I'm not against a websocket based system now in theory, in practice we'd have to run the two side by side so that older clients could still connect, which limits the advantages somewhat.

I'll leave this open for now and consider it a bit more, but my main concern here is

[2021-09-30 06:57] matejkobza commented on #392
I believe there is not much to be afraid with websockets. It's just different technology being used for pull of the lyrics. The changes are populated from server side instead of client pull every 2-3seconds if there is an update. Every common browser nowadays supports this feature.

[2021-09-30 07:04] berry120 commented on #392
The issue isn't with supporting old browsers, it's with supporting old versions of the android and iOS apps already out there.

If we were to switch to websockets now, it'd mean those current apps would suddenly cease to work without explanation - we'd have to upgrade the apps themselves, and then hope people installed the updates to those apps. In theory that's fine, in practice it'll almost cert

[2021-09-30 07:08] #352 closed

[2021-09-30 07:29] berry120 commented on #191
Closing this as we don't tend to track translation requests in GitHub issues, but still very happy to receive any new ones! See quelea.org/lang for the process.

[2021-09-30 07:29] #191 closed

[2021-09-30 07:34] #193 closed

[2021-09-30 07:39] berry120 commented on #133
Closing this one off, as per earlier discussions it's not something we're planning (and no-one else has asked in the interim, so I don't think this feature would be used that often either.)

[2021-09-30 07:39] #133 closed

[2021-09-30 07:48] berry120 commented on #398
All yours!

[2021-09-30 07:48] berry120 commented on #397
All yours!

[2021-09-30 07:48] berry120 commented on #396
All yours!

[2021-09-30 07:49] berry120 commented on #393
All yours! Just comment if you need a hand.

[2021-09-30 08:05] ImLateImLateForAVery commented on #193
I've somehow missed every single update here but got the notification that the issue was closed! THANKS THAT'S GREAT ❤️

[2021-09-30 08:31] berry120 commented on #193
Thanks! This should have been closed when the original PR was merged back in March, but we missed it somehow 👍

[2021-09-30 11:46] ayushggr commented on #394
Hi! I am participating in Hacktoberfest 2021! I would like to contribute by closing this issue.

[2021-09-30 11:47] berry120 commented on #394
All yours!

[2021-09-30 13:24] kanumalivad commented on #395
Kindly assign to me

[2021-09-30 13:27] berry120 commented on #395
All yours!

[2021-09-30 16:38] Raunak49 commented on #397
Hey @berry120 , It's my first time contributing to open source so I am facing some problems. If you have some time , can you help me fix them. pls

[2021-09-30 16:44] berry120 commented on #397
@Raunak49 sure, what questions do you have?

[2021-09-30 20:24] #394 closed

[2021-10-01 15:34] Raunak49 commented on #397
I think it will be better if we discuss this on a call because there are many small small problems

[2021-10-01 16:04] berry120 commented on #397
@Raunak49 Sorry, we can't offer calls to help on Hacktoberfest issues - these are designed to be small & clear enough that most developers can pick them up pretty quickly. Very happy to answer any questions here if you still want to list them, otherwise another simpler / smaller project may be easier for you to start contributing 👍

[2021-10-02 02:18] dsfb commented on #273
Hi, @berry120!
Can I help the Quelea project by trying to solve this issue, please?
Obs.: It will be my first Oktoberfest issue!

[2021-10-02 09:03] berry120 commented on #273
@dsfb Sure, all yours! Any questions just ask.

[2021-10-02 09:17] berry120 commented on #393
Fyi - we don't expect all of these fixed in a single pr, just a few will do if multiple people want to take this on 👍

[2021-10-02 09:25] tulikavijay commented on #397
Hey @Raunak49 I would like to work on this

[2021-10-02 11:08] JatinKumarMahaldar commented on #374
hello @berry120  sir , im very new to open source and have some basic knowledge of java and c++ want to start contribute
sir i follow all these steps but got an error( **NO JDK for module Quelea.Quelea.main**) at last step even dough i have JDK version 16

**Right-click on that class in the sidebar and click Debug 'Main.main()'**

[2021-10-02 13:55] berry120 commented on #374
@JatinKumarMahaldar Hey, what IDE are you using? I'll assign this to you for now just to prevent anyone else grabbing it - if you decide not to do it then please let us know so we can unassign it from you and allow someone else to take over.

You should be able to use IntelliJ (you don't need the full edition, community edition is fine) and then run the `org.quelea.windows.main.MainStub` class by

[2021-10-02 13:56] #398 closed

[2021-10-02 14:00] berry120 commented on #397
@tulikavijay Thanks - for future reference, we'd ask that you don't take tasks that are assigned to someone else as they may still be planning to work on them (and this may take a while, especially if they're new to open source development!) Generally if we don't hear anything or there's no progress within a week, we'll clear the assignee and allow others to take it.

@Raunak49 If you still want t

[2021-10-02 14:00] #397 closed

[2021-10-02 14:17] berry120 commented on #148
@jejbr84 Sorry, seem to have completely missed this! I think we've changed the way the bible text is shown reasonably significantly in the last couple of versions, is this still an issue you're having with 2021.0?

[2021-10-02 14:20] berry120 opened #402 "Simplify Timer division"
Timer.java - line 51 is:

`this.minutes = (int) Math.floor(seconds / 60);`

The expression on the right here is unnecessarily complex, we can (and should) just use integer division here (so doing `this.minutes = seconds/60` instead.)

[2021-10-02 14:23] berry120 opened #403 "Use secure VLC download link"
We have a hard-coded VLC download link in Main.java line 329. This link starts "http", and should instead start "https". The rest of the link can remain identical.

[2021-10-02 14:23] husnain950 commented on #402
@berry120 Can you kindly assign this to me?

[2021-10-02 14:26] husnain950 commented on #403
@berry120  Can I take this one please?

[2021-10-02 14:28] berry120 opened #404 "Remove bible upload code"
We no longer support uploading bibles for analysis, as we're now pretty confident Quelea supports all the main XML bible types (and this is another piece of infraustructure that we no longer want to maintain.)

As a result, the legacy code & labels should be removed.

This involves:

 - Deleting the `BibleUploader` class
 - Removing the call to the bible uploader class, and associated dialog (line

[2021-10-02 14:28] berry120 commented on #403
Sure!

[2021-10-02 14:31] berry120 commented on #402
@husnain950 We try to spread these trivial "good first issues" around to give as many people as possible the chance to contribute for the first time, so afraid we'll just assign you the other one for now - hope you understand! (If there's still ones like this to do after Hacktoberfest is complete, then happy for you to pick any up then, but history tells us these ones tend to get snapped up quickl

[2021-10-02 14:32] husnain950 commented on #402
Oh totally Agree 👍

[2021-10-02 14:44] raernon commented on #404
Please, assign it to me. Thank you!

[2021-10-02 14:47] dazzlerkumar commented on #404
You can assign it to me. Thank You

[2021-10-02 14:50] berry120 commented on #404
@raernon All yours!

@dazzlerkumar Sorry, looks like you were just beaten to this one - there should be enough other issues around for you to take another one though 👍

[2021-10-02 14:53] avikkundu commented on #402
want to work on it.

[2021-10-02 14:54] avikkundu commented on #346
want to work on it.

[2021-10-02 14:59] subhamgcon commented on #402
@berry120 Please assign me this.

[2021-10-02 15:01] berry120 commented on #346
All yours!

[2021-10-02 15:37] dazzlerkumar commented on #404
@berry120 , it's fine. let me see the issues log.

[2021-10-02 16:39] JatinKumarMahaldar commented on #374
Caused by: java.lang.reflect.InaccessibleObjectException: Unable to make protected final java.lang.Class java.lang.ClassLoader.defineClass(java.lang.String,byte[],int,int,java.security.ProtectionDomain) throws java.lang.ClassFormatError accessible: module java.base does not "opens java.lang" to unnamed module @1a745ce1

Caused by: java.lang.NullPointerException: Cannot read the array length becaus

[2021-10-02 16:46] berry120 commented on #380
@ArvidNy Are you ok if we close this one, or do you think we should keep it open in case there's anything we can do to track the unsigned issue?

[2021-10-02 16:46] JatinKumarMahaldar commented on #374
Sir i installed IntelliJ Gradle plugin 7.2 and Java SE Development Kit 8   , sir after debugging my desktop screen goes totally black only taskbar was visible. what to do .

[2021-10-02 16:51] berry120 commented on #374
Hey, could you try adding the following VM options to your MainStub configuration?

`--add-exports=javafx.graphics/com.sun.javafx.css=ALL-UNNAMED --add-exports=javafx.base/com.sun.javafx.runtime=ALL-UNNAMED --add-exports=javafx.base/com.sun.javafx.event=ALL-UNNAMED --add-opens java.base/java.lang=ALL-UNNAMED --add-opens javafx.controls/javafx.scene.control=ALL-UNNAMED -Dfile.encoding=UTF-8 -Dprism

[2021-10-02 16:54] berry120 commented on #402
@avikkundu All yours!

@subhamgcon Sorry, looks like you were just beaten to this one but we should have a steady stream of these issues going live when I have time to put them up, so keep an eye out 👍

[2021-10-02 16:54] raernon commented on #404
Please check the pull request #407 for solution.

[2021-10-02 17:02] gajeet11000 commented on #396
Greetings, @berry120
May I take over this issue?

[2021-10-02 17:06] berry120 commented on #396
@gajeet11000 Not yet I'm afraid - we like to give new contributors at least a week to submit a PR, or confirm they're working on the issue, as it can take some people a while to get to grips with the process if open source contributions are new to them. So in this case, if we haven't heard anything by Thursday then we'll put it back up for grabs again. I'll likely publish a few more "easy" issues

[2021-10-02 17:13] berry120 opened #408 "Simplify regex"
LibraryBiblePanel - line 272 has a regex: `(;|,)`

This should be simplified to `([;,])`. Character groups are easier to read IMHO.

[2021-10-02 17:16] berry120 opened #409 "Replace anonymous types with lambdas"
There's a bunch of anonymous types in the code (eg. `AddDVDActionHandler.java`, lines 60-65) that could be simplified to lambda expressions instead.

We'll accept multiple PRs against this issue as there's so many possible candidates.

I'll do my best to keep this list updated as people work on this issue - work needs to be done here in the following classes:

[code]

[2021-10-02 17:22] gajeet11000 commented on #396
My apologies I didn't know that. Even I took a long time on my first contribution, so till then, I'll keep my eyes wide open for those upcoming issues 0_O

Cheers! :)

[2021-10-02 17:23] a-rokay commented on #409
I'll get started on some

[2021-10-02 17:27] berry120 commented on #409
@a-rokay If you could note the ones you're doing here so no-one else conflicts, that'd be great.

[2021-10-02 18:02] gajeet11000 commented on #408
May I take this issue?

[2021-10-02 18:17] Alireza-Sampour commented on #408
This pattern is also repeated in line 312, you may want to take care of this too.

[2021-10-02 18:27] berry120 commented on #408
@Alireza-Sampour Well spotted, thanks - lines 312 and 314 should also be simplified as part of this PR in the same way 👍

[2021-10-02 18:30] #403 closed

[2021-10-02 18:31] berry120 commented on #409
(Just to re-iterate, we can assign multiple people to this issue.)

[2021-10-02 18:34] berry120 opened #411 "Replace unnecessary Integer.valueOf() with Integer.parseInt()"
LibraryBiblePanel.java (line 267) uses `Integer.valueOf()` to parse a string to a boxed integer. We should instead use `Integer.parseInt()` to convert to a primitive integer which is marginally more efficient (there's no need for boxing here.)

[2021-10-02 18:39] berry120 opened #412 "Remove unnecessary boolean unboxing"
There's 4 places in the code we're unnecessarily unboxing boolean values (by using `.booleanValue()`) - this has been unnecessary since Java 5, so the `.booleanValue()` method calls can simply be deleted.

The places where this needs sorting are:

 - VLCWindowDirect, line 110
 - NumberTextField, line 85
 - BigDecimalTextField, line 86
 - BibleSearchDialog, line 151

[2021-10-02 18:42] Sheep-Hunter commented on #411
Hi Sheep-Hunter here i'll grab that

[2021-10-02 18:44] berry120 commented on #411
@Sheep-Hunter All yours!

[2021-10-02 18:47] Sheep-Hunter commented on #411
Thanks

[2021-10-02 18:56] berry120 opened #414 "Replace manual loop with Collections.removeIf()"
There's two places in the code where we remove all nodes that are instances of `Group` from a canvas:

 - LyricDrawer, lines 230-235
 - StageDrawer, lines 141-146

In both cases we can use Collections.removeIf() to do this in one line instead of removing this group. Figuring out the single line required is left as an exercise to whoever wants to take on this task, but it's exactly the same in both

[2021-10-02 18:56] iamHrithikRaj commented on #412
is anyone working on this? if not then please assign me i would like to contribute

[2021-10-02 18:57] berry120 commented on #412
All yours!

[2021-10-02 19:14] #408 closed

[2021-10-02 19:22] berry120 opened #415 "Use Integer.compare & lambda instead of comparing manually"
LineTypeChecker, lines 142-154 defines a `TreeMap` with a custom comparator that uses manual integer comparison in its `compare()` method.

This can be replaced with a one liner by using `Integer.compare()` instead, and using a lambda rather than an anonymous type.

[2021-10-02 19:41] nmarulo commented on #415
hello, can I try to do it?

[2021-10-02 19:45] subhamgcon commented on #414
Please assign this issue to me @berry120 . Please explain what to add and how to add because I am a complete beginner. Thank you

[2021-10-02 19:47] berry120 commented on #415
All yours!

[2021-10-02 19:55] berry120 commented on #414
@subhamgcon This is a one liner, but one I'd like the contributor to figure out on their own so may not be best if you're completely new to coding. Do you still want to give it a go, or wait for one that might be a bit easier?

[2021-10-02 20:08] subhamgcon commented on #414
I want to give it a go. But please tell me what loop to replace? I know it might sound silly but I am complete beginner. Please tell what loop to replace and assign this issue to me. Thank you

[2021-10-02 20:15] berry120 commented on #414
All yours! The loops you need to replace are in the issue description - the names of the files and line numbers are what you need.

[2021-10-02 20:33] #412 closed

[2021-10-02 20:41] Devansh-gaur-1611 commented on #409
Hello @berry120, I want to work on this issue. Can u assign it to me

[2021-10-02 20:45] berry120 commented on #409
@Devansh-gaur-1611  Sure, just list the classes you want to create a PR for so we can keep track of it if others want to work on this too. (Somewhere between 10-15 classes would be a good number I think.)

[2021-10-02 20:48] Devansh-gaur-1611 commented on #409
@berry120 ,Thanks for assigning me. I will list the classes in a while and will post it here in half an hour

[2021-10-02 20:53] berry120 opened #417 "Fix Javadoc errors"
The following Javadoc issues need to be fixed (all of them in a single PR please):

Background - line 52, backgroundLocation should be backgroundImgLocation
BigDecimalSpinner - line 40, JSpinner should have its "link" text removed
DisplayStage - lines 156 & 165 reference a non-existant param, should be deleted
EditSongDBActionHandler - line 37 - should reference "t"
HelpMenu - line 101 - location

[2021-10-02 20:55] berry120 opened #418 "Fix duplicate switch branch"
PreferenceStorageHandler, lines 330-333 contain two cases returning the same value. These should be collapsed into a single return statement, similarly to lines 325-327 in the same file.

[2021-10-02 21:06] soumyo123-prog commented on #418
Can I work on this?

[2021-10-02 21:11] mhechavarria commented on #417
Hello, can i work on this please?

[2021-10-02 21:12] berry120 commented on #417
All yours!

[2021-10-02 21:12] berry120 commented on #418
All yours!

[2021-10-02 21:18] #411 closed

[2021-10-02 21:27] berry120 opened #420 "Remove redundant "new File()" creation"
There's two places in code where we're creating a new `File` object, from a `String`, to pass to a `FileInputStream` - when we should just pass the String instead. They are:

 - PPTPresentation, line 45
 - PPTXPresentation, line 44

[2021-10-02 21:34] joannaz commented on #420
Thanks @berry120!!

[2021-10-02 22:04] #415 closed

[2021-10-02 22:19] iamHrithikRaj commented on #393
Can i work on this as well?

[2021-10-02 22:27] berry120 commented on #393
@iamHrithikRaj Sure, I don't see why not. Just pick 10 or so files and comment here saying what ones you're working on so we don't get conflicts 👍

[2021-10-02 22:32] berry120 commented on #393
@Qiwen-Yu If you could similarly pick 10 or so classes then comment which ones you're planning to take, that'd be fantastic 👍

[2021-10-02 22:34] berry120 opened #422 "Replace manual checking with Math.min() call"
Version.java, lines 146-151 has logic to assign minLength to either `theseParts.length` or `otherParts.length`, whichever is smaller. The if statement here can simply be replaced by a call to `Math.min`.

[2021-10-02 22:37] berry120 opened #423 "Replace manual max calculations with Math.max()"
The following snippets have manual code (using an if statement) to calculate the maximum of two values. They should instead be replaced by calls to `Math.max()`.

 - RCHandler, lines 119-123
 - PresentationPanel, lines 303-307
 - PdfPanel, lines 198-202
 - ImageGroupPanel, lines 197-201

[2021-10-02 22:41] oznakn commented on #422
Hello, I'll be happy to submit a PR about the issue if that's ok.

[2021-10-02 22:42] berry120 opened #425 "Remove "C style" array declarations"
"C style" array declarations are where the brackets form part of the variable name, not the type. For example:

    char arr[]

...is a C style array declaration, which we don't want. The brackets should instead be on the type, like:

    char[] arr

The following classes contain C style array declarations, and all such instances should be fixed:

AparapiLevenshteinDistance
ElevantoLoginDialog
Int

[2021-10-02 22:45] Devansh-gaur-1611 commented on #409
Hello @berry120 ,I have made changes in following classes
AddImageActionHandler
AddPdfActionHandler
AddPowerpointActionHandler
AddSongPromptOverlay
BasicSongPanel
BigDecimalSpinner
BigDecimalTextField
BooleanCell
ClearingEventHandler
DisplayPositionSelector
DisplayStage
EditSongDBActionHandler
EditThemeDialog
ExitActionHandler

[2021-10-02 22:46] berry120 opened #426 "Remove unnecessary semicolons"
We have a bunch of unnecessary semicolons in the following classes (each class contains a single instance of an unnecessary semicolon):

ElevantoImportDialog, line 217
ElevantoPlanDialog, line 278
ImageDisplayable, line 89
LivePanel, line 636
OOPresentation, line 428
PlanningCenterOnlineImportDialog, line 219
PlanningCenterOnlinePlanDialog, line 390
VideoButton, line 137

For example, in VideoButt

[2021-10-02 22:47] nmarulo commented on #423
Hi, I'd like to try it, too.

[2021-10-02 22:47] berry120 commented on #422
All yours!

[2021-10-02 22:50] berry120 commented on #423
Hey, afraid that we're limiting the "good first issues" to one per contributor, just to share them round a bit - they're very popular!

You've done great work on this one (https://github.com/quelea-projection/Quelea/issues/415) which is fantastic, but we're trying to keep it fair by sharing the easier issues around.

[2021-10-02 22:51] nmarulo commented on #423
ok, sorry, no problem.

[2021-10-02 22:52] berry120 commented on #423
No worries at all, thanks for the understanding!

[2021-10-02 22:57] berry120 commented on #409
@Devansh-gaur-1611 Thanks! I've removed those from the list, and added a few comments on your PR 👍

[2021-10-02 23:04] berry120 opened #428 "Use String.repeat()"
Since we've now moved to Java 11 as a base, there's two places where we can remove loops by using `String.repeat()`:

LineTypeChecker, lines 148-150
Clock, lines 99-101

In both these cases, the use of `String.repeat()` also means we no longer need the `StringBuilder`. Similarly  to other issues, finding the correct call to `String.repeat()` is left as an exercise for the contributor.

[2021-10-02 23:11] #422 closed

[2021-10-02 23:18] iamHrithikRaj commented on #428
I'd love to be assigned on this one. :)

[2021-10-02 23:19] iamHrithikRaj commented on #426
I'd love to be assigned on this one. :)

[2021-10-02 23:21] iamHrithikRaj commented on #426
I'd love to be assigned on this one. :)

[2021-10-02 23:22] iamHrithikRaj commented on #393
@berry120 I'll be working on following files

SwitchBibleVersionDialog.java
TestPaneDialog.java
Theme.java
ThemePreviewPanel.java
TranslationChoiceDialog.java
TransposeDialog.java
VideoButton.java
VolumeSlider.java
WebDisplayable.java
WebDrawer.java

[2021-10-02 23:23] berry120 commented on #426
@iamHrithikRaj Afraid we're trying to limit the "good first issues" to one per person at the moment since they're so popular and to give everyone the fairest chance of contributing - hope you understand!

[2021-10-02 23:24] berry120 commented on #393
@iamHrithikRaj Thanks!

[2021-10-03 00:56] Devansh-gaur-1611 commented on #409
Can I also replace anonymous with lambda in other files too

[2021-10-03 00:57] Devansh-gaur-1611 commented on #409
Hello @berry120, Can I also replace anonymous with lambda in other files too

[2021-10-03 01:23] ansavanix commented on #425
Fixed in #429

[2021-10-03 02:16] Astro0mar commented on #423
Did my pull request work out?

[2021-10-03 03:24] sann3 commented on #426
I like to try this one, can you assign it to me ?

[2021-10-03 04:34] JatinKumarMahaldar commented on #374
sir if you don't mind can we discuss this issue in some other platform since i m new to this and quite hard for me to understand quelea, i dont want make this page fill with my question .. at the end it will be helpfull for me .

[2021-10-03 04:39] rustyxlol commented on #428
Hi! Can I do this?

[2021-10-03 04:41] rushikeshadhav commented on #428
Hey can i take this up ?

[2021-10-03 06:17] mihirterna commented on #423
Hi @berry120, I would like to work on this one, can you please assign this one to me?

[2021-10-03 06:22] varnaa commented on #423
@berry120  Hey, I would like to work on this issue. Can you assign it to me ? :)

[2021-10-03 06:35] varnaa commented on #428
@berry120 Hi, I'd like to work on this issue.

[2021-10-03 07:02] berry120 commented on #428
@rustyxlol was first, so all yours 👍

[2021-10-03 07:03] berry120 commented on #426
All yours!

[2021-10-03 07:07] #425 closed

[2021-10-03 07:09] berry120 commented on #423
@mihirterna was first, so all yours!

[2021-10-03 07:25] berry120 commented on #409
@Devansh-gaur-1611 Not for the moment I'm afraid, just to give everyone the best chance of taking some of these issues for the first time. If there's still a bunch of stuff to do at the end of October then you're welcome to it then 👍

[2021-10-03 07:43] berry120 commented on #374
@JatinKumarMahaldar Afraid I don't have any other suitable platforms we can discuss in, but more than happy for you to fill this page with questions 👍

[2021-10-03 07:44] adrian-kong commented on #409
can i do

ContextMenuListCell
DisplayableListCell
DisplayCanvas
DisplayPreview
ExportPDFScheduleSongsActionHandler
ExportPDFSongActionHandler
FontOptionsDialog
FontSelectionDialog
ImageButton
ImageGroupPanel

[2021-10-03 07:45] #426 closed

[2021-10-03 07:46] berry120 commented on #409
@adrian-kong All yours!

[2021-10-03 07:54] berry120 opened #435 "Remove unnecessary contains() check"
LivePanel, lines 430-432 contains an unnecessary `contains()` check - we can just call `remove()` as-is, and it will only remove the item if it exists.

[2021-10-03 07:56] berry120 opened #436 "Remove generic arguments that can be inferred"
The following locations contain generic arguments that can be explicitly inferred by the compiler, and thus can be removed:

 - DisplayGroup, line 153
 - LibrarySongList, line 180
 - ProPresenterPanel, line 74
 - ScheduleList, line 221

[2021-10-03 07:58] berry120 opened #437 "Use Arrays.fill instead of manually filling array"
AparapiLevenshteinDistance, lines 37-39 has a loop that's manually filling an array. This should be replaced with a call to `Arrays.fill()` instead.

[2021-10-03 08:00] berry120 opened #438 "Replace deprecated Json method usage"
VideoPsalmParser, line 59 contains deprecated use of `JsonParser`. We should use the static (non-deprecated) equivalent instead, which is `JsonParser.parseString`.

[2021-10-03 08:02] varnaa commented on #437
@berry120 Hi, I'd like to work on this issue.

[2021-10-03 08:02] PrabhuRaamDev commented on #428
hi I'm good at java. I can solve this issue. Can you assign me this issue?

[2021-10-03 08:02] #404 closed

[2021-10-03 08:02] varnaa commented on #435
@berry120 Hi, I'd like to work on this issue.

[2021-10-03 08:03] berry120 commented on #437
@varnaa All yours!

[2021-10-03 08:04] berry120 commented on #428
@PrabhuRaamDev Afraid this one is already assigned, there should be some other issues up for grabs at the moment though!

[2021-10-03 08:04] jmakhack commented on #438
I can pick this one up @berry120

[2021-10-03 08:14] radiantly commented on #436
Hi, could I take a go at this issue?

[2021-10-03 08:17] vishal675 commented on #435
@berry120  Hi, can you assignee this issue to me

[2021-10-03 08:23] berry120 commented on #436
All yours!

[2021-10-03 08:29] berry120 commented on #438
@jmakhack afraid we're limiting the good first issues to one per contributor for hacktoberfest, just to ensure as many people as possible can contribute. Thanks for the offer though!

[2021-10-03 08:34] jmakhack commented on #438
ok sounds good

[2021-10-03 08:34] Lakshay-Pruthi commented on #396
Can you open the issues to everyone so that anyone can work on it.

[2021-10-03 08:38] JatinKumarMahaldar commented on #374
![image](https://user-images.githubusercontent.com/91683536/135746149-3e1404ab-c17d-4f48-be05-35f76ac95cd0.png)
![image](https://user-images.githubusercontent.com/91683536/135746162-290fad7f-36f2-425b-b67b-0b2acbde061c.png)

sir , is there anything wrong please let me know

![image](https://user-images.githubusercontent.com/91683536/135746237-9f65d0a2-b7f5-4f89-bd1f-31fb93477bab.png)

[2021-10-03 08:40] berry120 commented on #435
@varnaa Afraid we're limiting the good first issues to one per contributor at the mo, just to make sure as many people as possible can contribute.

@vishal675 All yours!

[2021-10-03 08:41] berry120 commented on #396
@Lakshay-Pruthi As above, this one is already assigned and in the interest of fairness, we'll provide at least a week for someone to confirm they're working on it or submit a PR before re-assigning it.

[2021-10-03 08:59] varnaa commented on #435
@berry120  Yes, i totally agree. I commented on multiple issues hoping to be assigned to at least one xD. Thanks for making sure that everyone gets equal opportunity :)

[2021-10-03 09:12] mihirterna commented on #423
@berry120 Created PR #440 for this issue. Please review. Thanks for opportunity.

[2021-10-03 10:50] #437 closed

[2021-10-03 11:25] mslowiak commented on #438
@berry120 Can I pick this up?

[2021-10-03 11:34] lukehayes commented on #438
I would love to help out with this, let me know if you need help.

[2021-10-03 13:33] hackgone commented on #423
Can i work on this issue?

[2021-10-03 13:49] #423 closed

[2021-10-03 13:50] berry120 commented on #423
@hackgone Afraid this one is already done - keep an eye out as we'll likely paste some more of these good first issues shortly.

[2021-10-03 13:51] berry120 commented on #438
@mslowiak All yours!

@lukehayes Sorry, just pipped to the post on this one I'm afraid - I'll sort some other issues out a bit later on though 👍

[2021-10-03 14:01] #418 closed

[2021-10-03 14:03] berry120 commented on #374
Try selecting `Quelea.main` as the module, rather than just `Quelea`?

[2021-10-03 14:07] JatinKumarMahaldar commented on #374
sir i tried  Quelea.main even all the other mode shows same error..

[2021-10-03 14:11] berry120 commented on #374
Hmm, that's an odd one then. Has Gradle definitely synced & run ok? The fact it can't find the `MainStub` class is a bit odd, as it's definitely there! Can you definitely see the file ok in the source directory after you open the project? And are you definitely opening the inner "Quelea" folder as the gradle project, not the top level folder?

(At the moment we're running with Java 11, not 16, so

[2021-10-03 14:14] berry120 opened #443 "Remove unnecessary parameters from substring calls"
`substring()` calls in Java take 1 or 2 parameters - if it takes 1 parameter it just cuts off the given number of characters from the start of the string, if it takes two parameters then it also gives an (exclusive) end position of the string. There's some cases where we're just supplying `str.length()` as the second parameter, which is useless - we should just use the initial one parameter versio

[2021-10-03 14:17] berry120 opened #444 "Use equalsIgnoreCase() instead of toLowerCase().equals()"
There's some places where we're using `toLowerCase().equals()` to check for a case insensitive equality, whereas we could (and should) be using `equalsIgnoreCase()` instead.

These are:

 - LyricDrawer, lines 202, 202, 208, 215, 216, 222
 - Utils, line 324

[2021-10-03 14:18] berry120 opened #445 "Remove redundant empty string parameter"
LibraryBiblePanel, line 266 has an empty string passed to the constructor of `StringBuilder`. This empty string is useless and should be removed.

[2021-10-03 14:18] thevibhu commented on #445
Can I take up this issue?

[2021-10-03 14:20] a-developer-named-mark commented on #444
Hi can I take this?

[2021-10-03 14:20] berry120 opened #446 "Replace single-char substring calls with charAt()"
When using substring to extract a single character, we should use `charAt()` instead, which makes much more sense.

These locations are :
 - SequenceSelectionDialog, lines 340, 343
 - SofParser, line 94

[2021-10-03 14:36] berry120 commented on #444
All yours!

[2021-10-03 14:37] ramisha-anwer commented on #409
Hello @berry120 I would like to make changes to the following

LibraryImagePanel
LibraryPopupMenu
LibrarySongList
LibrarySongPanel
LibrarySongPreviewCanvas

[2021-10-03 14:46] JatinKumarMahaldar commented on #374
Gradle 7.2
------------------------------------------------------------

Build time:   2021-08-17 09:59:03 UTC
Revision:     a773786b58bb28710e3dc96c4d1a7063628952ad

Kotlin:       1.5.21
Groovy:       3.0.8
Ant:          Apache Ant(TM) version 1.10.9 compiled on September 27 2020
JVM:          16.0.1 (Oracle Corporation 16.0.1+9-24)
OS:           Windows 10 10.0 amd64

Source diractory ok

Warnin

[2021-10-03 14:46] rushikeshadhav commented on #446
Hey, I can do this. Please assign me. I will do it asap.

[2021-10-03 14:48] JatinKumarMahaldar commented on #374
At the moment we're running with Java 11, not 16, so that's also something you could try - but it shouldn't make too much of a difference.
sir as per these concern then i have to downlode JDK 11 as well

sir is that  issue may arrise because of java fx

[2021-10-03 14:49] Harshgupta5901 commented on #443
hey @berry120 pls assign me this issue
I will fix it asap

[2021-10-03 14:52] berry120 commented on #445
All yours!

[2021-10-03 14:58] vancassa commented on #396
Hi @berry120, yes I'm currently working on the issue :)

[2021-10-03 15:02] berry120 commented on #396
@vancassa thanks very much for confirming!

[2021-10-03 15:29] berry120 commented on #446
All yours!

[2021-10-03 15:31] berry120 commented on #443
All yours!

[2021-10-03 15:34] Harshgupta5901 commented on #443
pls check #448 thank you

[2021-10-03 15:40] #443 closed

[2021-10-03 16:21] #444 closed

[2021-10-03 16:45] lukehayes commented on #438
@berry120 Not to worry, I'll keep an eye out :+1: